[2022-03-21 16:00] miguelisidoro commented on #1141
Hello @joelfmrodrigues it is working well. Thanks

[2022-03-21 19:51] ravichandran-blog commented on #1125
Root site issue fixed
https://github.com/pnp/sp-dev-fx-controls-react/pull/1162

[2022-03-21 20:57] joelfmrodrigues commented on #1125
@ravichandran-blog many thanks @ravichandran-blog , merged

[2022-03-22 02:58] PathToSharePoint commented on #1125
So the final touch would be to accommodate an `onClear` event handler similar to`onChange`.

Does this look right @ravichandran-blog
[code]
I prefer to ask as I am more familiar with function components, not so much with `this.setState`.

[2022-03-22 05:01] PathToSharePoint commented on #1125
On second thoughts, we could reuse the onChange event handler:
[code]

[2022-03-22 06:22] kpfeuffer commented on #1101
Any updates on this? It doesnt seem to have changed in 3.6.0

[2022-03-22 07:25] aaclage commented on #1161
Hi @kpfeuffer

FilePicker control allow pick one or more files, the same for uploading.
https://pnp.github.io/sp-dev-fx-controls-react/controls/FilePicker/

[2022-03-22 10:00] kpfeuffer commented on #1161
Im aware of this, but it would be great if we could disable multi-selection. We are using it in a context, where multiple files make no sense and want to prevent confusing the users.

[2022-03-22 11:39] joelfmrodrigues commented on #1161
Hi @kpfeuffer I think I understand the suggestion.
You should be able to hide the multi-upload tab by using the `hideLocalMultipleUploadTab` property. This property is available, but seems to be missing from documentation.
I just updated docs so should be published with the next release.
Let us know if this does not solve your problem

![image](https://user-images.githubusercontent.com/19577724/15

[2022-03-22 12:04] kpfeuffer commented on #1161
Hi,

this was more in reference to the recent, your org, stock images, and website-tabs as well. These seem to still allow for multiple picks when the `hideLocalMultipleUploadTab` option is set to true.

[2022-03-22 12:10] joelfmrodrigues commented on #1161
@kpfeuffer I understand your need now. Unfortunately, the control does not currently have a property where we can specify the max number of files to be selected.
If you would be interested in implementing this change, please let us know ☺️

[2022-03-22 15:28] andreasomayrat opened #1163 "Allow the use of multiple groupId's in PeoplePicker"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.0]

#### Expected / Desired Behavior / Question
Allow the use of multiple groupId's in PeoplePicker, as we are in need of multiple and mixed groups (both Microsoft365 Groups and SharePoint groups) for our project.

[code]

#### Observed Behavior
As of now, you can only

[2022-03-22 17:35] PathToSharePoint commented on #1125
I have submitted a PR with the second option: #1165.

[2022-03-23 03:27] rahultrimukhe777 opened #1166 "ListItemAttachments Component is failing to re-render while changing itemID props dynamically"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-03-23 10:24] Whiteshark57 commented on #1136
Hi @AJIXuMuK,
Do you have any update on this ticket?

[2022-03-23 17:06] fabiofranzini commented on #1154
Hi, anyone give me feedback on this? /cc @AJIXuMuK @joelfmrodrigues @joaojmendes 🙂

[2022-03-24 01:12] AJIXuMuK commented on #1136
Hi @Whiteshark57 - I was finally able to fix all build issues.
Version 1.21.3 is available on nom!

[2022-03-24 01:12] #1136 closed

[2022-03-24 09:09] djmrky opened #1170 "TreeView Control is broken after updating to v3.7.0"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version
v3.7.0

#### Expected / Desired Behavior / Question
The tree should load

#### Observed Behavior
Even when using the exact code from the example (https://pnp.github.io/sp-dev-fx-controls-react/controls/TreeView), **the TreeView fails to load** with the following error:

![image](https://user-images.githubusercontent.com/29006279/15

[2022-03-24 10:24] fabiofranzini commented on #1159
With the release 3.7.2 it's all fixed! Thanks 🙂

[2022-03-24 10:24] #1159 closed

[2022-03-24 15:57] stevebeauge commented on #1071
I will close this issue.
Based on some issue with internal projects, I found that pnpjs does not play well with shared packages. At least with the V2 version.
Specifically, in my shared library, I had v2.12 as a dependency, while in my main spfx project I was using the 2.11.
At the end, it did not worked at all, because sp.setup calls seems to be version specific.
Finally, we move sp.setup from th

[2022-03-24 15:57] #1071 closed

[2022-03-25 14:24] AJIXuMuK commented on #1170
Thank you @djmrky for reporting this one.
The fix has been merged. It is available in the beta and will be included in the next release.

[2022-03-25 14:41] djmrky commented on #1170
@AJIXuMuK cool, that's great news

[2022-03-25 15:51] joaojmendes commented on #1154
@fabiofranzini I don't know if someone is  using the control or not..maybe is better to marked as obsolete

[2022-03-25 16:08] fabiofranzini commented on #1154
Make sense for you to make it obsolete and not use it even if set?

[2022-03-25 17:43] joaojmendes commented on #1154
@fabiofranzini for compatibility yes make sense for me.

[2022-03-25 18:09] mikezimm opened #1171 "react list view - is there a way to not make link if the value in linkPropertyName is empty or ''"
#### Category
[ ] Enhancement

[ ] Bug

[ x ] Question

#### Version
"@pnp/spfx-controls-react": "2.0.0",
I am on an older version of spfx so I don't want to try to upgrade the version at this point.

#### Expected / Desired Behavior / Question
I have a view where I'm passing in the 'linkPropertyName' property which is a calculated field which builds up a url.
However, in some cases, the url strin

[2022-03-28 11:48] AdiuTankT72 opened #1172 "[ModernTaxonomyPicker] Display the full path of a term"
#### Category
[ x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
In ModernTaxonomyPicker, It would be great to have the possibility to display the whole path to the term as in the OOTB control. Currently, it is possible just to see the label of the term. In the SharePoint, it is possi

[2022-03-29 07:40] Whiteshark57 commented on #1136
Hi @AJIXuMuK, Thank you it works like a charm.
See you for the Modern Taxonomy Picker integration. ;-)

[2022-03-29 10:47] RicoNL opened #1173 "Peoplepicker: search users in nested security groups"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.7.0 ]

#### Expected / Desired Behavior / Question
Make users from nested Security groups searchable when the groupId is specified in the PeoplePicker.

Changing 'members' to 'transitiveMembers' in PeopleSearchService.ts | searchTenant should do the trick. Ideally imple

[2022-03-31 08:18] bansalanshuman opened #1174 "Dynamic form not working on list validation setting"
#### Category
[] Enhancement

[X ] Bug

[X] Question

#### Version

Latest

#### Expected / Desired Behavior / Question
I have column in my list of type number where I want to capture % value,  and on this column I have configured a max value of 100. This works fine on List form but with Dynamic form, this validation fails and the user can enter any value.

Also I wanted to understand how can I us

[2022-03-31 13:04] Ofer-Gal opened #1176 "FilePicker still needs webAbsoluteUrl for sites not in the context. And Help with "From a link""
#### Category
[ x] Documentation
[x ] Question
#### Version  [ 3.7.2      ]

The documentation states that "webAbsoluteUrl" is not needed but I discovered that it is necessary if it is other than the path of the current context.
If it is using a state variable, make sure it is not null like:
[code]
Please fix the documentation

One more Question:

I have hard time downloading from the `IFilePicker

[2022-03-31 18:15] Arknev opened #1177 "FilePicker, Tiles View, Unable to Select Images from Site Tab"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
To be able to select images while in Tiles View for Site and Your organisation tabs.

#### Observed Behavior
In some cases, the tiles can be clicked but do not show as being selected and the "Open" button remains disabled

[2022-04-03 12:53] mahesh58786 opened #1179 "Treeview control - Issues with initial rendering"
Hello,

I am new to SPFx and react. I am trying to use pnp tree view control (https://pnp.github.io/sp-dev-fx-controls-react/controls/TreeView/#implementation)  as described in the below link:
https://ravichandran.blog/2020/05/14/tree-view-navigation-using-pnp-treeview-control-in-the-sharepoint-framework-spfx-web-part/

I am getting the below error during the initial load itself.
![TreeviewError](

[2022-04-03 13:46] #1179 closed

[2022-04-03 13:49] mahesh58786 commented on #1179
I found the solution. This was getting failed in the below line in TreeItem.js
if (!expanded && props.nodesToExpand.indexOf(props.treeItem.key) != -1) {

So to avoid this I added the property  defaultExpandedKeys in <TreeView> tag,
But this property is not mentioned as mandatory in the documentation https://pnp.github.io/sp-dev-fx-controls-react/controls/TreeView/#implementation.

Thanks

[2022-04-04 13:19] Ryujin-Jakka commented on #723
Hello guys,

I'm using this control on a web part with SPFX 1.4.1 on SP2019.
This control is fantastic!

I have only one question regarding the use of a React.CSSProperties to assign values dinamically.

This is the scenario.
I want to change width and height from the settings of the web part.
So, I'm using a PropertyFieldDimensionPicker to get some values.
![image](https://user-images.githubuserc

[2022-04-04 17:44] mbice commented on #931
@AJIXuMuK sorry I'm not sure how I missed your last ask. This is still an issue for us and we can reproduce it in any browser (Chrome, Edge, etc). If a link is added to the RichText component, it will navigate while in edit mode IF the link is to another page on the same tenant. If the link is external it is not activated. If I link to another pages in the same site, for example, it will navigate

[2022-04-05 21:23] russgove opened #1180 "Comboboxlistitempicker reload options when filter changes"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest        ]

_
#### Expected / Desired Behavior / Question
Comboboboxlistitempicker should refresh options if filter changes
#### Observed Behavior
Comboboboxlistitempicker should refresh options if filter changes
#### Steps to Reproduce
Change the filter on a combob

[2022-04-07 07:18] IRRDC opened #1182 "Treeview collapses on selection of a child node"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
When a child node gets selected the expand/collapse state of the tree nodes should not change.

#### Observed Behavior
The tree collapses to the root node of the selected child node.

#### Steps to Reproduce
After noticin

[2022-04-07 14:15] EldinHb opened #1183 "TaxonomyPicker optional panelSubtitle prop to overwrite the default termSetAndTerms.Name text."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-04-08 12:38] frankyvc commented on #643
+1 I'm experiencing exactly the same issue.

[2022-04-10 23:11] #368 closed

[2022-04-11 20:01] whoisdob opened #1186 "defaultSelectedUsers for Person field on Dynamic Form"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-04-14 20:56] brianpmccullough opened #1187 "npm audit critical dependencies"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-04-19 16:20] walleford opened #1189 "filePicker null Properties"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-04-19 19:55] AJIXuMuK commented on #1182
Thank you @IRRDC for reporting this one!
The fix has been done and will be included in the next release.

[2022-04-19 19:57] AJIXuMuK commented on #1062
The changes have been merged and will be available in the next release.

[2022-04-19 20:55] AJIXuMuK commented on #1163
Thank you @andreasomayrat for submitting and implementing it!

[2022-04-19 21:04] AJIXuMuK commented on #1173
Thank you @RicoNL for reporting and implementing this one!

[2022-04-19 21:22] AJIXuMuK commented on #24
Can be achieved by providing `hideButton={this.displayMode === DisplayMode.Edit}`

[2022-04-19 21:22] #24 closed

[2022-04-22 14:39] AnsariFurqan opened #1191 "Issue in ListItemComments control"
Hello,

I am using ListItemComment control in my spfx web part. I have installed and imported the required package successfully. Please someone help me out that what needs to be passed in the "ServiceScope" props of the 'ListItemComment' component? I am getting an error which is pasted below

Error
Type 'import("D:/Spfx Webparts/Commentstest1/node_modules/@microsoft/sp-core-library/dist/index-inte

[2022-04-23 21:52] joelfmrodrigues commented on #1140
@yungfu Thanks for reporting the issue and it should now be fixed. Can you test with the latest beta version?

[2022-04-23 22:23] joelfmrodrigues commented on #1151
@mhammadsiddiqui many thanks for reporting this issue. It's now fixed in the latest beta release and will be included in the next release.

[2022-04-23 22:29] joelfmrodrigues commented on #1152
@mhammadsiddiqui Thanks for raising this.
Your suggestion sounds like a good improvement, but as it could cause unexpected changes/behaviour to existing implementations after an update, I think we should have a discussion about it first to try to identify any possible issues.

@AJIXuMuK any thoughts on this?

[2022-04-23 22:33] joelfmrodrigues commented on #1153
@Ofer-Gal thanks for the suggestion.
@milanholemans more than happy to get a PR with the change :) Any improvements are welcome.
Please just keep in mind to make the property optional and disabled by default, so anyone upgrading versions would not experience a different behaviour by default.

[2022-04-23 22:41] joelfmrodrigues commented on #1158
Hi @mikezimm, sorry for the late reply
You should be able to do this using the render method for the field (IViewField) as it overrides how the field is rendered. Inside this method, you can do anything, like parsing the multiple values and rendering them. You can even use a custom component to display the info (for example from Fluent UI).
Does this answer your question?

[2022-04-23 22:43] joelfmrodrigues commented on #1172
@AdiuTankT72 thanks for the suggestion. Would you be interested in submitting a PR with the change?
This could be something simple like a new property to control what is the format rendered.

[2022-04-24 22:23] AJIXuMuK commented on #1152
I think it can be done as an optional property.
Default behavior won't change.

But first we need to check if that's feasible (we actually can use classes instead inline styles in the underlying control).
@mhammadsiddiqui - would you be interested in checking/implementing it?

[2022-04-25 10:40] joelfmrodrigues commented on #20
@lukju yes, it uses quill

[2022-04-25 11:39] lukju commented on #20
thanks, @joelfmrodrigues . do you know why the version based on rooster didn't find its way into the product? The dicussion above looks like the POC was successful...

[2022-04-26 07:18] fabiofranzini commented on #1130
Hi @DJoshi23 and @joelfmrodrigues, I tried by using the latest public version of the library (3.7.2) and for me the result is this one (using a SPFx 1.14.0 solution with a standard Web Part deployed as a Teams Tab):

![PlaceholderInTeamsTab](https://user-images.githubusercontent.com/4202747/165242532-622102ed-118a-486c-8356-f59bf995071e.gif)

So, my advice is to update both this library and the wh

[2022-04-26 07:18] fabiofranzini commented on #1130
Hi @DJoshi23 and @joelfmrodrigues, I tried by using the latest public version of the library (3.7.2) and for me the result is this one (using a SPFx 1.14.0 solution with a standard Web Part deployed as a Teams Tab):

![PlaceholderInTeamsTab](https://user-images.githubusercontent.com/4202747/165242532-622102ed-118a-486c-8356-f59bf995071e.gif)

So, my advice is to update both this library and the wh

[2022-04-26 07:45] joelfmrodrigues commented on #1130
@fabiofranzini are you referring to a control/helper that would be responsible for the theme on it's own and could be used with any other control to address the issue?

[2022-04-26 07:48] fabiofranzini commented on #1130
Exactly! The same problem exists for the isolated web parts, it could be solved in this way, by wrapping the controls to be used as children of this "new control". This solves the problem universally, even for all fluent controls.

[2022-04-26 07:50] joelfmrodrigues commented on #1191
@AnsariFurqan I wonder if this is caused by different interfaces due to SPFx version differences. Can you please provide which versions of SPFx and controls you are using?
Also, can you try to pass the scope as 'any' to try to avoid issues with different SPFx versions?
`serviceScope={this.serviceScope as any}`

[2022-04-26 07:52] joelfmrodrigues commented on #1130
Yup, that would be amazing to have 🙂 it's definitely one of the pain points with SPFx in my opinion as it's always complex to handle and test across all scenarios.
I will assign this issue to you 🙂 Many thanks!

[2022-04-26 13:46] fabiofranzini commented on #1130
First implementation done:

![EnhancedThemeProvider](https://user-images.githubusercontent.com/4202747/165313512-fd0d534d-5bd6-4ef2-83d4-ba71f79d6e35.gif)

As you can see, the theme colors are applied based on the selected Teams theme, the same thing for fonts too.
The problem with `Placeholder` control (and many others) is that they don't have direct Themes support.

@joelfmrodrigues do you prefe

[2022-04-26 14:11] fabiofranzini commented on #1130
Ok, I checked the code of the Placeholder control and I realized that sass was used for the style part.
This ensures that the style change is not applied until the page is reloaded, and in fact the behavior is just that. What is best done is:
- add the 'theme' property to the control`s properties
- rewrite the sass part using `@fluentui/merge-styles`
- use the theme property correcly

@joelfmrodri

[2022-04-26 15:21] fabiofranzini commented on #1130
Here is an early version

![EnhancedPlaceholder](https://user-images.githubusercontent.com/4202747/165335118-68760576-96c2-4a71-b03a-624f651bd83c.gif)

[2022-04-27 09:04] joelfmrodrigues commented on #1130
@fabiofranzini sorry for the late reply...
It's looking great! 👏

[2022-04-27 12:29] AnsariFurqan commented on #1191
Hello @joelfmrodrigues ,

Thanks for the reply.
Below is the screenshot of currently installed version of SPFX in my system.
![SpfxVersion](https://user-images.githubusercontent.com/53113561/165518132-58d5603a-3cf4-47a0-8d98-833bea5ddcd4.png)

[2022-04-28 07:24] fabiofranzini opened #1193 "[Placeholder] does not support section variations for themes"
I create this issue to divide the problem described in issue #1130 to correctly separate the two problems described in that issue.

#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#

[2022-04-28 14:36] fabiofranzini opened #1195 "[AccessibleAccordion] does not support section variations for themes"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#### Observed Behavior
The `AccessibleAccordion` control does not support theme variations for page sections as it uses CSS for style

[2022-04-28 14:39] fabiofranzini opened #1196 "[Treeview] does not support section variations for themes"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#### Observed Behavior
The `Treeview` control does not support theme variations for page sections as it uses SASS for styles and ther

[2022-04-28 14:43] fabiofranzini opened #1197 "[TaxonomyPicker] does not support section variations for themes"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#### Observed Behavior
The `TaxonomyPicker` control does not support theme variations for page sections as it uses SASS for styles an

[2022-04-28 14:47] fabiofranzini opened #1198 "[FolderPicker] does not support section variations for themes"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#### Observed Behavior
The `FolderPicker` control does not support theme variations for page sections as it uses SASS for styles and

[2022-04-28 14:48] fabiofranzini opened #1199 "[FolderExplorer] does not support section variations for themes"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version
Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Support section theme variations in SharePoint and/or apply a custom theme to the control

#### Observed Behavior
The `FolderExplorer` control does not support theme variations for page sections as it uses SASS for styles an

[2022-04-29 16:05] fabiofranzini opened #1202 "New control [EnhancedThemeProvider]"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.2]

#### Expected / Desired Behavior / Question
Improved support for themes and fonts when creating Tab or Personal App in SPFx for Teams or creating Isolated Web Parts

#### Observed Behavior
As specified by issue #1130, the use of Fluent UI React in the version current

[2022-05-02 10:52] joelfmrodrigues commented on #20
@lukju Sorry no idea, I was not involved in the discussion and was not a maintainer of the repo at the time. I will try to reach out to Hugo Bernier and see if I can get more info.

[2022-05-02 14:50] joelfmrodrigues commented on #20
@lukju  I think the best idea would actually be to leave this closed thread and open a new issue if there is something that is not working or a suggestion for improvement. We are also happy to review PRs if you want to contribute :)
This thread involved many people and would be challenging to get to the bottom of it

[2022-05-03 12:14] BraunJonathan opened #1203 "[RichText] Icons not visible in Teams"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: 3.7.2

#### Observed Behavior
Icons of the toolbar are not visible in teams.
![image](https://user-images.githubusercontent.com/35366413/166450459-ee1be2e0-20f4-4dfd-ad82-0585948eec8e.png)
The loadLegacyFabricCss property is true in the manifest and i did an explicit initia

[2022-05-03 12:17] BraunJonathan opened #1204 "[Richtext] Toolbar not visible in Fullpage App or teams App"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: 3.7.2

#### Observed Behavior
The toolbar is positionned with an absolute position with a negtive top positioning. In full page aps or in teams the make in partially hidden.
![image](https://user-images.githubusercontent.com/35366413/166451180-d7444446-deb4-4d54-a3ee-f9a736

[2022-05-03 13:35] #1145 closed

[2022-05-03 13:35] #1153 closed

[2022-05-03 13:35] #1154 closed

[2022-05-03 13:35] #1173 closed

[2022-05-03 13:35] #1062 closed

[2022-05-03 13:35] #1180 closed

[2022-05-03 13:35] #1182 closed

[2022-05-03 13:35] #1187 closed

[2022-05-03 13:35] #1195 closed

[2022-05-03 13:35] #1196 closed

[2022-05-03 13:35] #1140 closed

[2022-05-03 13:35] #1151 closed

[2022-05-03 13:35] #1193 closed

[2022-05-03 13:46] #1125 closed

[2022-05-03 17:05] Ofer-Gal commented on #1153
@AJIXuMuK
What will the property be? or How would I get it to work?

[2022-05-03 17:12] milanholemans commented on #1153
@Ofer-Gal you can use the same approach as in the example linked above.

[2022-05-04 09:49] fabiofranzini commented on #1202
Hi all,
just to inform that I'm finished the `EnhancedThemeProvider` control (PR will be available ASAP) that fix the mail problem mention on this issue.

I reimplemented the Hight Contrast Theme (not for all controls, it's a huge work to do that) and the result is this:
![TeamsHC](https://user-images.githubusercontent.com/4202747/166659444-11d832fe-1897-4f07-b977-fd1cd6c33e5c.gif)

[2022-05-04 09:51] fabiofranzini commented on #1130
Hi all, just an update: https://github.com/pnp/sp-dev-fx-controls-react/issues/1202#issuecomment-1117124176

[2022-05-04 10:04] joelfmrodrigues commented on #1202
@fabiofranzini  👏👏👏👏👏

[2022-05-08 00:00] #1158 closed

[2022-05-08 20:33] joelfmrodrigues opened #1208 "Localisation strings for en-gb"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [     3.9.0    ]

#### Expected / Desired Behavior / Question

Localised strings for en-gb.

#### Observed Behavior

Strings currently only available for en-us

[2022-05-09 10:20] AnsariFurqan commented on #1191
Hello @joelfmrodrigues ,
Issue has been solved successfully by passing scope as 'any'. Thanks for your help.

Thanks & Regards,
Furqan Ansari

[2022-05-09 10:20] AnsariFurqan commented on #1191
Hello @joelfmrodrigues ,
Issue has been solved successfully by passing scope as 'any'. Thanks for your help.

Thanks & Regards,
Furqan Ansari

[2022-05-09 10:20] #1191 closed

[2022-05-09 10:26] joelfmrodrigues commented on #1191
@AnsariFurqan glad it worked. It's an unfortunate workaround but we should be able to avoid it when we upgrade the project to the latest SPFx version.

[2022-05-09 10:33] AnsariFurqan opened #1210 "How to add custom css in 'ListItem comment' webpart."
Hello,
Would anyone know how to change the width of the "List item comment" web part. There are some changes that I would like to make in the CSS of the Input Textarea and the Text Display Area, and I would like to hide the Delete button.
 We have tried to change its width using CSS injection, but internally, the 'ListItem Comment' web part uses 'MS-Stack' and the class name is changing dynamicall

[2022-05-10 10:14] PeterWCox commented on #1208
I'll get round to it likely this Sunday :)

[2022-05-10 10:16] joelfmrodrigues commented on #1208
Many thanks! PS: you tagged my great friend Joao Mendes instead of me 😁

[2022-05-10 12:55] joaojmendes commented on #1208
@PeterWCox thanks 😃

[2022-05-11 08:08] PeterWCox commented on #1208
Done! Submitted PR

[2022-05-11 21:34] PeterWCox commented on #1208
Ah sorry guys!

No worries I will do it for this repo too, could you do me a favour and point me to the location of the relevant files/file location - apologies am a bit slow at this open source thing...

[2022-05-12 08:13] joelfmrodrigues commented on #1208
Hi, no worries at all 🙂 and your contribution adds a lot of value!
similar to the other repo:
- src/loc
- - src/common/utilities/LocalesHelper.ts

Let me know if you need something else. I thought about doing the translation, but as English is not my primary language and decided to leave it to someone else as I sometimes get caught by en-us vs en-gb

[2022-05-12 08:45] PeterWCox commented on #1208
Awesome, sorry just noticed now was in the wrong repo as you said - all good I will knock it out sometime today/tomorrow :)

[2022-05-12 08:58] joelfmrodrigues commented on #1208
We appreciate the other contribution as the property controls were also missing the translations 😁

[2022-05-15 01:22] IvanTheBearable opened #1213 "Unable to traverse a TermSet term tree more than 2 levels deep with code in documentation"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 1.6.0 ]

#### Expected / Desired Behavior / Question
Using the sample code from the [documentation](https://pnp.github.io/pnpcore/using-the-sdk/taxonomy-intro.html#working-with-terms) to traverse a TermSet, I expect to be able to traverse a nested term set for as many lev

[2022-05-15 02:18] IvanTheBearable commented on #1213
I'm sorry, I've logged this in the wrong repo. This belongs in https://github.com/pnp/pnpcore.

[2022-05-15 02:18] #1213 closed

[2022-05-16 22:35] AnsariFurqan opened #1214 "Cannot find module 'ControlStrings'"
Hello,
Can someone please help me in this issue. I am using listItemComment controls in my web part to add list item comment functionality. I had taken a local copy of the control and make use of it in my web part so that I can make certain changes in the CSS of the locally installed control and while doing this I had came across issue with 'import strings from "ControlStrings";  '.

In Code If I

[2022-05-19 06:38] yungfu opened #1215 "DynamicForm cannot display lookup value when the source field is not Title"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.2]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
Edit an item which has a lookup field, the lookup field source field is not **Title**, but another cus

[2022-05-20 14:11] RicoNL opened #1217 "DateTimePicker: Clear Date"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.8.0 ]

#### Expected / Desired Behavior / Question
When using the DateTimePicker it would be nice to be able to remove a selected date.

#### Observed Behavior
It is not possible to remove a selectedDate. It is however possible so remove the date by passing in a null va

[2022-05-21 01:35] sparkitect opened #1219 "New Control: [fieldPicker]"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  latest  ]

#### Enhancement
tl;dr: very similar in concept to sitePicker, listPicker, folderPicker, etc. but for Site/List Columns.

Occasionally we need users to select a Column from a specific scope - Site, by Group, by Type, from List, etc.

Having a configurable cont

[2022-05-21 22:07] milanholemans commented on #1219
Hi @sparkitect

Nice suggestion! If I find the time I'm definitely willing to make the controls above.
Can I ask you to create 1 issue for each control? This way we can link each new control to the corresponding issue. So rename this issue to the FieldPicker control and create another similar issue for the ContentTypePicker control.

Thanks!

[2022-05-23 15:25] sparkitect opened #1220 "New Control: [contentTypePicker]"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  latest  ]

#### Enhancement
tl;dr: very similar in concept to sitePicker, listPicker, folderPicker, etc. but for Content Types.

Occasionally we need users to select a Content Type from a specific scope - Current/Other Site, Gallery, Published, by Group, from Library, et

[2022-05-23 15:27] sparkitect commented on #1219
✔ done: Updated this one and added #1220

[2022-05-25 16:32] danwatford opened #1222 "Make Toolbar a controlled component so that selected filters can be managed externally"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version
Please specify what version of the library you are using: [ 3.7.2 ]

#### Desired Behavior
The Toolbar control currently maintains the set of selected filters as internal state, and communicates changes in this internal state to its parent component via calls to a function passed as the onSelectedFiltersChange property.

I would li

[2022-05-26 12:09] mmsharepoint opened #1224 "What about a modern audio control?"
#### Category
[X ] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest]

#### Expected / Desired Behavior / Question
I was thinking if it makes sense to also have a FluentUI-like audio control.
I already implemented one in the following Teams sample:
https://github.com/pnp/teams-dev-samples/tree/main/samples/tab-meeting-record-name
I

[2022-05-28 09:11] manjunathreddy1 opened #1225 "npm package @pnp/spfx-controls-react is not installing"
Hi,

When I try to run the npm installation command npm install @pnp/spfx-controls-react, I'm getting the following error and I'm not able to use pnp spfx controls in my project. Please let us know how we can fix this issue.

Not Found - GET https://registry.npmjs.org/react-mentions/-/react-mentions-4.4.1.tgz - Not found
'react-mentions@https://registry.npmjs.org/react-mentions/-/react-mentions-4.

[2022-05-28 12:46] FaganSC commented on #1225
I'm getting the same thing this morning.
![image](https://user-images.githubusercontent.com/810028/170826117-9e703481-108c-477b-b6fe-72b00bfd864b.png)

[2022-05-28 19:37] MarkusLanger commented on #1225
Same
Node v14.16.1
NPM 6.14.12
SPFx 1.14.0
![image](https://user-images.githubusercontent.com/12131918/170840399-3c5a5036-e73f-4601-b2c5-9c10e21c39f7.png)

[2022-05-28 21:05] hesperanca commented on #1225
Same problem here.

Node: v14.19.1
NPM: V6.14.15
SPFX: 1.14.0

[2022-05-29 12:37] hesperanca commented on #1225
As a workaround for anyone having this issue (until the owners of the 'react-mentions' package fix the issue). Just manually install the previous version of the ''react-mentions' package and then try to install the pnp package again.

Install the previous version of the 'react-mentions':
npm install react-mentions@4.4.0 --save --save-exact

Install the pnp controls:
npm install @pnp/spfx-controls-

[2022-05-29 12:52] manjunathreddy1 commented on #1225
This solutions working. Thanks.

[2022-05-29 13:39] FaganSC commented on #1225
Thanks @hesperanca ! This worked for me as well!

I'm assuming after the package owner resolves their issue, we should be able to remove the "react-mentions" from the package.json
![image](https://user-images.githubusercontent.com/810028/170871832-9e5ea738-b43e-4225-b516-055a18c7a92e.png)

[2022-05-29 14:22] hesperanca commented on #1225
@FaganSC  To ensure that your package.json and the package-lock.json are kept in sync, to uninstall the package you should run: `npm uninstall --save react-mentions@4.4.0`  instead of manually changing the package.json file.

You should then re-run:
`npm install @pnp/spfx-controls-react --save --save-exact`

Which should update the dependencies and, in this case, bring the fixed version of the rea

[2022-05-30 06:54] DennisKuhn opened #1226 "SharePoint term store crashes if pageContext has no cultureinfo"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: 3.8.0

#### Expected / Desired Behavior / Question
Search for a term even if the page has no culture info set.

#### Observed Behavior
An uncaught exception is thrown:

[code]

#### Steps to Reproduce
Use the term picker and search for a term on site without culture info.

[2022-05-30 06:58] DennisKuhn commented on #1226
submit pull request #1227

[2022-05-31 02:50] DennisKuhn commented on #1226
Hello, I have noticed the missing `currentUICultureName` is caused by me when creating an isolated sp context. Sorry for the hassle.

[2022-05-31 02:52] #1226 closed

[2022-06-03 22:08] joelfmrodrigues commented on #1226
@DennisKuhn I have just merged your PR. I assume it's still a valid change as it's only checking that the property is valid?

[2022-06-03 22:45] DennisKuhn commented on #1226
@joelfmrodrigues yes I think so too. It may avoid similar (user) problems in the future ;-)

[2022-06-03 23:58] joelfmrodrigues commented on #1225
@hesperanca many thanks for providing a workaround!

Can someone confirm if this is now resolved? I have just tested at my end and was able to install 3.8.0, so assume the issue was fixed in react-mentions itself

[2022-06-04 04:31] MarkusLanger commented on #1225
Yes, works fine with my original configuration.

[2022-06-07 00:00] AJIXuMuK commented on #1219
Thanks to @milanholemans this has been implemented and will be included in the next release.

[2022-06-07 00:04] AJIXuMuK commented on #1225
it is resolved by now

[2022-06-07 00:04] #1225 closed

[2022-06-07 00:05] AJIXuMuK commented on #1224
@mmsharepoint - sure, it would be really great to have such a control here!

[2022-06-07 00:08] AJIXuMuK commented on #1222
@danwatford - thanks for suggestion!
Please, feel free to submit the PR!

[2022-06-07 00:09] AJIXuMuK commented on #1220
Thank you @sparkitect for the suggestion!
Would you be able to submit a PR for this new control?

[2022-06-07 00:13] AJIXuMuK commented on #1214
@AnsariFurqan - if I understand correctly, you copied a single component from the code but you didn't `nom install` the library - is that correct?
if yes - `ControlStrings` module will not be defined as you simply don't have it.
You will need to copy the appropriate strings definitions to your localization file.

[2022-06-07 01:07] sparkitect commented on #1220
@AJIXuMuK This was a _suggestion_ for a new control, similar to #1219 and I believe that @milanholemans intends to actually develop it...

[2022-06-07 05:59] milanholemans commented on #1220
I'll try to make a PR of this in the next couple of weeks when I find the time.

[2022-06-08 14:29] mmsharepoint commented on #1224
Okay, I'll try that one.
Will start soon as I am currently working on another contribution.

[2022-06-09 13:35] DanielAvilaG opened #1229 "ListView add onUpdateFilter prop"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

 [ 3.7.2]

#### Desired Behavior
It would be great if a method was added to the ListView as a property to be called after applying the filter to the list. That would allow you to implement column-based aggregations, for example.

The change is simple but the utility would be high. I attach a couple of images with a proposal to add

[2022-06-11 23:40] AJIXuMuK commented on #1215
@yungfu - the fix has been done and will be included in the next release.
In a meanwhile you can test it in the [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/)

[2022-06-15 10:41] yungfu opened #1235 "Cannot read properties of undefined (reading 'User') to set PeoplePicker principalTypes"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [     3.7 & 3.8.0    ]

#### Expected / Desired Behavior / Question
[code]
PeoplePicker always get

But if I change the import statement to
`import {PeoplePicker, PrincipalType} from "@pnp/spfx-controls-react/lib/controls/peoplepicker";`
The PeoplePicker rendered successful

[2022-06-16 09:56] fabiofranzini opened #1237 "New control [Adaptive Card Designer Host]"
#### Category
[X] Enhancement
[ ] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.8]

#### Expected / Desired Behavior / Question
Implementation of the Adaptive Card Designer control as reusable react control.
I'm creating this new issue as a reference for the implementation of the new control "Adaptive Card Designer Host".
To better implement this cont

[2022-06-17 03:14] PeterWCox commented on #1235
Thanks @yungfu - replacing the import statements worked for me.

[2022-06-18 01:37] yungfu commented on #1215
@AJIXuMuK -I have do some test, but when the lookup field name is **L1 or other 2 chars name**, lookup value still cannot be display.  In some case, `items(ID)` will return item data with odata field name based on sharepoint field internal name, but not internal name.

[2022-06-18 13:50] AJIXuMuK commented on #1215
@yungfu - just to confirm - field name is 2 chars or field value?

[2022-06-20 03:34] yungfu commented on #1215
@AJIXuMuK  2 chars, lookup field name(not source field) is 2 chars, such as **L1**.

[2022-06-20 18:09] 6gal6ler6 opened #1239 "DynamicForm: May we have have webAbsoluteUrl available for the constructor"
#### Category
[*] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.8.0]

#### Desired Behavior

For the DynamicForm constructor, could `webAbsoluteUrl` become an optional available prop?

The idea is as follows: Add the property as optional in `IDynamicFormProps`

[code]

Then in the `DynamicForm` constructor, change the following code:

[2022-06-21 12:10] EMaarten opened #1240 "ServiceScope' is not assignable"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.8.0]

#### Expected / Desired Behavior / Question
Building SPFx project should be successful.

#### Observed Behavior
Error when building SPFx project:

Types of parameters 'serviceScope' and 'serviceScope' are incompatible.
Type 'import("[Path to project]/node_modules/@

[2022-06-21 14:00] muppanasashikumar opened #1241 "LivePersona is not working in spfx project"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-06-21 14:23] debarunbanerjee2018 commented on #1240
Dont use Servicescope from sp-core-library.

use servicescope as any. It will work.
in my case , it was working feom last month, today i am also facing issue but not regarding servicescope

[2022-06-22 06:25] divosuplente commented on #1241
I confirm that the component is not working. We use a custom component based on the library's LivePersona component. It suddenly stopped working like 2 days ago. No LiveCard is shown when hovering over user coins. No errors are shown in console.

[2022-06-22 06:30] Chipui-Kasar commented on #1241
I started facing this issue yesterday. Let's wait for their update, hope they'll fix it ASAP.

[2022-06-22 07:42] divosuplente commented on #1241
Actually, I think there's nothing the team can do to fix it. The control uses a Sharepoint component for it, and my guess is that it is that component that has suddenly stopped working. The LiveCard component this library provides is based on it

[2022-06-22 08:57] frankyvc commented on #1241
+1 I'm having the same issue. Hopefully there is a quick fix, because this is a blocking issue for my client :( .

[2022-06-22 10:27] AZNak commented on #1241
+1 same issue here

[2022-06-22 15:13] Vighough commented on #1241
+1 same here, it seems that it has stopped working on a lot of tenants on the same time. That makes me assume that it not caused by a gradually rolled out update but rather a switch that Microsoft may have turned off

[2022-06-22 22:18] 6gal6ler6 commented on #1239
[Add support for webAbsoluteUrl #1244](https://github.com/pnp/sp-dev-fx-controls-react/pull/1244)

[2022-06-23 10:17] SharePickle commented on #1241
It looks like Microsoft renamed property `upn` to `legacyUpn`.

[2022-06-23 10:29] SharePickle commented on #1241
I've debugged it and when I change `upn` to `legacyUpn` it works.

![image](https://user-images.githubusercontent.com/32567749/175278562-44c38e24-7039-402b-8dc5-3e0f017e3650.png)
![image](https://user-images.githubusercontent.com/32567749/175278731-9f16167c-e938-490a-9206-0adb3dab7a2e.png)

[2022-06-23 10:39] muppanasashikumar commented on #1241
Could you please let me from where did you find this file location?

[2022-06-23 10:44] SharePickle commented on #1241
Here's the file `https://res-1.cdn.office.net/files/sp-client/sp-webpart-shared_en-us_548b73a3d19b222579a2.js`
Line number `4904` is where it renders the card on hover.
This file could be different for you tenant, just look for `sp-webpart-shared` js file.

[2022-06-23 10:53] divosuplente commented on #1241
I have implemented the change in my own component and I can confirm that it works! thank you so much @SharePickle!

[2022-06-23 10:54] muppanasashikumar commented on #1241
Great man it worked for me. Thanks a lot appreciated. You are a saviour for me. @SharePickle

[2022-06-23 10:54] debarunbanerjee2018 commented on #1241
Many Many Thanks. Was struggling for past 2-3 days. Thank you so much mate. 🙏 Much love from India.

[2022-06-23 11:16] joelfmrodrigues commented on #1241
@SharePickle many thanks for providing a fix!
Just to confirm, is this the change that you implemented within the LivePersona component?
![image](https://user-images.githubusercontent.com/19577724/175286461-ae72ccfa-4113-4709-9a92-eb891ed90eb9.png)

[2022-06-23 11:21] SharePickle commented on #1241
Correct. I also provided a PR with the fix.

[2022-06-23 12:22] joelfmrodrigues commented on #1241
@SharePickle many thanks! will review now

[2022-06-23 12:54] joelfmrodrigues commented on #1241
The PR is now merged and the fix should be available shortly in the auto-published beta release. Thanks @SharePickle !
If someone has the chance to test the beta package that will be available shortly please let us know if everything is resolved.

[2022-06-23 22:53] #1241 closed

[2022-06-24 08:12] joelfmrodrigues commented on #1241
Hey all, just providing a quick update - 3.8.1 released as hotfix to resolve this issue
@SharePickle I will revert your changes from dev and pull them from master - I have added your name to the changes in 3.8.1 so you will still appear as contributor

[2022-06-25 05:49] yungfu commented on #1215
@AJIXuMuK  - dynamicForm is rendered in a webpat, only basic property setted.
[code]
List contains a lookup field named **L1**, **L1** lookuped to an another list Text(also named Text) field not Title, this field value failed to display when loading.

If I delete this lookup field, and create another **Text L1** field. Item resqust response **L1 value** following.

I have test this API in other te

[2022-06-27 13:26] hesperanca opened #1249 "Dependency on an old version of @pnp/sp"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

#### Version
Please specify what version of the library you are using: [     Version 3.8.1    ]

I've noticed that the latest version of the "@pnp/spfx-controls-react" library (version 3.8.1 at time of writing) has a dependency on version 2.5.0 of the "@pnp/sp" library. Are there any plans to upgrade the dependency to a V3 version of the "@pnp

[2022-06-27 17:10] AndreyButyrchik opened #1250 "SitePicker control. Add ability to clear selected site"
#### Category
Enhancement

Please, add ability to clear selection for SitePicker control in single selection mode

[2022-06-27 22:15] AJIXuMuK commented on #1215
@yungfu - thanks for the additional details!

It should be fixed in the latest beta.

[2022-06-28 14:06] PeterWCox commented on #1189
Hi Walleford,

I've used this control without issue before - what code are you using for the onSave and onChange event handlers?

[2022-06-28 14:15] PeterWCox commented on #1217
I'm happy to do this one as a proper first issue :)

@joelmrodrigues - How should we implement the clear button - as a Fluent UI link or primary button? I think the former is a bit nicer - see below crappy paint sketch...

![image](https://user-images.githubusercontent.com/51972024/176201112-1ba6b972-c8f2-467a-b893-d68a3c82de0c.png)

[2022-06-28 19:28] RicoNL commented on #1217
hi @PeterWCox, please be aware that a PR for the clear-button on the datepicker already has been accepted. See #1218 If you see any improvements on that PR, we can discuss it here. Thanks!

[2022-06-29 07:20] manjunathreddy1 opened #1252 "This control is not displaying more than 36 document cards"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-06-30 10:03] yungfu commented on #1235
@AJIXuMuK - Add a `ListPicker` to webpart, and add `import { ListPicker } from '@pnp/spfx-controls-react';`.
[code]
In my project, I import `ListPicker` in another component file. They are all imported to one grandfather component. Finaly, I found that, any component that we can `import { IconPicker or others } from '@pnp/spfx-controls-react';` directly will cause this issue.

[2022-07-05 07:25] Ofer-Gal opened #1253 "serviceScope={serviceScope from AppContext} Does not pass typescript in SPFx 1.15"
#### Category
[ ] Enhancement

[? ] Bug

[ ?] Question

#### Version 3.8.1

Using
[code]
I get TS error:
[code]
How can I use "LivePersona" with hooks deep in child component?
what is "private property '_registrations"

Thanks

[2022-07-05 16:00] AJIXuMuK commented on #1253
@Ofer-Gal  - the library hasn't been updated to SPFx 1.15.0 yet.
You should cast the property to `any` to pass it in.
Or, potentially, do double casting like `as unknown as ServiceScope` where `ServiceScope` is imported as `type` from `@pnp/spfx-property-controls/node_modules/@microsoft/sp-core-library` (not sure though it will work)

[2022-07-05 17:45] walleford commented on #1189
@PeterWCox Sorry for the late response. This is what I use currently, and it works only with uploading from Site assets. I sort of gave up on the uploading from local computer, and just made it to where they could only upload if the picture was already in the site assets. `onChange: (filePickerResult: IFilePickerResult[]) => {
                                          console.log('changing....', f

[2022-07-06 05:09] Ofer-Gal commented on #1253
@AJIXuMuK - Thank you. Both your suggestions worked for TS but the run time failed with error:
[code]

So I will wait for you to add SPFx 1.15 support. I will use MGT for now.
Any idea when you will do it?

[2022-07-06 13:52] OverkillTV opened #1254 "[ListPicker] Incorrect returned value in onSelectionChanged callback for multiSelect"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version
Please specify what version of the library you are using: [ **3.8.0** ]

#### Expected / Desired Behavior / Question
When multiSelect is set to true, "onSelectionChanged" should return an array of currently selected list Ids

#### Observed Behavior
multiSelect is set to true but onSelectionChanged only returns an array of single s

[2022-07-06 23:25] AJIXuMuK commented on #1253
@Ofer-Gal the issue doesn't seem to be related to 1.15. Have you tried the same with 1.14? Is it working?

[2022-07-07 14:34] kodofix opened #1255 "Lodash version can be updated to 4.17.21 for spfx-control-react version 1.21.3 to get rid of vulnerabilities?"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [  1.21.3  ]

#### Expected / Desired Behavior / Question
Hello everyone,

Is possible to update lodash version to 4.17.21 and get rid of vulnerabilities which exist in lodash 4.17.13?
For the on-prem tech stuck I can not use npm "overrides" as I use node 10 and npm 6.

##

[2022-07-07 16:46] PooLP opened #1256 "[FilePicker] - the endPoint for webSearch do not work"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

The endpoint on the current version do not work, replace actual code by (FilesSearchService.ts file / line 145) =>

[code]

[2022-07-07 19:43] bjdekker opened #1257 "Dynamic Form: add children to override field rendering"
#### Category

 [x] Enhancement
 [ ] Bug
 [ ] Question

#### Version

Please specify what version of the library you are using: [3.8.1]

#### Expected / Desired Behavior / Question
Currently, the DynamicForm does not allow for overriding individual fields. So you get the form as is. If you want one field to behave differently, you have to write the entire form yourself. I would like to suggest tha

[2022-07-07 19:48] AJIXuMuK commented on #1257
Thank you @bjdekker for the suggestion!
Would you be able to create a PR for that new feature?

[2022-07-08 07:18] PooLP commented on #1256
it's ok after configuration of my platfom to create a PR (I didn't haved this from replacement of my computer)

[2022-07-08 07:18] #1256 closed

[2022-07-08 18:09] bjdekker commented on #1257
Thank you @AJIXuMuK, I try to find some time the coming days to implement this  and will create a pul request then

[2022-07-12 06:27] IRRDC commented on #1186
It would be nice to generalize this and be able to not only edit values in onSubmitted after the user has finished filling the form but to set initial values too.

[2022-07-12 07:20] IRRDC commented on #1257
This looks like it could be used to hide disabled fields. Looking forward to see it in the next version :-)

[2022-07-12 13:20] #1202 closed

[2022-07-12 13:20] #1219 closed

[2022-07-12 13:20] #1217 closed

[2022-07-12 13:20] #1220 closed

[2022-07-12 13:20] #1224 closed

[2022-07-12 13:20] #1237 closed

[2022-07-13 11:43] IRRDC opened #1264 "Dynamic form: Fields of type Note don't get disabled"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.9.0]

#### Expected / Desired Behavior / Question
Adding internal field names to the disabledFields property should disable the field when the form is shown.

#### Observed Behavior
When the internal name of a field of type Note gets added to the disabledFields array it

[2022-07-14 12:16] IRRDC commented on #1264
I had a look at the code to see if I could fix this myself but am a bit stumped right now. DynamicField.tsx tries to disable the RichText control using this property: `isEditMode={disabled}` which should be `!disabled` I believe. But regardless of the field being in the disabledFields property it is always enabled. I debugged the code to the point where the RichText control gets created and verifi

[2022-07-15 14:47] stevebeauge opened #1265 "People picker selection disappears"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.9.0 + spfx 1.15 ]

#### Expected / Desired Behavior / Question

Using the PeoplePicker component should be controllable (mean getting and settings values from the state).

#### Observed Behavior
The people picker allows gettings its value from the state, and trigger chan

[2022-07-15 14:53] stevebeauge commented on #1265
I also tried to import from `@pnp/spfx-controls-react/lib/controls/peoplepicker`, but the behavior is the same.

As a side note, whatever the actual implementation is, we should be able to import from the module root `import { PeoplePicker } from "@pnp/spfx-controls-react";`

[2022-07-15 15:23] ekapic commented on #1172
Hello folks!
I would like to tackle this improvement. As far as I see it, it's about adding a property into the Modern Taxonomy Picker control that toggles term labels to include all the parents' labels joined with ":" (like OOB SP UI).

Any performance best practices? This would involve getting parent terms for all the items, recursively. Should the result be memoized?

[2022-07-15 16:59] fonbrauzen commented on #1253
@AJIXuMuK any plans, or estimations about when 1.15 will be integrated?

[2022-07-18 06:52] Ofer-Gal opened #1266 "error TS2786: 'RichText' cannot be used as a JSX component."
#### Category
[x ] Bug
#### Version

Please specify what version of the library you are using: [     3.9.0 and   3.10.0-beta.2656830  ]

#### Expected / Desired Behavior / Question
`    <RichText value={m.message} isEditMode={false} /> `
worked fine before SPFx 1.15.0

#### Observed Behavior

I get error:
[code]

Thanks!

[2022-07-18 12:06] stevebeauge commented on #1265
Also tested with SPFX 1.14, same behavior

[2022-07-18 15:20] erik-larson-bwp opened #1267 "Bug: DynamicForm does not properly handle NULL default values for Taxonomy fields"
Taxonomy fields (multi select or single select) with a NULL default value cause the form to fail loading, leaving the user only seeing the spinner and no error message.  Blank string default values are handled properly.

[2022-07-18 15:28] erik-larson-bwp opened #1268 "Bug: DynamicForm errors when submitting blank Taxonomy field values"
When saving from the DynamicForm, if a taxonomy field is blanked out, it tries to process the null value and throws the following error:  "Cannot Read Properties of Undefined (reading 'name')".

Steps to reproduce:
1. Open the DynamicForm for a list item that has an existing Taxonomy field value.
2. Remove the value for the Taxonomy field.
3. Click Save.

Alternatively you can add a taxonomy field

[2022-07-19 15:14] stevebeauge commented on #1265
I managed to find a **ugly** workaround :

[code]

I guess the troubles comes from incorrect typings.

Actually the `onChange` event return a shape of data that match `IPeoplePickerUserItem` property (from pnp react control, not OUI), but is declared as `IPersonaProps` which seems to be the internal components in the picker.

[2022-07-20 12:25] Vertamin commented on #1143
Im in need of this too. Looking for a way to handle modern form submit/close events

[2022-07-22 10:00] RicoNL commented on #1183
@EldinHb We also need this enhancement to the TaxonomyPicker. Did you already create the PR for this?

[2022-07-22 10:24] EldinHb commented on #1183
I never did. To be honest, our requirement changed and we did not need this anymore and I forgot about this issue I started.

[2022-07-22 13:12] vfcupido opened #1272 "FilePicker not select in tile view"
Hi!
I´m using the component for a development but not working correctly.
When I try to select a file of my sharepoint online and I have the tile view selected, I can´t choose an element. I have change the view and jet work. Any bug??

Thanks!

[2022-07-23 15:09] VRomanovTau opened #1273 "People Picker not taken webAbsoluteUrl with ensureUser set to true"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.9.0]

#### Expected / Desired Behavior / Question
I am using this component in my Teams Tab app. My app installed not in root site collection
I expect, that PeoplePicker will search on the web, url I provided in webAbsoluteUrl. But instead it is searching in the root si

[2022-07-28 05:53] M4Mrityu opened #1274 "Not able to show data labels in any chart from PnP ChartControl."
#### Category
[ ] Enhancement

[ ] Bug

#### Version

Latest (3.9.0)

#### Expected / Desired Behavior / Question
I am using @pnp ChartControl in my project where I am creating a pie chart. My expected result is to show labels on the chart itself. I tried my best to show datalabel on the chart but could not get any way.

#### Observed Behavior
I installed extra library(i.e. **chartjs-plugin-datala

[2022-07-28 12:30] ReuvenDan opened #1275 "add support for modernTaxonomyPicker in dynamic form"
#### Category
[ ] Enhancement

[ X ] Bug

[ ] Question

#### Version
  3.6.0  but also in 3.9.0(current latest)
_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
In the  dynamic form conponent
taxonomy field will show as "modern taxonomy picker" and support RTL terms.
field will support

[2022-07-28 18:09] walleford opened #1276 "FilePicker doesn't scroll when searching through site folders"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   3.7.2      ]

When using FilePicker, I expect that if the amount of folders on the site exceeds the amount available to show, it would scroll to see the rest of the folders.
This is the code for the filePicker:
[code]

Thanks!

[2022-07-29 06:45] Leif-Frederiksen opened #1277 "onChange not triggered when clearing date"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-07-30 20:47] milanholemans commented on #1277
Hi @Leif-Frederiksen

Thanks for reporting this issue. According to me this is indeed not ideal, the `onChange` event should be fired every time the date changes in the date picker.
I made a PR to fix this issue.

[2022-08-03 07:54] ekapic commented on #1161
I can tackle this one.

[2022-08-03 19:28] AJIXuMuK commented on #1172
@AdiuTankT72 - this will be included in the next release

[2022-08-03 19:31] AdiuTankT72 commented on #1172
@AJIXuMuK Wow thank you very much! For sure it will be useful in my feature projects.

[2022-08-03 19:33] AJIXuMuK commented on #1277
@Leif-Frederiksen - the fix has been merged and will be included in the next release.

[2022-08-05 01:33] josemonkey commented on #1177
Wondering if there's any update on this? Seeing the same behavior. Cannot select files in "tiles" view.

[2022-08-05 02:13] josemonkey commented on #1177
I'm actually wondering if something went wrong in the last commit. (add39f8724e09d5acf60b3b95376670f9b77fead) When the component was updated to allow multiple selections, the logic in SiteFilePickerTab.tsx (and elsewhere) that is trying to decide whether to enable the primary button once you make a selection has changed:

`           <PrimaryButton
              disabled={this.state.filePickerResu

[2022-08-05 15:15] josemonkey commented on #1177
Sorry if the comment above about PrimaryButton is unhelpful or on the wrong track. Just FYI, I downloaded the sp-dev-fx-controls-react code to try to debug, and it looks as if when **TilesList** is calling **FileBrowser._itemSelectionChanged** the selection object (i.e., this._selection) doesn't appear to be set for some reason. (When DetailsList invokes that same callback, this._selection is set

[2022-08-10 15:08] mtburkett commented on #1109
+1 for the ability to prepopulate the value of the fields with code.

[2022-08-11 06:47] mrrobertsson commented on #999
Hi,

I have similar issues with FolderPicker, I had to implement my own solution by using the FolderExplorer instead, where I could set the absoluteUrl.

How is it going with this, I see that it has been a while since the topic was discussed.

[2022-08-11 06:56] Jwaegebaert opened #1280 "Update docs for `Placeholder` with an example to hide it in read mode"
#### Category

- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: Latest

### Update

The feature request is a bit to verbose to implement within the control itself. To compensate, we will update the docs with an example how this can be achieved.

[code]

More info: https://github.com/pnp/sp-dev-fx-controls-react/pull/1295#discussion

[2022-08-11 06:56] Jwaegebaert commented on #1280
If everyone agrees that this could be a nice enhancement, then I can take it up. 😄

[2022-08-11 08:10] IRRDC commented on #1257
@bjdekker I gave it a test and used it to completely hide some fields or alternatively to display them as disabled with a default value that I than add to the data in onBeforeSubmit. Which works fine (had to have a look at the code to see that I have to set newValue to get required fields to work and skip setting values in onBeforeSubmit). Could do with a nice docu and examples ;-)

[2022-08-11 08:24] mrrobertsson commented on #1265
Hi @stevebeauge

I see that it has been some time since you started this thread and may have come up with a better solution already, but in case that you haven't or other people stumble upon this issue I can post how I solved the issue.

So first of all, the defaultSelectedUsers prop wants a string list of emails according to the documentation
[code]
This can be set by using the return value from

[2022-08-12 21:20] katjones23 opened #1281 "LivePersona - issues with on hover"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

    "@microsoft/sp-core-library": "1.15.0",
    "@microsoft/sp-lodash-subset": "1.15.0",
    "@microsoft/sp-office-ui-fabric-core": "1.15.0",
    "@microsoft/sp-property-pane": "1.15.0",
    "@microsoft/sp-webpart-base": "1.15.0",
    "@pnp/spfx-controls-react": "^3.9.0",
    "office-ui-fabric-react": "7.185.7",
    "react": "16.1

[2022-08-12 22:59] russgove opened #1282 "Security trimming teampicker control"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  latest       ]
teampicker should be able to filter teams based on a users permissions in the team

#### Observed Behavior
teampicker is not  able to filter teams based on a users permissions in the team

#### Steps to Reproduce
filter teams based on a users permissions i

[2022-08-15 06:51] IRRDC opened #1283 "ListItemComments no user photos for users with custom images"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.9.0]

#### Expected / Desired Behavior / Question
When @-mentioning users while writing a comment user photos or placeholder images should be shown for all users.

#### Observed Behavior
When @-mentioning users the preview list of users shows broken image icons for users

[2022-08-15 18:58] russgove opened #1284 "RoleDefinition picker."
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest]

#### Expected / Desired Behavior / Question
It would be nice if we had a RoleDefinition picker. behavior would be the same as in the sp-dev-peopertycontrols.
#### Observed Behavior
We dont have a RoleDefinition  picker
#### Steps to Reproduce
_

[2022-08-16 05:45] martinlingstuyl commented on #1257
Great idea @bjdekker, can't wait to try this out somewhere.

[2022-08-16 19:07] katjones23 commented on #1281
I have additional info: the dynamic data is not the issue.  I have a test with one hard coded entry and multiple dynamic ones.  On initial page load, hover does not work, and I see this message in the console:

![image](https://user-images.githubusercontent.com/53064219/184959504-734495ed-90d4-44a3-ad39-c8698ef025b6.png)

However, if I hover over the page author card first, then all of my LivePers

[2022-08-17 13:13] Arknev commented on #1177
I was just about to upgrade my solution to the most recent versions. Are you saying that the issue persists in 1.15?

[2022-08-17 16:27] josemonkey commented on #1177
Yes, it is present in 3.9.0 as far as I can tell.

[2022-08-18 12:20] bjdekker commented on #1257
@IRRDC  thanks for checking it out! I will take a look at providing some kind of documentation!

[2022-08-19 05:32] webdevelperify commented on #1086
Hi,
I am also facing this issue. I am able to get the required information but the initial values are never populated in the control.

[code]

[2022-08-19 20:53] katjones23 commented on #1281
Issue resolved.  I needed to make a prop for context, typeof WebPartContext, and use that for my serviceScope as this.props.context.serviceScope.

[2022-08-19 20:53] #1281 closed

[2022-08-21 22:06] joelfmrodrigues commented on #1280
Hi @Jwaegebaert sorry for the late reply. Enhancements are always welcome 🙂
As you have volunteered to implement it, I will assign this item to you. Thanks!

[2022-08-21 22:09] joelfmrodrigues commented on #1273
Hi @VRomanovTau , many thanks for logging the issue.
If you have the chance to submit a PR to fix the issue, it would be really appreciated 🙂

[2022-08-23 14:41] cwdata opened #1288 "Does not compile when used with SPFx 1.15.2"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0-beta.2834849]

#### Expected / Desired Behavior / Question
Would be great if this lib could be used with SPFx v1.15.2.

#### Observed Behavior
We used version 3.9.0 without any problems in a project configured for SPFx 1.15.0. After upgrading the project to SPFx 1.1

[2022-08-23 18:48] #1239 closed

[2022-08-23 19:11] 6gal6ler6 opened #1289 "Dynamic Form: Add `enableDefaultSuggestions` true by default for Lookup fields"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-08-23 21:22] 6gal6ler6 commented on #1288
Hello, I am using SPFx version 1.15.2 and I have no problem

These are the dependencies I am using at `package.json`
[code]

[2022-08-24 07:39] kongmengfei opened #1290 "package version conflict regarding LivePersona"
Hello,

I am trying to use pnp control [LivePersona](https://pnp.github.io/sp-dev-fx-controls-react/controls/LivePersona/)  in my spfx project.
this control needs a prop 'serviceScope' , when I pass webpart context to it, it will prompt an error:

![image](https://user-images.githubusercontent.com/57654821/186358218-39b1acbf-b95f-4306-834d-d95936c5854a.png)

Error:

`Type 'import("C:/nline_1.15/no

[2022-08-24 08:33] joelfmrodrigues commented on #1290
Hi @kongmengfei ,

The beta version of the controls is already updated to SPFx 1.15.2 so you can install the beta version until the main release is out.
Or as a temporary workaround, can you try to pass your object as `any`:
[code]

Please let us know if you were able to resolve the issue

[2022-08-24 08:44] cwdata commented on #1288
Ok, you are using "@fluentui/react". We stick to the SPFx standard and use "office-ui-fabric-react".
Afaik it is not supported to use a different major version of UI fabric with SPFx, so we'd like to keep using the standard.

[2022-08-24 10:23] Perneel commented on #1288
I'm having the same issue with "office-ui-fabric-react" and SPFx 1.15.2.

./node_modules/@pnp/spfx-controls-react/lib/common/utilities/ThemeUtility.js
Module not found: Error: Can't resolve '@fluentui/scheme-utilities' in 'C:\gitroot\SPDICT-Archief\node_modules\@pnp\spfx-controls-react\lib\common\utilities'
resolve '@fluentui/scheme-utilities' in 'C:\gitroot\SPDICT-Archief\node_modules\@pnp\spfx-c

[2022-08-24 11:34] sghodela1 commented on #539
I'm also having the same issue. do we have any solution to set collapsed by default?

[2022-08-24 17:50] #1257 closed

[2022-08-24 19:47] c-eiser13 opened #1292 "People Picker returns no results on 3.10.0"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    3.10.0     ]

#### Expected / Desired Behavior / Question
Using tenant search in people picker should return results.

#### Observed Behavior
No results are returned and network error is observed.
![image](https://user-images.githubusercontent.com/42096464/186507508-4

[2022-08-25 02:26] webdevelperify opened #1294 "Not able to Select Multiple Images from FilePicker option against Site, Stock Images, One Drive under Tiles layout"
#### Category
[**x**] **Enhancement**

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   **3.6.0**      ]

**Tried using the latest version of property pane and react control for FilePicker but still this item was missing**

#### Expected / Desired Behavior / Question
**Need multiple image option under Stock Images option**
![image](https://user-ima

[2022-08-25 14:27] cwdata commented on #1288
The problem persists after upgrading to the latest release 3.10.0 of spfx-controls-react even though the release notes say "SharePoint Framework v1.15.2 support".

[2022-08-26 08:50] salascz commented on #1288
@cwdata - what is your node.js version?

There seems to be reference to @microsoft/mgt-spfx "2.3.0" pointing to spfx 1.12.1 :(

[2022-08-26 08:53] cwdata commented on #1288
@salascz  I'm using NodeJS v16.16.0

[2022-08-26 09:16] cwdata commented on #1288
@salascz Thanks for the tip with NodeJS.
I can confirm that my project compiles when using NodeJS v14.15.5
What I did:
- Downgraded NodeJS to v14.15.5 (supported by SPFx v1.12.1)
- Deleted the node_modules folder and package-lock.json from my project
- Did 'npm install'
- Did 'gulp clean' and 'gulp bundle --ship'
There were a bunch of warnings regarding ESLint not supporting that NodeJS version bu

[2022-08-26 09:27] cebud commented on #1288
Package @microsoft/mgt-spfx is supporting spfx 1.15 from version 2.6.1, but in spfx-controls-react 3.10 is used is 2.3.0.

@AJIXuMuK
Shouldn't be @microsoft/mgt-spfx package upgraded to version 2.6.1 for fully supporting spfx 1.15 in spfx-controls-react? Thank you

[2022-08-26 17:05] trueleader commented on #1292
Same problem here

[2022-08-29 06:59] h3nn3 opened #1296 "ListItemPicker search inside multiple columns"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [ 3.10.0 ]

#### Expected / Desired Behavior / Question
Is it possible to use the ListItemPicker and search inside two different columns?
E.g. user types in 'Test' and the picker will search inside the Title column and for example inside an other text column?

#### Steps t

[2022-08-29 11:32] HarminderSethi commented on #1292
I am also getting below error while using PeoplePicker control. Versions used - "@pnp/spfx-controls-react": "^3.10.0",     "@fluentui/react": "^8.92.1", SPFx: 1.15.2
![image](https://user-images.githubusercontent.com/17841313/187191702-5f12a638-bf05-427a-980e-c120e3f04c67.png)

[2022-08-29 12:28] c-eiser13 commented on #1292
Created this PR that should address this issue https://github.com/pnp/sp-dev-fx-controls-react/pull/1293

[2022-08-29 13:51] HarminderSethi commented on #1292
@c-eiser13  I am getting the same error even if I use version 3.5.0 for @pnp/spfx-controls-react with "@fluentui/react": "^8.92.1", SPFx: 1.15.2. Any temporary fix for this?

[2022-08-29 14:03] c-eiser13 commented on #1292
@HarminderSethi I'm using 3.9.0 and do not have these issues, also on SPFx 1.15.2

[2022-08-29 14:22] HarminderSethi commented on #1292
@c-eiser13  this is my package.json

{
  "name": "local-workflow",
  "version": "0.0.1",
  "private": true,
  "main": "lib/index.js",
  "scripts": {
    "build": "gulp bundle",
    "clean": "gulp clean",
    "test": "gulp test",
    "serve": "gulp bundle --custom-serve --max_old_space_size=4096 && fast-serve"
  },
  "dependencies": {
    "@fluentui/react": "^8.93.0",
    "@microsoft/sp-core-librar

[2022-08-29 15:09] HarminderSethi commented on #1292
@c-eiser13 Payload:  ![image](https://user-images.githubusercontent.com/17841313/187233477-e8ff6f28-0c42-4aa2-9bbb-b23f0ea3bb83.png)

response : {"error":{"code":"-1, Microsoft.OData.Core.ODataException","message":"A null value was found for the property named 'SharePointGroupID', which has the expected type 'Edm.Int32[Nullable=False]'. The expected type 'Edm.Int32[Nullable=False]' does not allow

[2022-08-29 15:40] trueleader commented on #1292
you did not fixiate the version of spfx control.
Either:
`"@pnp/spfx-controls-react": "3.9.0",`

or skip the broken version (expecting 3.10.1 will be the next bugfix version fixing this bug):
`"@pnp/spfx-controls-react": "^3.10.1 || 3.9.0",`

[2022-08-29 15:54] EA12 opened #1297 "IconPicker does not work in ListViewCommandSet"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.10.0 ]

Here are the dependencies from the package.json:
[code]

#### Expected / Desired Behavior / Question
The IconPicker should open up when clicking the Button of the CommandSet.

#### Observed Behavior
From my console output I can see that the render method of my

[2022-08-29 15:56] HarminderSethi commented on #1292
^ before the version was the issue. I did not notice this . Thanks for your help :)

[2022-08-29 17:03] josemonkey commented on #1177
Just FYI, I tried version **3.10.0** today, and I still have this problem. (I was hopeful, because I see that **FileBrowser.tsx** appears to have changed in the commit five days ago that @AJIXuMuK did - 256d4a7592913ca97658f3d45bb6bb1f9cb51490)

[2022-08-29 20:59] AJIXuMuK commented on #1177
@josemonkey - my changes were related to upgrading the solution to SPFx 1.15.2.
But thanks for bumping this up - we'll take a look

[2022-08-30 14:46] SmarterJB opened #1298 "DynamicForm - Possibility to add error messages below specific fields"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

#### Version
3.10.0

#### Expected / Desired Behavior / Question
Possibility to write error messages below each field when stopping the save in the onBeforeSubmit method. It would be nice to maybe return an object like
`{"internalFieldName":"This is an error message!"} `
and the dynamic form would render the message below the affected field.

[2022-08-31 07:17] Ofer-Gal opened #1299 "TaxonomyPicker Does not show term set labels in Version 3.10.0"
[ X] Bug

Please specify what version of the library you are using: [  3.10.0      ] SPFx 1.15.0

#### Expected / Desired Behavior / Question
the code:
[code]
Should show all the labels of the  "Document Type" term set to allow selection of one.
#### Observed Behavior
It just shows the spinner forever
![image](https://user-images.githubusercontent.com/5054931/187616479-da744321-4759-4735-8751-1c85

[2022-08-31 14:27] simoncrelling opened #1300 "DynamicForm - fieldOverrides example"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-08-31 16:40] 6gal6ler6 commented on #1300
Hello @simoncrelling

I have implemented that prop as follows:

## Component `DynamicForm`:

[code]

## Component `LookUpFieldRender`:

[code]

Here is another [example ](https://github.com/pnp/sp-dev-fx-controls-react/pull/1259#issue-1299928479) from #1259

[2022-08-31 17:00] EA12 opened #1301 "PeoplePicker late suggestions with groupName assigned"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.8.1 ]

#### Expected / Desired Behavior
The suggestions should come up after typing the 3rd char.

#### Observed Behavior
Most of the time, we need to type 5 or 6 Chars to get suggestions.
Sometimes, depending on the amount of people with nearly same letters, the sugge

[2022-08-31 17:02] EA12 commented on #1297
Nobody?

[2022-08-31 22:12] simoncrelling commented on #1300
That's incredible thank you!

[2022-08-31 22:12] #1300 closed

[2022-09-01 21:00] Gnanavelvengat commented on #425
Taxonomy not showing items

[2022-09-01 21:54] joelfmrodrigues commented on #1272
@vfcupido many thanks for raising this issue. A PR from @VRomanovTau has now been merged into the dev branch and should fix this problem

[2022-09-01 22:36] kenneth-man commented on #1101
A solution is to use the 'renderCustomLinkTabContent' prop to render an a custom input

[code]

[2022-09-01 23:47] manipk commented on #1093
Also request this issue to be resolved. Can we know the status on this bug

[2022-09-03 21:40] centtos26 commented on #723
Hi, try this:
1. In scss
$altura: 250px;
:root {
  --baseAlturaImg: $altura;
}
.pnpImageCarousel {
    .carouselContent {
      height: var(--baseAlturaImg) !important;
    }
}
2. Set
document.documentElement.style.setProperty('--baseAlturaImg',this.props.heightImgComunicados);
 <Carousel
          buttonsLocation={CarouselButtonsLocation.center}
          buttonsDisplay={CarouselButtonsDisplay.bu

[2022-09-06 10:10] Perneel opened #1303 "Dynamic form select term not working"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Observed Behavior
I'm using DynamicForm to edit an item in my list. I have some taxonomy fields which are correctly rendered. However, when clicking on the select terms icon, the panel opens but no terms are loaded. Looking in my network traffic, no call is e

[2022-09-06 10:18] Perneel commented on #1303
This seems to be related to the TaxonomyPicker control: https://github.com/pnp/sp-dev-fx-controls-react/issues/1299

[2022-09-06 10:21] Perneel commented on #1299
I can confirm this is an issue with 3.10.0

[2022-09-07 11:52] manuhinCCS opened #1304 "DragDropFiles: "fullPath" object returned empty in "onDrop" method"
Hi Team,

#### Category
[ ] Bug

#### Version

Please specify what version of the library you are using: [     "@pnp/spfx-controls-react": "3.10.0"    ]

#### Expected / Desired Behavior
url of the droped file should be avaialable in the onDrop property.

#### Observed Behavior
![image](https://user-images.githubusercontent.com/112081775/188870531-5d641753-909a-40f4-aa62-ca70f2787571.png)

#### St

[2022-09-07 12:31] aaclage commented on #1304
Hi @manuhinCCS the fullPath should retrieve the relative folder path the file was uploaded from desktop/explorer and not url if you are making upload directly from url

[2022-09-07 16:19] stevebeauge commented on #1086
In this case, how can you "control" the values within the picker ?

I have a full repro here : https://github.com/stevebeauge/pnpreactrepromoderntaxonomy/blob/main/src/webparts/repro/components/Repro.tsx

I don't get how it should works. Your suggestion only hide the issue (as far as I understand). It does not solve it.

Or I missed something ?

[2022-09-07 16:36] frankyvc opened #1305 "FolderPicker: get folders of other site url instead of the current context/site"
Hi team,

#### Category
[ ] Enhancement, Bug

#### Version
Please specify what version of the library you are using: [ "@pnp/spfx-controls-react": "3.10.0" ]

#### Expected / Desired Behavior / Question
When using the FolderPicker component, i need to be able to select a site url of another site collection (not the one i'm currently at).
With this site url i want to open the FolderPicker component

[2022-09-07 16:53] stevebeauge commented on #1086
This point can reveal a version mismatch beetween @pnp/js used by the spfx controls react and your project.

What you can do either to ensure you use the same version or you can trick with some nice TS feature to alias types:

[code]

[2022-09-07 17:02] stevebeauge opened #1306 "Can't use ModernTaxonomyPicker in a controlled way"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [   3.10.0    ] (worked fine with 3.9.0)

#### Expected / Desired Behavior / Question
It's a common pattern to "control" the value of fields by using some kind of state and define values from the state, then update the state from a onchange

The fluent UI lib for example is

[2022-09-07 17:10] ekdegerman commented on #1235
I get the same error when trying to upgrade to any version I tried <3.10.0 from my current 3.4.1 with both SPFx 1.14.0 and SPFx 1.15.2. Changing the import statement as mentioned by the op helps for me too. Unfortunately 3.10.0 has another issue, as described in #1292

[2022-09-07 17:17] ekdegerman commented on #1292
Any chance for a resolution to this one anytime soon? It would really help, since it is the first version in a long time that doesn't require casting the context as any and breaking the default ESLint rules (no-explicit-any) that came with SPFx 1.15. It also seems to resolve the strange issue described in #1235

[2022-09-07 18:24] omarelanis commented on #1086
The control will manage the selected choices so you just need to set them the state or similar using the OnChange property:

onChange={myHelpers._onTaxPickerChange.bind(this

In my case _onTaxPickerChange is a function that sets a state variable to the selected taxonomy values.

The initial values property has to be an array and is only used to set which terms are selected on load, in my case it w

[2022-09-08 08:30] joelfmrodrigues commented on #1292
@ekdegerman the PR from @c-eiser13 should be merged very soon

[2022-09-08 12:58] joelfmrodrigues commented on #1292
The fix from @c-eiser13 is now on the dev branch and should be in the beta release within a few minutes. If anyone has the chance to test, please let us know if the issue persists.

[2022-09-08 15:03] frankyvc commented on #999
+1 same issue, need absoluteUrl for FolderPicker

[2022-09-09 06:19] ekdegerman commented on #1292
Works fine in my component with the beta version. Probably a pretty simple case, though, just using the people picker separately to allow picking people from all users inside a react function component. This version seems to resolve both issues I've experienced on earlier releases.

[2022-09-09 08:51] vystartasv commented on #1292
People Picker issue is fixed on beta release. You saved my day. Thanks a million @c-eiser13  and @joelfmrodrigues :)

[2022-09-09 08:55] stevebeauge commented on #1086
@omarelanis I think my PR https://github.com/pnp/sp-dev-fx-controls-react/pull/1308 should also fix your issue

[2022-09-09 10:38] omarelanis commented on #1086
Hi Steve,

There is no issue anymore technically, the resolution was to send the taxonomy data as an array instead of as a single object (even if just one taxonomy is retrieved).

I've had a look at your PR  #1308 but I'm not experiencing this issue of it looping like you are, this was for an old project but essentially all I had to do was retrieve the selected taxonomy objects of the field using

[2022-09-09 10:55] omarelanis commented on #1306
@stevebeauge you're code is incorrect which is why you are experiencing this issue, the initialValues is only used to set what is initially selected when you first load the component and should not be updated post component render as it will re-render the whole control.

Imagine for example you have a taxonomy field which already has "Marketing", when the control renders you will send through the

[2022-09-09 11:55] The-fAnatiK opened #1309 "FilePicker change language upload form"
Category
[ ] Enhancement

[ ] Bug

[X] Question

Version
Please specify what version of the library you are using: [3.10.0]

Question
How can i change the language in the file upload form?
![unknown](https://user-images.githubusercontent.com/51714334/189344250-e6eb9ed5-3373-460a-aba5-8d87fdcf67d9.png)

Thanks!

[2022-09-09 12:54] diabhoil commented on #1299
I can confirm that. Its not working. Same problem is reported here (https://stackoverflow.com/questions/73645337/sharepoint-framework-spfx-pnp-pnpjs-with-react-taxonomy-picker-not-working) I guess.

When I debug the code there is in the "SPTermStorePickerService.ts" there is a "this.clientServiceUrl" which is always undefined. Don't know where it should be set and where this is happening in the co

[2022-09-09 13:05] stevebeauge commented on #1306
Sorry @omarelanis, but I still think there's something missing. What you show here will not allow setting the selected terms outside the component itself.

What I tried also :

[code]

This populates the control with default value, but the field is like "readonly". Because onChange triggers the rerender of the control, the initial values are set again and the field keeps the only selection

To cla

[2022-09-09 14:07] omarelanis commented on #1306
Hi @stevebeauge, I've attached a sample gif of how the control should work when you have it setup correctly:

![Taxonomy Example](https://user-images.githubusercontent.com/35841910/189364282-9f5817bc-7f03-4c17-ac1f-dd37d24fcc07.gif)

With the first code snippet can you change allowMultipleSelections to allowMultipleSelections={false}
Also does that first code snippet still load the element as read

[2022-09-09 14:16] omarelanis commented on #1265
@stevebeauge happened to come across this issue you raised, it's the same problem you have in the taxonomy bug you raised, you should not be updating the default or initial values otherwise it will stop the components from working correctly, so in your first code this line:

        defaultSelectedUsers={selectedUserId}

should be a constant value that never changes, you however are updating it in

[2022-09-09 16:20] stevebeauge commented on #1265
Sounds quite limiting. It means the control can only be used in simple scenario :(

[2022-09-12 04:10] manuhinCCS commented on #1304
Hi @aaclage
file was uploaded from my laptop and getting fullPath empty. Not from any url.
Expected result: folder path of the document uploaded from.

[2022-09-12 04:12] aaclage commented on #1304
Hi @, thanks will give a look.

[2022-09-12 05:27] aaclage commented on #1304
Hi @manuhinCCS

Strange cannot reproduce,
Made test with basic control using Edge and Chrome and retreive folder path of file.
![image](https://user-images.githubusercontent.com/8522348/189579571-6829372f-cb17-47ae-8565-6ef34f6a0765.png)

What browser and OS are you using

[2022-09-12 05:46] manuhinCCS commented on #1304
Used both Edge and chrome, getting the same issue.

Processor	Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz   2.50 GHz
Installed RAM	8.00 GB (7.88 GB usable)
System type	64-bit operating system, x64-based processor

Edition	Windows 10 Pro
Version	21H1
Installed on	‎09-‎08-‎2022
OS build	19043.1889
Experience	Windows Feature Experience Pack 120.2212.4180.0

[2022-09-12 06:23] aaclage commented on #1304
One more test please,
Can you create folder with sample files and drag and drop folder to drop area and see what the console prints.

[2022-09-12 06:41] manuhinCCS commented on #1304
When uploading folder i get the below result.
![image](https://user-images.githubusercontent.com/112081775/189588936-d67a085c-1c98-48b2-b18c-4fa3068880de.png)

[2022-09-12 06:42] aaclage commented on #1304
ok this is the expect behavior, root files doesnt appear only when there is a folder this will help create the same folder structure.

[2022-09-12 06:45] manuhinCCS commented on #1304
Then how to get the path/location of the file if I need to upload a file only, without a folder.

[2022-09-12 06:48] aaclage commented on #1304
it's always the root, you will need to define the path of the library where start the upload, for example a sharePoint library, you need to define were start the library root folder https://sharepointsite.sharepoint.com/Documents/ and that is the root where files should drop. Based on your pre defined root are you want to upload the files the fullPath will give the path to create the structure in

[2022-09-12 06:53] manuhinCCS commented on #1304
I want to upload a file from the local drive of my laptop. In that case how to get the path if i need to read the file content in my application?

[2022-09-12 09:32] stevebeauge commented on #1306
I've extended my reproduction repository with a new webpart that reflect more the actual implementation:

https://github.com/stevebeauge/pnpreactrepromoderntaxonomy/blob/92152e2a8ed1112efada88d22d9a5852ee75bf8c/src/webparts/reproInForm/components/ReproInForm.tsx#L111-L137

This contains a workaround I found to avoid the behavior described in the issue.

The trick consists in intercepting the onCha

[2022-09-13 07:40] SmarterJB opened #1310 "DynamicForm - AnchorId of TaxonomyField gets ignored and the whole tree is rendered"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: 3.10.0

#### Expected / Desired Behavior / Question
If I set the anchor in a taxonomy field correctly, the dynamic form should not display all terms from the termset, but instead only the ones from the anchor down, as seen in the screenshot of the standard modern edit form

[2022-09-13 14:05] josemonkey commented on #1177
Hi, just wondering if there's any update on this? Thanks!

[2022-09-14 15:03] Ofer-Gal commented on #1299
Thank you.
Will there be a new version for the fix?

[2022-09-15 09:09] Mario-Po7 opened #1313 "PeoplePicker seems to query People incorrectly"
Hi, I am having trouble getting the People Picker component working. I am wondering if this might be a bug, or if I am just using the component incorrectly.

#### Category
[ ] Enhancement

[x] Bug

[x] Question

Might be a bug, or I am misusing the component

#### Version

Please specify what version of the library you are using: [3.10.0]

#### Expected / Desired Behavior / Question
I expect the P

[2022-09-15 13:37] SmarterJB commented on #1303
Hey!
I submitted a PR fixing that problem here #1311!
Hopefully this is going to be included in Version 3.11!

[2022-09-15 13:41] Mario-Po7 commented on #1313
@SmarterJB Thank you so much for pointing me to that PR. This is exactly what I was looking for, but couldn't find it.

[2022-09-15 13:41] #1313 closed

[2022-09-16 07:52] salascz commented on #1288
@AJIXuMuK: Any update on this?

Thanks

[2022-09-16 11:17] Mario-Po7 commented on #851
I am getting this error using a PeoplePicker.

My versions are:
pnp/spfx-controls-react v3.9.0
SPFx version 1.15.2

Shouldn't this be fixed or is it known that this combination of versions does not work?

[2022-09-17 19:44] AJIXuMuK commented on #1288
I've updated the `mgt` packages.
Please, let me know if the issue still exists.

[2022-09-17 20:17] AJIXuMuK commented on #1306
Infinite loop may appear only if `initialValues` (or any other property from the dependency) is changed.
If the values are the same `useEffect` will not be called.

The change from the PR is actually removing the "controlled" way completely. Changes to `initialValues` will never be reflected.

[2022-09-17 20:26] AJIXuMuK commented on #1303
The PR has been merged and will be included in the next release.
In a meanwhile you can use [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/)

[2022-09-17 20:26] AJIXuMuK commented on #1299
The PR has been merged and will be included in the next release.
In a meanwhile you can use [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/)

[2022-09-19 06:22] stevebeauge commented on #1306
@AJIXuMuK probably the way I fix the issue in the PR is not the good way to solve it. That said, starting from the 3.10, the infinite loop appears (see my repro).

The use of `useState` should cause actually two render. The first with the initial values partially resolved, then the second with the fully resolved picker values. But this second iteration also cause the onchange callback even if the

[2022-09-19 08:37] kodofix commented on #880
@AJIXuMuK if it's possible It will be great if you will add this fix to v1 I'm working with on prem and I just come across this problem now that my listView control sorting alphabetic

[2022-09-19 09:17] SmarterJB opened #1315 "DynamicForm - PeoplePicker preselects wrong user if PrincipalType allows groups"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-09-19 12:28] stevebeauge commented on #1306
If it can help, here's how I overcome the bug, **without** the PR. As I suspected, moving the `parent` attribute of the state seems to solve the issue:

[code]

This way I can switch the pnp's `ModernTaxonomyPicker` by `WrappedModernTaxonomyPicker` to make it works. It'll work until I need to play with parent

[2022-09-19 13:03] SmarterJB opened #1317 "DynamicForm - Use Regional WebSettings for FirstDayOfWeek in DatePicker"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-09-19 14:19] BlazeOfFeathers commented on #1305
Any update about issue?

[2022-09-20 15:43] cardinalpipkin commented on #851
I'm getting this error as well
My versions are:
pnp/spfx-controls-react v3.10.0
SPFx version 1.15.0

My people picker is also not searching and giving a 400 response.

[2022-09-20 17:39] Mario-Po7 commented on #851
@cardinalpipkin The people picker returning a 400 response is most likely this issue: https://github.com/pnp/sp-dev-fx-controls-react/issues/1292. The PeoplePicker is broken in version 1.10.0. Just use 1.9.0 for the time being.

[2022-09-21 07:06] kanade-saket opened #1319 "Dynamic form onBeforeSubmit cancels on return true , misleading"
Hi Team,
I have observed in dynamic form control , for onBeforeSubmit to cancel submission we have to return true from the callback.
Usually in javascript we return false to cancel that event , it is little misleading , at first i could not get it working and after checking the code i observed it cancels on true .
If it cannot be changed , I  am just putting it here so developers like me spend les

[2022-09-21 07:36] cwdata commented on #1288
@AJIXuMuK
I just tested with this version:
`"@pnp/spfx-controls-react": "3.10.0-beta.3081239"`
and it did compile without issues using NodeJS v16.
Thanks for the fix.

[2022-09-21 07:36] #1288 closed

[2022-09-21 08:58] cardinalpipkin commented on #851
@Mario-Po7 Do you mean SharePoint version 1.9.0? Can't I update "@pnp/spfx-controls-react": "^3.10.1 || 3.9.0",?

[2022-09-21 09:01] Mario-Po7 commented on #851
@cardinalpipkin That's exactly what I mean. And that is also the fix/workaround I used. The Problem is in spfx-controls-react. Not in Sharepoint. Maybe I should have been clearer.

[2022-09-21 09:18] Mario-Po7 opened #1320 "How can I clear the selected Persons in the PeoplePicker component?"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [3.9.0]

I can not upgrade to the latest version 3.10.0, because in that version the PeoplePicker is broken. See: https://github.com/pnp/sp-dev-fx-controls-react/issues/1292

#### Question
How can I clear the selected Persons in the PeoplePicker component?

I found a soluti

[2022-09-22 11:26] #1280 closed

[2022-09-22 11:28] joelfmrodrigues commented on #1319
@kanade-saket thanks for raising this. The PR from @SmarterJB was just merged and documentation will be updated in the next release

[2022-09-22 15:00] alexabramkin commented on #1292
Fix in beta version works

[2022-09-27 09:05] martinlingstuyl commented on #1292
Does anyone know when we can expect the release of 3.11?

I need a feature in 3.10 as well as the people picker fix 😁

Using the beta version is ok, but not great for production purposes.

[2022-09-27 12:15] TheThor59 opened #1323 "Unable to find componenet MonacoEditor"
#### Category
[ ] Enhancement

[ ] Bug

[ X] Question

#### Version

- Node: 12.17
- yeoman generator @microsoft/sharepoint: 1.12.1
- SPFx: 1.12.1
- TypeScript: 3.7.7
- React: 16.9
- Gulp: 4.0
- @pnp/spfx-controls-react: 3.10 or 3.7.2

#### Expected / Desired Behavior / Question
I'm not sure that's a bug or a wrong usage from my side.

According to the [documentation](https://pnp.github.io/sp-dev-

[2022-09-27 15:29] TheThor59 commented on #1323
Hello,

I'm back on my ticket as I found a way to work with the component changing the import by:
```import { MonacoEditor} from '@pnp/spfx-controls-react/lib/controls/monacoEditor'```

It seems that the integration of the control is not declared the same way the others are.

After looking in the code, it seems that, in folder "src", the file MonacoEditor.ts was not created. Content shall be:
```e

[2022-09-28 10:23] joelfmrodrigues commented on #1292
Hi @martinlingstuyl
Maybe in a few days, if we can find the time to review pending PRs :)

[2022-09-28 10:26] martinlingstuyl commented on #1292
Ok 👍
And introduce possible bugs by last minute PR merges? exciting! 😁

[2022-09-30 09:24] kongmengfei opened #1324 "how to add style on auto complete dropdown of TaxonomyPicker?"
Hello, i am using TaxonomyPicker in my spfx webpart, it's perfect but has some pity:

![image](https://user-images.githubusercontent.com/57654821/193237847-3dac37b0-a991-4c92-ad0e-ec15c0a5d9eb.png)

-  left margin is too small
-  when the label is too long, it should have some limit

I tried to add some padding left to the dropdown by custom CSS (did not find style prop ) but no success:
![image](

[2022-10-03 13:48] zshane-repoint opened #1325 "FilePicker panel causes SharePoint to Throttle due to infinite loop fetching files"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version
"@pnp/spfx-controls-react": "3.10.0"
AND/OR (i've tried both)
"@pnp/spfx-controls-react": "^3.10.0-beta.3137331"

using SPFx v1.13.1

package.json
[code]

Please specify what version of the library you are using: [3.10.0-beta.3137331]

#### Expected / Desired Behavior / Question
FilePicker panel to retrieve site documents from sel

[2022-10-03 16:13] Vertamin opened #1326 "ListItemComments. Suggestions won't appear when rendering on FluentUi Pannel (Was working until now)"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    3.5.0 ,   3.9.0   ] Happens on both

#### Observed Behavior
List item comments rendered in panel. Rendered suggestions are not visible (even though something happens because panel scrollbar sometimes appears depending on number of comments), probably hidden behind pane

[2022-10-04 07:40] Vertamin commented on #1326
Some more info:

I was able to freeze the DOM and manipulate the component styles while showing the suggestions. For some reason, it gets the "Left" css property wrongly and gets warped out of the page.

Once you deactivate this property, at least it's close to where it has to be.

![List item comments bug](https://user-images.githubusercontent.com/69040799/193762285-cfd07a91-55ae-4d6a-963b-687733

[2022-10-04 13:25] #1292 closed

[2022-10-04 13:27] #1315 closed

[2022-10-04 13:27] #1317 closed

[2022-10-04 13:27] #1319 closed

[2022-10-04 13:27] #1299 closed

[2022-10-04 13:27] #1303 closed

[2022-10-04 13:27] #1273 closed

[2022-10-04 13:28] #1272 closed

[2022-10-04 13:29] Ofer-Gal commented on #1299
Thank You

[2022-10-04 13:39] The-fAnatiK commented on #1309
close

[2022-10-04 13:40] #1309 closed

[2022-10-05 09:35] raclettierer commented on #1306
@stevebeauge  your wrapper works for me. without I have an infinite loop after an update of the library.
Thanks you, hopefully someone can fix these control.

[2022-10-05 15:20] ekdegerman commented on #1292
I see that 3.11.0 is now available as a release here in Github, however [npm](https://www.npmjs.com/package/@pnp/spfx-controls-react) still has 3.10.0 as the latest release. When can we expect 3.11.0 to be available there as well? It seemed instant for the beta release so I thought I'd ask if it is to be expected or something is wrong...

[2022-10-05 16:45] josemonkey commented on #1177
Hi, @AJIXuMuK - Just curious if you or anyone else has been looking into this? Thanks!

[2022-10-05 18:04] Vertamin commented on #1292
Yes please, Im craving for this update!

[2022-10-06 07:01] bva999 opened #1330 "When 3.11.0 becomes available in npm?"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

3.10.0  Version

Hi, When 3.11.0  becomes available in npm?

Thanks!

[2022-10-06 07:48] joelfmrodrigues commented on #1292
@ekdegerman thanks for the heads up, there seems to have been some issue with the action that publishes the release and we will look into it

[2022-10-06 08:30] Vertamin opened #1332 "DateTimePicker "showClearDate" button not disabled when component is set as disabled"
#### Category
[ ] Enhancement

[X] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [ 3.11.0 ]

#### Expected / Desired Behavior / Question
Clear date button should be disabled too when the DateTimePicker is set as disabled.

![image](https://user-images.githubusercontent.com/69040799/194262216-4273ba4e-5ce3-4dd6-95b7-3e3a43a8ed51.png)

I don't know for su

[2022-10-06 09:33] joelfmrodrigues commented on #1292
3.11.0 is now available on npm. Please let us know if you find any issues

[2022-10-06 09:33] joelfmrodrigues commented on #1330
@bva999 thanks for raising this issue. 3.11.0 is now available on npm. Please let us know if you find any problems.

[2022-10-06 09:33] #1330 closed

[2022-10-07 03:33] mikezimm opened #1333 "How do I render a SharePoint Rich Text Field in the React ListView control"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [    3.7.2     ]
https://github.com/pnp/sp-dev-fx-controls-react/tree/master/src/controls/listView

#### Expected / Desired Behavior / Question
I have a rich text column from a SharePoint list and I am trying to render it in the component.

#### Observed Behavior
It just re

[2022-10-11 08:02] BollietMZK commented on #1132
Hi,
This problem is still present and the FilePicker component does not take into account the SharePoint theme.
Do you know if there are plans to fix this behavior in the roadmap?

[2022-10-11 15:58] PeterWCox commented on #1325
I have exactly the same as OP - see minimum reproducible repo here https://github.com/PeterWCox/BrokenFilePicker.

Whenever I select a file, it is immediately unselected and the network tab goes ham with requests eventually resulting in an 'out of memory' exception

![image](https://user-images.githubusercontent.com/51972024/195141476-7aa13a37-2b10-4581-94cf-d2ce06ab82b1.png)

![image](https://use

[2022-10-14 10:54] VRomanovTau commented on #1325
Hello @PeterWCox
I have pushed the PR to fix this issue. Hope it will be released soon

[2022-10-14 11:13] zshane-repoint commented on #1325
@VRomanovTau great thanks! I ended up downgrading my pnp version to v2 and everything is working fine now. Luckily I didn't have any dependencies on v3 so it was an easy transition.

[2022-10-15 06:38] 6gal6ler6 commented on #1333
I use this NPM package: [react-html-parser](https://www.npmjs.com/package/react-html-parser)

And then I use the Components as follows using render `render`

[code]
I hope this helps you!

[2022-10-15 14:25] fabiofranzini commented on #1323
@TheThor59 I fixed this issue... This fix will be available into the next release... Thanks

[2022-10-16 22:01] #1323 closed

[2022-10-17 09:48] NizarGrindi opened #1337 "Can't use the ContentTypePicker control"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

#### Version [3.11.0]

#### Observed Behavior
The ContentTypePicker control can't be used as described in the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/controls/ContentTypePicker/#implementation)

`(alias) class ContentTypePicker
import ContentTypePicker
JSX element class does not support attributes because it does not have

[2022-10-25 18:58] pothitos-baikas opened #1344 "PeoplePicker - delay in first time content rendering with large number of users in defaultSelectedUsers property"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-10-31 16:31] NishkalankBezawada commented on #1305
Hello, I have opened a [pull request](https://github.com/pnp/sp-dev-fx-controls-react/pull/1345) and tested it (Please check the screenshots attached in the PR).

Fingers crossed.

//Nishkalank Bezawada

[2022-10-31 18:12] russgove opened #1346 "SitePicker: add HubId to filter to only sites within a hub"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  3.7  ]

#### Expected / Desired Behavior / Question
We should add an optional  HubId to the sitePicker Control. If you want to search just for a site that is a member of the hub.

[2022-11-01 22:38] ajl80 opened #1348 "WebPartTitle - Placeholder Variant Issue"
#### Category
[x] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.9.0]

#### Expected / Desired Behavior / Question
The placeholder text doesn't change with the variant theme
![image](https://user-images.githubusercontent.com/48059045/199353648-8ddfc625-d44d-4379-a973-364248fa6983.png)

#### Observed Behavior
The variant theme applies

[2022-11-02 02:07] kadu-jr commented on #1346
Looks like a fair addition. I try to implement it and get back to you over the weekend.

[2022-11-02 14:35] divewoot opened #1349 "PeoplePicker component with SPBrowser"
#### Category
[ x] Question

#### Version
Please specify what version of the library you are using: [ 3.10.0 ]

#### Question
While not able to deploy a solution as Spfx. . . have a react app loaded to sharepoint page via content editor webpart. Using SPBrowser from @pnp/sp to handle authentication, the react app is able to read people fields from a list and display these in a desired table format

[2022-11-03 15:50] NishkalankBezawada commented on #1346
Hello @russgove & @kadu-jr

We already have a property called "[additionalQuery](https://pnp.github.io/sp-dev-fx-controls-react/controls/SitePicker/#implementation)," which, if supplied, will be added as part of the AND operator in the search query. If mode is set to site or web, then it applies.

To obtain the sites that are linked to hub sites, simply enter the hubsite id in the property to the

[2022-11-03 17:55] kadu-jr commented on #1346
Hi @NishkalankBezawada,

Yeah, I took a brief look at the code yesterday and realized that, indeed, the developer is already able to implement that. However, I think it would be a nice addition to have this option built-in, especially given that the component already has a 'mode' property and that the developer would need an additional query to fetch the hubId to insert in the query. I'm thinking

[2022-11-04 10:46] ferrarirosso opened #1350 "FilePicker, browsing Site / Doclibs loops and floods SPO Service with requests and causes http 429"
#### Category
[x] Bug

#### Version

Please specify what version of the library you are using: [ 3.11.0]

#### Expected Behavior
Use of the FilePicker to browse a document library with at least one document and select the document

#### Observed Behavior
Open file picker, select Site and then a document library with at least one document causes a flood of requests to the SPO services resulting in

[2022-11-04 10:49] gnisch opened #1351 "TaxonomyPicker validate empty value if required is set to true"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-11-04 11:09] ferrarirosso commented on #1350
Fixed in this [PR](https://github.com/pnp/sp-dev-fx-controls-react/pull/1352)

[2022-11-04 16:55] AJIXuMuK commented on #1306
@patrikhellgren has fixed the infinite loop and also stated (as the owner of the control) that it CANNOT be used in the controlled way without a refactoring.
See the linked PR.

[2022-11-04 17:09] AJIXuMuK commented on #1305
Thanks to @NishkalankBezawada it will be fixed/improved in the next release.

[2022-11-04 17:15] AJIXuMuK commented on #1350
Thanks to @ferrarirosso this will be fixed in the next release.

[2022-11-07 11:20] rakeshrelan118 commented on #1257
@AJIXuMuK, Can you please share example for the usage

[2022-11-07 15:43] cardinalpipkin commented on #1301
I also have this issue.
The dependencies I use:
  "dependencies": {
    "@microsoft/sp-core-library": "1.15.0",
    "@microsoft/sp-lodash-subset": "1.15.0",
    "@microsoft/sp-office-ui-fabric-core": "1.15.0",
    "@microsoft/sp-property-pane": "1.15.0",
    "@microsoft/sp-webpart-base": "1.15.0",
    "@pnp/logging": "^3.7.0",
    "@pnp/sp": "^3.7.0",
    "@pnp/spfx-controls-react": "^3.9.0",

[2022-11-08 08:14] martinlingstuyl commented on #1257
Hi @rakeshrelan118 ,
@bjdekker has planned to create an example blog on this.

Basically it can be set up as follows:

[code]

I believe you can use the `fieldProperties` to update the value of the field that should be submitted.

[2022-11-09 16:41] F-Benjamin opened #1353 "FilePicker: 404 error when trying to reach sharepoint"
#### Category
[ ] Enhancement

[X] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [ 1.19.0 ]

#### Bug
Using FilePicker to reach a sharepoint site I got a 404 error with this function getSiteMediaLibraries

Can I access and/or modify FileBrowserService.ts ?
I need to change line 63 64 from attached file below

![fileBrowserService](https://user-images.gi

[2022-11-09 23:38] ekapic commented on #1093
Hi there!
I've fixed this issue in PR #1354

[2022-11-10 06:51] PeterWCox commented on #1350
In the meantime you can downgrade to V2 @ferrarirosso which worked for me.

  "@pnp/spfx-controls-react": "^2.9.0",

[2022-11-10 19:02] SemperYak opened #1355 "ListItemPicker - use list name as well as GUID to point to list"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  v3.11  ]

#### Expected / Desired Behavior / Question
Currently, you need the list GUID to point to a list using the 'listId' property. However, can you also add the option to point to a list name? It would be consistent with other PnP patterns.

If we migrate a solution

[2022-11-12 12:08] josemonkey commented on #1177
@Arknev I'll take a look soon and reply here. Might not be until Monday, though.

[2022-11-13 22:18] joelfmrodrigues commented on #1093
@kallejar many thanks for reporting the issue.
The PR from @ekapic has now been merged and the fix will be in the beta release shortly. Will also be included in the next main release.

[2022-11-13 22:26] joelfmrodrigues commented on #1355
@SemperYak many thanks for the suggestion. Would you be interested in submitting a pull request with the changes?

[2022-11-13 22:31] joelfmrodrigues commented on #1095
@RicoNL sorry for the very long delay on this. Could you please double-check with the latest release? If still an issue, would you be able to try to fix and submit a pull-request?

[2022-11-13 22:35] joelfmrodrigues commented on #919
@njabsDI really sorry for the very long delay. Are you able to confirm if you are still experiencing this issue with the latest version?

[2022-11-13 22:38] joelfmrodrigues commented on #998
@Whiteshark57  just doing some house cleaning...could you please confirm if this issue is now resolved?

[2022-11-13 22:41] joelfmrodrigues commented on #999
@mhintner could you please confirm if this issue is now resolved based on the pull request from @petkir ?

[2022-11-13 22:44] joelfmrodrigues commented on #1010
@Ashwini-Blore many thanks for reporting this issue and really sorry for the long delay.
Could you please confirm if this still happens with the latest version, and if so, would you be able to help fix it and submit a pull request?

[2022-11-13 22:47] joelfmrodrigues commented on #1082
@CV-Ankit really sorry for the long delay. Could you please provide more details about the problem? Is the issue happening when trying to select both user accounts within the same field? If so, can both accounts be selected separately?

[2022-11-13 22:53] joelfmrodrigues commented on #1090
@notariorob many thanks for your comment.
@fareedmohammad could you please confirm if the suggestion above resolved your problem?

[2022-11-13 22:56] joelfmrodrigues commented on #1080
@Katli95 Really sorry for the late reply.
There was a similar issue reported here #1090 and a reply providing info on how to avoid URL changes. https://github.com/pnp/sp-dev-fx-controls-react/issues/1090#issuecomment-1050167556
Could you please confirm if this resolves your issue?

[2022-11-13 23:08] joelfmrodrigues commented on #1087
@rzkalva11 sorry for the long delay.
I'm not sure that the control supports your requirement.
The control is based on the Details List control from Fluent UI, and the current styles for multiple groups seems to be the ones supported by the Details List control: https://developer.microsoft.com/en-us/fluentui#/controls/web/detailslist/grouped

There is another Fluent UI control, Grouped List, that s

[2022-11-13 23:19] joelfmrodrigues commented on #1113
@Ofer-Gal really sorry for the long delay. Is this still an issue, or were you able to resolve it?

[2022-11-13 23:34] joelfmrodrigues commented on #1156
@JLRishe  sorry for the very late reply.
The first option seems more flexible as this way the onClick handler could still be used for different things that don't necessarily require list id and item id.

Would you or @milanholemans  be willing to help with the changes and submit a PR?

PS: I'm not from MS :)

[2022-11-13 23:40] joelfmrodrigues commented on #1166
@rahultrimukhe777 sorry for the late reply. The control doesn't seem to currently support updates when properties change as this doesn't seem to be implemented. Would you be available to help implement this?

[2022-11-13 23:46] joelfmrodrigues commented on #1171
@mikezimm sorry for the late reply to this. Based on your comments to https://github.com/mikezimm/drilldown7/issues/114, can this be closed, or is it still an issue?

[2022-11-13 23:56] joelfmrodrigues commented on #1265
@stevebeauge I see your point, but unfortunately the control can not be fully controlled.
I will close this bug based on the response from  @omarelanis, but if you are willing to update the component to be fully controlled, we would be happy to review the PR 🙂

[2022-11-13 23:56] #1265 closed

[2022-11-13 23:58] joelfmrodrigues commented on #1255
@kodofix closing this issue as PR was merged. Many thanks!

[2022-11-13 23:58] #1255 closed

[2022-11-14 00:03] joelfmrodrigues commented on #1208
@PeterWCox sorry for chasing you on this, I know very well how hard it is to find time to contribute, but just checking if you would still be able to help with the translations for this repo, or otherwise, I can un-assign this issue from you and mark it as "help wanted"

[2022-11-14 00:09] joelfmrodrigues commented on #1266
Hi @Ofer-Gal , this is likely an issue with imports. Would you be able to help with the issue?

[2022-11-14 00:12] joelfmrodrigues commented on #1282
Hi @russgove , sorry for the late reply, and thanks for the suggestion. Are you still available to help implement this?

[2022-11-14 06:07] Ofer-Gal commented on #1266
Be happy to. How do you want me to test it?

[2022-11-14 06:28] Ofer-Gal commented on #1113
Works fine in SPFx 1.15.2 and  spfx-controls-react 3.9.0
thanks

[2022-11-14 06:28] #1113 closed

[2022-11-14 09:39] joelfmrodrigues commented on #1266
@Ofer-Gal not sure what is the exact cause of the issue at this point, but may be worth checking two previous pull requests for other controls that may be related as having similar issues:
https://github.com/pnp/sp-dev-fx-controls-react/pull/1336/files
https://github.com/pnp/sp-dev-fx-controls-react/pull/1338/files

[2022-11-14 09:41] lenard-a opened #1356 "RichText: multi-level ordered lists are not saved correctly"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.11.0]

#### Expected / Desired Behavior / Question
User should be capable to save multi-level ordered lists in Rich Text field.

#### Observed Behavior
When a user starts an ordered list and uses tab to add a new list level, the content is saved with one level only.

###

[2022-11-14 15:49] joelfmrodrigues commented on #1174
@bansalanshuman thanks for raising this. Documentation for onBeforeSubmit was recently updated and I hope it's now easier to understand: https://pnp.github.io/sp-dev-fx-controls-react/controls/DynamicForm/

@IRRDC many thanks for the example

[2022-11-14 15:54] joelfmrodrigues commented on #1174
@bansalanshuman regarding the max value validation, I don't think that the control currently supports this. Would you be interested in helping implementing it and submit a pull request?

[2022-11-14 16:00] joelfmrodrigues commented on #1176
@Ofer-Gal regarding the reference to downloading the content from files, was this the same issue as raised previously here: https://github.com/pnp/sp-dev-fx-controls-react/issues/1113 ?

[2022-11-14 16:04] jackpoz commented on #999
just for reference, https://github.com/pnp/sp-dev-fx-controls-react/pull/1340 deals with FilePicker while https://github.com/pnp/sp-dev-fx-controls-react/pull/1345 deals with FolderPicker (so related to this issue)

[2022-11-14 16:07] joelfmrodrigues commented on #1183
@EldinHb  and @RicoNL  sorry for the late reply to this. Would any of you still be interested in implementing the change and submitting a PR?

[2022-11-14 16:20] joelfmrodrigues commented on #1189
@walleford sorry for the late reply. Like @PeterWCox , I have used this control multiple times without issues.
This is an example for the onSave from a recent project:
[code]
uploadFiles is just a function that handles the file upload.

Would you be able to provide more details about the issue?

[2022-11-14 20:07] Whiteshark57 commented on #998
@joelfmrodrigues
Hi, yes I confirm this issue is resolved.
See you.

[2022-11-14 20:45] RicoNL commented on #1183
@joelfmrodrigues I will look into it.

[2022-11-14 20:46] RicoNL commented on #1095
@joelfmrodrigues I will look into it.

[2022-11-15 01:21] PeterWCox commented on #1189
I also uploaded a (very rough and ready) sample to illustrate the process of using the FilePicker.

There is a separate demo for both URL's and Images (the latter of which also supports uploading files from your local hard drive)

![image](https://user-images.githubusercontent.com/51972024/201803007-053b471a-7d47-4308-9568-32b73ebb851e.png)

https://github.com/PeterWCox/SPFX-FilePicker-Sample

Hop

[2022-11-15 01:36] PeterWCox commented on #1208
On it!

[2022-11-15 02:29] PeterWCox commented on #1208
@joelfmrodrigues can you send me a link to a commit where someones added a locale?

I've basically done it but I must have forgot to edit the code somewhere as get this message when I run gulp serve --locale=en-gb

![image](https://user-images.githubusercontent.com/51972024/201811661-ad785673-ac1b-4f0f-8f85-be6fb059adcc.png)

Once sorted that I'll do a pull request - code here which is basically 9

[2022-11-15 04:08] mikezimm commented on #1171
@joelfmrodrigues ,
To be honest, it has been a while and I think I just added a band-aid to my component because I had to make it obvious to the end user not to click the link.  See attached...

I think it probably would be pretty simple logic to check if the url part of the item has a value before making it a link, but I do not know where to check in the code.

If someone can point me to the file

[2022-11-15 06:07] Ofer-Gal commented on #1176
No it was a different issue that was fixed in later versions.

[2022-11-15 06:07] #1176 closed

[2022-11-15 10:06] bansalanshuman commented on #1174
Hello @joelfmrodrigues, I have never done this before but I will be super interested in working on this. I will try to implement this and submit a pull request.

[2022-11-15 10:52] shchasny opened #1358 "[TreeView] Expand/Collapse behavior"
#### Category
- [ ] Enhancement
- [ ] Bug
- [x] Question

#### Version

Please specify what version of the library you are using: [3.11.0]

#### Expected / Desired Behavior / Question
Hello,

I'm trying to implement Expand All/Collapse All behavior and can't figure out how to do that and is it even possible. Unlike defaultSelectedKeys, defaultExpandedKeys changes are not handling.
So, the question

[2022-11-15 11:01] joelfmrodrigues commented on #1346
PR from @kadu-jr  has been merged and will be in the next release. Thanks everyone

[2022-11-15 14:45] joelfmrodrigues commented on #998
@Whiteshark57 many thanks for confirming, will close this issue

[2022-11-15 14:45] #998 closed

[2022-11-16 14:56] #1325 closed

[2022-11-16 14:57] #1305 closed

[2022-11-16 14:58] #1337 closed

[2022-11-16 14:58] #1306 closed

[2022-11-16 14:58] #1350 closed

[2022-11-16 14:59] #1093 closed

[2022-11-16 14:59] #1346 closed

[2022-11-16 14:59] #1310 closed

[2022-11-16 21:16] joelfmrodrigues commented on #1208
@PeterWCox  I could not find one 🙈 and don't really know why the error
@AJIXuMuK any idea why this error message is showing?

[2022-11-16 21:22] joelfmrodrigues commented on #1171
@mikezimm I think in this case you could use the render property to override the render method on that column and have your own logic.
Something like: if condition is true, render a link, if not, render something else or just an empty element.

https://pnp.github.io/sp-dev-fx-controls-react/controls/ListView/
This is what I am referring to:
![image](https://user-images.githubusercontent.com/195777

[2022-11-17 02:31] mikezimm commented on #1171
@joelfmrodrigues ,
The issue is that I use this control in a web part where the user can define the fields... ie not hard coded.
So I would have to do extra validation every time I use a link column.  It would be more robust if it was built in to the react component.

@AJIXuMuK and @milanholemans , Since you both have made updates to this component, I was wondering if you might be able to assist?

[2022-11-17 05:54] mikezimm commented on #1333
@6gal6ler6
Thanks again for your post.  I finally started digging into my issue deep with the help of your example.

Turns out a long time ago I had an issue where I think I was mutating the ViewFields so I added a JSON.parse(JSON.stringify()) downstream.  That was actually stripping out the render function from the view object and caused my issue.

Still have to JSON.parse it but now I'm putting

[2022-11-17 19:02] Link631 opened #1366 "DateTimeControl throws exception when value is undefined, although undefined can be expected through props"
**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure our documentation is up to date.**

#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [     3.12.0    ]

_If you are not using the latest release, please upda

[2022-11-17 20:14] Link631 commented on #1366
The problem only appears, when the dateConvention is set to DateTime.

So: DateTimeConvention = DateTime plus Value = undefined leads in an error.

DateTimeConvention = Date and Value = undefined does work.

My workaround now will be to force DateTimeConvention to be Date in case the value is undefined. But: It should also work with DateTime... I think.

[2022-11-18 11:44] Moataz-Vodafone opened #1367 "Image picker enhancements"
Site menu interface should match the way the OneDrive section displays folders. When you select the OneDrive section, folders are displayed using the yellow folder icon, but when you select the Site section, only a grey box is displayed.

<img src="https://user-images.githubusercontent.com/118532886/202696236-24988063-1f3c-44de-9427-460efa6c2268.png" width="600" height="400" />

<img src="https://

[2022-11-18 22:33] joelfmrodrigues commented on #1171
@mikezimm thanks for the PR, we have some delay in reviewing PRs at the moment, but we will for sure look at it as soon as possible.

As for testing the controls solution, this is an SPFx solution, so overall is likely not different from your solutions. You can clone, npm install, and run with `gulp serve`. There is a test web part in the project that contains most of the controls for testing, jus

[2022-11-21 19:00] dalejo09 opened #1368 "Using FilePicker on "SiteFilesTab", breadcrumb problems"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-11-22 11:56] jacksonv1lle opened #1369 "FilePicker is not responsive"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: 3.12.0

#### Expected / Desired Behavior / Question
The FilePicker component is not usable on mobile devices. Is there a plan to implement a responsive interface for this component?

I would expect it to behave the same way as the native SharePoint Image web part where the

[2022-11-22 15:29] t0mgerman opened #1370 "Dynamic Form - New Item saving broken in 3.12.0"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: 3.12.0

#### Expected / Desired Behavior / Question
DynamicForm should save a new item when no listItemId is provided, and when a valid contentTypeId is provided

#### Observed Behavior
The line of source responsible for adding a new item is not reachable when no `listItemI

[2022-11-22 21:11] ValerasNarbutas commented on #1241
good day, looks like this one does not work anymore.
and also i dont see legacyUpn property in LivePersona new version component.

[2022-11-22 22:21] SharePickle commented on #1241
@ValerasNarbutas did Microsoft change it back to `upn`?
Because on my tenant it looks like this (both properties supported):
![image](https://user-images.githubusercontent.com/32567749/203433055-f74d69c5-a445-4b91-a231-05d8d38bcd32.png)

Maybe renaming `legacyUpn` back to `upn` will help, but for now on my environment `LivePersona` still works.

[2022-11-23 10:02] ValerasNarbutas commented on #1241
I see, well i have multiple issues.
1. When used pnp live persona component i did not get image in people coin but hover and popup worked.
2. added a custom live persona card from @hugoabernier sample and now i get a picture in coin but hover not working.
3 hover and popup is only starting to work if i hover first out of the box person coin. When some javascript library called "some guid"_LivePers

[2022-11-23 16:31] gioce90 commented on #374
This issue is still in triage...?

[2022-11-24 12:57] ekapic commented on #1355
I'm working on this issue. I'll submit a PR in a day or two.

[2022-11-25 07:48] mfdezvil opened #1372 "Modern Taxonomy Picker confusing label: alloMultipleSelection to false but label says you can select one or more tags"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.12.0  ]

#### Expected / Desired Behavior / Question
In Modern Taxonomy Picker or Taxonomy Picker component, when I select "allowMultipleSelections" param to false, in order to allow only one term selection, panel label says "Select one **or more** tags". I think this l

[2022-11-27 23:01] #1090 closed

[2022-11-27 23:01] #1080 closed

[2022-11-28 16:08] aidanbha79 opened #1373 "listitemattachments shows the file explore 3 times on new attachment on Add click"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-11-28 17:01] #1186 closed

[2022-11-28 18:01] #999 closed

[2022-11-29 03:01] #1189 closed

[2022-11-29 10:34] SharePickle commented on #1241
@ValerasNarbutas any updates? Are you experiencing this issue still? I had issues with person's profile pic because MS updated profile picture service, but it's all good now.

[2022-11-30 00:12] michaelmaillot opened #1374 "EnhancedThemeProvider control should accept other contexts than just the WebPart"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.12.0]

#### Expected / Desired Behavior / Question

When using the EnhancedThemeProvider control, we should be able to include it in any SPFx app, whether it's a WebPart, an app customizer or a form customizer.

#### Observed Behavior

When trying to use the EnhancedThem

[2022-11-30 00:12] michaelmaillot commented on #1374
Maybe I can give a try on this one?

[2022-11-30 00:36] michaelmaillot opened #1375 "label prop is missing on RichText"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.12.0]

#### Expected / Desired Behavior / Question

When using the RichText control, I'm expecting to be able to refer  the component to a label (through an id) or mentioning a label text as a prop available

#### Observed Behavior

No label prop or an "id" attribute (wh

[2022-11-30 16:23] joelfmrodrigues commented on #1374
@michaelmaillot absolutely, we love contributions :)

[2022-11-30 19:24] mgitta commented on #1370
I also have the same issue. Any workaround idea?