[2021-04-15 21:47] sumitdeyonline commented on #870
Thank you, I have built the same functionality using the custom code, just checking anything available out of the box.

[2021-04-16 01:10] russgove commented on #878
sounds like a great idea. if the list item i’d is null, does it create a new item?

Sent from my iPad

[2021-04-16 10:18] janijaak opened #879 "TaxonomyPicker suggestions language"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [2.6.0]

#### Expected / Desired Behavior
Currently TaxonomyPicker **suggestions** language is always english/term store default language. It should always be the same as in the picker which seems to respect users selected language.

#### Observed Behavior
I'm using Taxonom

[2021-04-16 10:21] ravichandran-blog commented on #878
Yes, right

[2021-04-17 02:43] sumitdeyonline commented on #870
@YannickRe , One more question, is it possible to expand/collapse TreeView according to the selected node programmatically without reloading the page, when we enter the node key in the textbox, we are updating this.state.selectedStoreKeys as defaultSelectedKeys . Now TreeView would expand/collapse and show whatever node is entered in the textbox without reloading the page. With reloading the page

[2021-04-17 17:37] AJIXuMuK commented on #870
@sumitdeyonline - as a quick thing, instead of reloading the page, you can remove and add the `TreeView`.
For example, you can show `<Spinner />` when you need to update the expand collapse and then by `setTimeout` render `TreeView` back:

[code]

[2021-04-17 17:54] AJIXuMuK commented on #875
Hi @cwparsons,

Thank you for reporting the issue. It has been fixed and will be included in the next release.

[2021-04-17 17:57] AJIXuMuK commented on #877
Thank you @pk091990 for reporting the issue!
It has been fixed and the fix will be included in the next release.

[2021-04-17 18:01] AJIXuMuK commented on #878
@ravichandran-blog - I think it's a wonderful idea!

Would be happy to see the PR from you!

[2021-04-18 14:55] ravichandran-blog commented on #878
Thanks @AJIXuMuK

[2021-04-18 23:56] AJIXuMuK commented on #848
@PathToSharePoint  - [here is the branch](https://github.com/pnp/sp-dev-fx-controls-react/tree/spfx-1.12.1) for SPFx 1.12.1.
Currently it uses `rc1` version.

I tested it with `nom link` and it works both in debug and release.

If you want to test it out - pull the branch locally and `nom link` it to you sample.

[2021-04-19 19:17] sumitdeyonline commented on #870
I have tried the same, it is not updating the TreeView(Expand/Collapse) though, here is my implementation

     return (
      this.state.loading ?
        <div><Spinner>Loading items ...</Spinner></div> :
              <TreeView
                //items={this.treeItems}
                items={this.testdata}
                defaultExpanded={false}
                selectionMode={TreeViewSelectionMod

[2021-04-19 20:13] David74000 commented on #622
Hi @nanddeepn ,
I know it's been a while but I am focusing the same issue today. The treeview property called defaultSelectedKeys seems to be impossible to update after component is mount once, except by checking manually an entry. Is there a way to refresh the selected keys in the TreeView component ?
Thank you !
David

[2021-04-19 22:53] sumitdeyonline commented on #870
Thank you @AJIXuMuK, after move the this.setState({loading: false}); to inside the setTimeout function, it start working

    setTimeout(()=>{
      this.setState({loading: false});
    },10);

[2021-04-20 05:48] PathToSharePoint commented on #848
I was able to move past the error message, but I stumbled on this:
![image](https://user-images.githubusercontent.com/40323257/115343579-ff793d00-a160-11eb-88ef-a84b156bc9cf.png)
I am using JSX for my components, maybe this is not a proper use case for this library?

[2021-04-20 18:05] scallin opened #880 "Sorting on columns that aren't text doesn't seem to work correctly"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [   1.19.0      ]

#### Expected / Desired Behavior / Question
Is there a way to override the default sorting functionality?  Sorting is built in, but treats all content as text, so number columns (like item ID) and date columns do not sort correctly.

#### Observed Behavio

[2021-04-21 02:54] PathToSharePoint commented on #848
Update: I was able to get past that message by applying a recipe I found on stackoverflow:
`npm upgrade @types/react@latest`

I can now build my Web Part and move to the next error:
`Cannot find module './virtual'`

[2021-04-22 14:48] sravankumar1107 commented on #876
Any update.. Please address the issue ASAP?

[2021-04-22 15:14] AJIXuMuK commented on #876
@sravankumar1107 - we all here work on the library **voluntary** in our **spare time**.
There are no SLAs.

You are free to fix the issue by yourself and submit a PR. Please, reference the [contributing](https://pnp.github.io/sp-dev-fx-controls-react/guides/contributing/) documentation.

[2021-04-22 18:11] NickRCarlson commented on #730
This issue does not appear to be resolved. I'm using version 3.0 and have even downgraded to 2.6 and I'm seeing the same behavior descripted in this issue

[2021-04-23 01:56] balacbe1990 commented on #838
Am also facing same issue only for compact layout - it always display only 3 items

[2021-04-24 22:47] PathToSharePoint commented on #848
I did a full reinstall with SPFx 1.12.1 RC3, and now I am back to the previous error message about JSX elements.

The issue might be with the way I handle npm link, so maybe I'll just wait for the final release to do a regular install. From what I've found in forums, this type of error happens when there are multiple versions of React or React-dom types in the solution. With SPFx  I got `"@types/r

[2021-04-26 12:00] #396 closed

[2021-04-27 00:48] sumitdeyonline commented on #870
One of our JSON datasets is returning data with the node Children: [(Uppercase C), currently TreeView interface is designed with children: [(Lowercase c). Can you please let me know how we would able to utilize the data with Uppercase C  Children: [...].

      Children: [
       {
          key: "1",
          label: "Parent 1",
          selectable: true,
          Children: [
           {

[2021-04-27 01:02] AJIXuMuK commented on #870
You should implement a converter (either on back end or front end) to convert the initial data to the component's data structure

[2021-04-27 03:26] HeShallNot commented on #880
Can confirm this issue as well. Sorting with column values that are numeric seems to be treated as strings instead which then fails to produce the correct order.

Here are some screenshots for both ascending and descending sorts of numeric columns failing to produce the correct order. An override function for sorting in the IViewField definition is a very good compromise as well.

![image](https:/

[2021-04-27 03:34] HeShallNot commented on #876
Just gonna mention that this is related to #880 issue with numeric values treated as strings by the built-in sort function.

[2021-04-27 23:37] sumitdeyonline commented on #870
Thank you, we would implement data conversion in the backend.

[2021-04-28 07:36] nviolero opened #882 "Stock images url is getting a 404 server error"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.0.0]

#### Expected / Desired Behavior / Question
The FilePicker control has a tab to get images from Stock Images, but is getting a 404 server error.

#### Observed Behavior
This is an example of the url that the FilePicker is generating to get the images from Stock ima

[2021-04-28 18:27] Employee87 opened #883 "Getting 404 - File or directory not found for stock images in file picker"
#### Category
[ ] Enhancement

[ X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    1.20.0     ]

#### Expected / Desired Behavior / Question
The stock image picker shows up.

#### Observed Behavior
Get a page error:
404 - File or directory not found.
The resource you are looking for might have been removed, had its name changed, or is temporarily un

[2021-04-29 18:13] #883 closed

[2021-04-29 18:13] Employee87 commented on #882
Also noticed this too. Thanks for providing the working URL, I have that as a temporary fix now.

[2021-04-30 06:58] AnandhaprabhuSp commented on #877
@AJIXuMuK  Approx when we can expect the next release?  since this is kind of blocking us from choosing the editor.

[2021-04-30 14:23] AJIXuMuK commented on #877
@AnandhaprabhuSp - I would expect new release in the next 2 weeks.
But you can install beta version from npm right away if that's a blocker. V2 beta already contains the needed changes.

[2021-04-30 22:54] AJIXuMuK commented on #848
@PathToSharePoint - please try the [latest beta version](https://www.npmjs.com/package/@pnp/spfx-controls-react/v/3.1.0-beta.6977ff8)

[2021-05-01 19:31] AJIXuMuK commented on #882
Thank you @nviolero for reporting the issue.
It has been fixed and will be included in the next release.

[2021-05-01 20:08] AJIXuMuK commented on #880
Thank you @scallin for reporting this one.
Not sure about `v1` but in `v2` and `v3` sorting behavior depends on the type of actual data provided to the controls.
If `Id` has `number` value (like `Id: 5`) it will be sorted as `number`. If `Id` has `string` value (`Id: '5'`) it will be sorted as string.

Here are examples
**NUMBER**
<img width="543" alt="Screen Shot 2021-05-01 at 12 47 35 PM" src="h

[2021-05-02 19:31] AJIXuMuK commented on #854
@russgove  - I've implemented new `SitePicker` controls that will be included in the next release.
It allows to specify `mode` property to make it a "site collection" picker.

[2021-05-02 19:35] AJIXuMuK commented on #876
If the date is passed as `string` - it is sorted as string. If you provide `Date` value instead - it will be sorted as date.

In the next release you'll be also able to implement your own sorting function and pass it as `prop` to the component:
[code]

[2021-05-02 22:34] PathToSharePoint commented on #848
Unfortunately this doesn't make any difference. I am still getting the error related to @microsoft/decorators. I don't have that issue when for example I use Fluent UI controls.

Would you have a working sample I could use as a reference, where the spfx-controls are used with JSX?

Just for the record, here is an excerpt of my code (the data-Property prop is used as an identifier by other parts of

[2021-05-02 22:53] PathToSharePoint commented on #848
Update: I was able to patch the issue by running `npm i @microsoft/decorators`. That's actually something I had tried when using npm link but it didn't seem to make any difference on the local install.

[2021-05-02 23:35] PathToSharePoint opened #885 "Label for list item picker"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [v3]

#### Question
Is there a way to set a label for the ListItemPicker control? I found `label `for ListPicker and `titleText `for PeoplePicker, but no equivalent for ListItemPicker.

[2021-05-02 23:40] russgove commented on #854
Thanks alex!
I am working on a tool to let us captuture the details of the M365 audit logs to sharepoint lists. I’ll definitively have a look.
Russell

[2021-05-03 02:39] HeShallNot commented on #880
@AJIXuMuK many thanks for the quick response on this issue. but any chance this could be applied to `v1` as well? we have still have some tenants that needed to support `v1`. we have a local workaround but having an official fix would be really helpful in terms of maintainability.

Cheers~

[2021-05-03 02:53] AJIXuMuK commented on #880
@HeShallNot - did you check that you provide numbers as field values, not strings?
I believe it should be enough in your situation.

We can add this to `v1`, but we release version really seldom for `v1`.

[2021-05-03 23:27] joelfmrodrigues opened #886 "Invoke panel of FilePicker after first load using `isPanelOpen` property"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version

Please specify what version of the library you are using: [     2.6.0, 3.0.0    ]

#### Expected / Desired Behavior / Question
Be able to invoke panel of FilePicker after first load using `isPanelOpen` property

#### Observed Behavior
Updating property `isPanelOpen` has no effect

#### Steps to Reproduce
Add control to a page

[2021-05-03 23:56] joelfmrodrigues opened #887 "Allow FilePicker button to be hidden"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  2.6.0, 3.0.0       ]

#### Expected / Desired Behavior / Question
Allow FilePicker button to be hidden, but allowing Panel visibility to be controlled using isPanelOpen property

#### Observed Behavior
No property available to hide button

#### Steps to Reproduce
NA

Tha

[2021-05-04 11:13] Matej4386 commented on #878
this is really great idea - will it also handle form validation based on column settings?

[2021-05-04 11:17] ravichandran-blog commented on #878
Hi @Matej4386 ,

Yes, right. validation based on column settings, control development is done 100%, now I'm working for documentation.

Thanks!

[2021-05-04 11:33] Matej4386 commented on #878
@ravichandran-blog that is really great. Looking forward for this control.

[2021-05-05 10:34] sravankumar1107 commented on #876
Hi @AJIXuMuK Thanks for your response. Currently as i see its pointed as date only and not the string. Here is the JSON for the reference:
**{"name": "MeetingDate_x005f_", "displayName": "Meeting Date", "sorting": true, "minWidth": 100,"maxWidth":150,"isResizable":true,"fieldType":"date","dateFormat":"DD/MM/YYYY"}**
But still sorting is not working out as you said. If my understanding is wrong..pl

[2021-05-05 14:07] AJIXuMuK commented on #876
Hi @sravankumar1107,
This is definition of the field.
But what is the data/value for that field for each list item you provide to the list view?
Is it date or string?
Like `date: "05/05/2021"` or `date: Dateobj`?

[2021-05-05 18:11] Employee87 opened #891 "Getting Type 'ListViewCommandSetContext' is not assignable to type 'BaseComponentContext' for FilePicker"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    3.1.0     ]

#### Expected / Desired Behavior / Question
Creating a FilePicker in a ListViewCommandSet works.

#### Observed Behavior
It complains about the context prop saying "Type 'ListViewCommandSetContext' is not assignable to type 'BaseComponentContext'".

####

[2021-05-06 08:13] KavyalJ opened #892 "OrganizationAssetTab for the pnp SPFX control : image file picker not available for some users"
#### Category

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   node js 10.24.1     ]

#### Expected / Desired Behavior / Question
We are using the PNP SPFX react file picker control: https://pnp.github.io/sp-dev-fx-controls-react/controls/FilePicker/ where  want the Organisation Asset tab to be visible

#### Observed Behavior
We have observed that

[2021-05-06 18:51] #891 closed

[2021-05-07 06:52] cneSPFX0815 opened #893 "Taxonomy Picker with possibility to add new terms, when TermSet is set to be open"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.0.0]

#### Expected / Desired Behavior / Question
Will it be possible to include the function to add new terms, when using a Termset which is set to open?

#### Observed Behavior
When using the control it should be possible to add new terms, when entering them. A functio

[2021-05-07 17:35] russgove opened #894 "add contenttype id to list picker"
**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure our documentation is up to date.**

#### Category
[ x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [latest        ]
Could we add a contentTypeID to the listpicker control.

[2021-05-07 20:58] joelfmrodrigues commented on #887
Included in latest release

[2021-05-07 20:58] #887 closed

[2021-05-07 20:59] joelfmrodrigues commented on #886
Included in latest release

[2021-05-07 20:59] #886 closed

[2021-05-07 21:04] joelfmrodrigues commented on #885
Hi @PathToSharePoint, this control doesn't seem to have this property at the moment, but would be nice to have it aligned with the other controls. Would you be interested in implementing this and submitting a PR?

[2021-05-07 21:12] joelfmrodrigues commented on #877
@pk091990 this should now be fixed as part of the last release. Please update to the latest release and open a new issue if you still experience problems.
Many thanks for your contribution

[2021-05-07 21:12] #877 closed

[2021-05-07 21:15] joelfmrodrigues commented on #875
@cwparsons Closing this item as this should now be fixed as part of the last release. Please update to the latest release and open a new issue if you still experience problems.
Many thanks for your contribution

[2021-05-07 21:15] #875 closed

[2021-05-07 21:20] joelfmrodrigues commented on #854
@russgove  Closing this item as this should now be available as part of the last release.
Many thanks for your contribution!

[2021-05-07 21:20] #854 closed

[2021-05-07 21:21] joelfmrodrigues commented on #841
@skantere  Closing this item as this should now be fixed as part of the last release. Please update to the latest release and open a new issue if you still experience problems.
Many thanks for your contribution

[2021-05-07 21:22] joelfmrodrigues commented on #882
@nviolero  Closing this item as this should now be fixed as part of the last release. Please update to the latest release and open a new issue if you still experience problems.
Many thanks for your contribution

[2021-05-07 21:22] #882 closed

[2021-05-07 21:35] joelfmrodrigues commented on #894
@russgove I think this is a very useful scenario. I think the logic of the control would have to change a little bit to accommodate this, but if the check for content type is only done if the property is provided, then I assume it won't cause any negative impact when not specified.
Would you be interested in implementing this and submitting a PR?

[2021-05-07 21:37] joelfmrodrigues commented on #826
@evlo please try updating to the latest release and open a new issue if you still experience problems.
Thanks for your contribution

[2021-05-07 21:37] #826 closed

[2021-05-07 21:39] joelfmrodrigues commented on #801
@evlo this should now be fixed in the latest version. Please update to the latest version and open a new issue if the problem persists.
Thanks for your contribution

[2021-05-07 21:39] #801 closed

[2021-05-07 21:40] joelfmrodrigues commented on #586
@joeljeffery were you able to test this issue after the new version was released?

[2021-05-07 21:42] joelfmrodrigues commented on #803
@mgordic closing this issue as a new version with this feature is now released.
Thanks for your contribution

[2021-05-07 21:42] #803 closed

[2021-05-07 21:49] joelfmrodrigues commented on #848
@PathToSharePoint are you still experiencing issues specific to the controls, or are the issues down to SPFx?

[2021-05-07 21:50] joelfmrodrigues commented on #853
@Ofer-Gal this is now available in the latest release, so closing this item.
Many thanks for your contribution

@aaclage thanks for the PR!

[2021-05-07 21:50] #853 closed

[2021-05-07 21:52] joelfmrodrigues commented on #857
@joaoworkhub Closing this item as it was included on the latest release.
Many thanks for the suggestion

[2021-05-07 21:52] #857 closed

[2021-05-07 21:56] joelfmrodrigues commented on #876
@sravankumar1107 there was an update for sorting as part of the latest release. Can you please update and test again?

[2021-05-07 21:59] PathToSharePoint commented on #848
@joelfmrodrigues Thanks for checking! The issue seems to be directly related to the controls library. I am using SPFx 1.12.1 to build my samples, and it works fine with other control libraries such as Fluent UI Northstar or mgt.
I use function components and JSX. If you have such a sample, I'll be happy to do a side by side comparison.

[2021-05-07 21:59] joelfmrodrigues commented on #879
@janijaak thanks for the suggestion. Would you be interested in implementing this change and submitting a PR?

[2021-05-07 23:16] Ofer-Gal commented on #853
Thank you much. testing 2.7.0 and 3.1.0

[2021-05-08 02:12] russgove opened #895 "sitePicker does not display initialsites until you click the dropdown to select"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest  ]

#### Expected / Desired Behavior / Question
When you set the initialsites option the title of the in ititialsite should appear as the selected site on the initial display.
#### Observed Behavior
the picker appears blank until you hit the dropdown, then the sit

[2021-05-08 22:25] gurubn opened #896 "Installing spfx-controls-react@3.1.0 throws undefined ls-remote -h -t ssh://git@github.com/microsoftgraph/msgraph-typescript-typings.git"
[X ] Bug

[ X] Question

#### Version

[   3.1.0      ]

#### Expected / Desired Behavior / Question
When I run npm install @pnp/spfx-controls-react --save --save-exact, expectation is, it install the @pnp/spfx-controls-react control

#### Observed Behavior
Please let me know if I am running it wrongly.

I receive  below error when I run npm install @pnp/spfx-controls-react@3.1.0 --save --save-exa

[2021-05-12 00:48] sumitdeyonline opened #900 "We are getting expand and collapse icon in the last node of the tree"
We are getting expand and collapse icon in the last node of the tree, in the last node should not be any expanded and collapse icon, otherwise, the user would be confused

![image](https://user-images.githubusercontent.com/23446009/117901804-fde2f680-b280-11eb-8f25-abefc71793c2.png)

[2021-05-12 09:26] Katli95 commented on #494
Yep, facing the same issue now when using in dialog (SPFx ListViewCommandSet Extension). Repro steps as original post, does anyone have any ideas as to what the issue might be?

[2021-05-13 16:10] jduysen opened #901 "Remove duplicate suggestions from ListItemPicker control"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-05-14 23:36] #880 closed

[2021-05-14 23:40] AJIXuMuK commented on #896
Hi @gurubn,
What versions of node, rpm and Gulp are you using?
I can install the latest version without any issues.

[2021-05-15 00:07] AJIXuMuK commented on #895
Thanks @russgove for reporting this! Good catch!
The fix has been implemented and will be included in the next release.

[2021-05-15 21:17] ravichandran-blog commented on #878
Feeling wonderful :)

Submitted pull request,

https://github.com/pnp/sp-dev-fx-controls-react/pull/902

[2021-05-16 01:19] AJIXuMuK commented on #848
@PathToSharePoint what do you mean under "JSX"? Are you using JavaScript, not TypeScript? Or are you referencing to something else?

[2021-05-16 01:24] AJIXuMuK commented on #892
Hi @KavyalJ,
Thank you for reporting this one.
For the local workbench - it will not work as you're not connected to the tenant. It means there are no Org Assets.

For the general scenario - have you checked if the same users (who experience issue with the control) can access the Org Asset through OOB SharePoint UI (for example, when selecting an image for a SharePoint page)?
If no - it's not rela

[2021-05-16 01:29] AJIXuMuK commented on #893
Hi @cneSPFX0815,
I believe it's something that could be done... but later.
Currently new Taxonomy API (read - MS Graph Taxonomy API) is still in beta.
I'd wait until it got release until implementing that.

I'll mark this issue as enhancement for the future.

[2021-05-16 01:35] AJIXuMuK commented on #900
Hi @sumitdeyonline,

Could you provide the configuration of the control you're using as well as the items configuration?

I can't reproduce it in the simple sample:

<img width="445" alt="Screen Shot 2021-05-15 at 6 34 07 PM" src="https://user-images.githubusercontent.com/17036219/118382613-4154a200-b5ac-11eb-99af-9a211e1c4e7b.png">

[2021-05-16 01:37] AJIXuMuK commented on #901
Hi @jduysen.
Could you please provide some additional details on the issue?
`ListItemPicker` just displays the items from a list. If you have items with the same title, you will see "kind of" duplicates in the list.
Another question - are you using SharePoint Online or On-Prem?
If Online - I'd strongly recommend to update to a newer version of the library (`v2.7.0` for SPFx <= 1.11 or `v3.1.0` for

[2021-05-16 01:40] AJIXuMuK commented on #777
Closing due to no activity.

[2021-05-16 01:40] #777 closed

[2021-05-16 02:05] PathToSharePoint commented on #848
What I just meant is that I am using the [JSX (JavaScript Extensions)](https://reactjs.org/docs/introducing-jsx.html) language with React. I do use TypeScript too, and so my files have a **tsx** file extension, not ts. It probably doesn't matter, I am just trying to find any small difference that could impact my build.

I'll publish my sample this month. It works great, it's just that I had to run

[2021-05-16 02:17] russgove commented on #894
yup, hope toe find some time to work on it this eek

[2021-05-16 02:17] russgove commented on #894
^^week

[2021-05-16 03:42] sumitdeyonline commented on #900
Thank you, Alex, for a look into this issue
I was generating a tree structure with a huge dataset dynamically. When I added the children[] attribute on the last node in the tree structure, it starts working perfectly however, I don't know why it causes this issue. Is it required to add children[] in the last node?

[2021-05-16 03:51] AJIXuMuK commented on #900
@sumitdeyonline no, it's not required.
In my sample above - root 4 and root 5 don't have `children` property passed.

[2021-05-16 04:25] sumitdeyonline commented on #900
Thank you @AJIXuMuK, it resolved my issue though.

[2021-05-17 01:00] PathToSharePoint commented on #848
Speaking of small differences, I am also building the solutions on Nodejs v14, which is supported by SPFx 1.12.1. No idea if that matters either, and here too I'd be interested in testimonies from people who have successfully run such configuration.

[2021-05-17 09:14] joelfmrodrigues commented on #894
@russgove that's great, I have assigned this item to you so other people are aware you may be working on it and not try to also implement it

[2021-05-17 21:01] OverkillTV commented on #162
Hi @AJIXuMuK ,

It seems that the onGetErrorMessage of TaxonomyPicker has same issue as the PeoplePicker issue #841 .
The new release fixed this issue for PeoplePicker but not TaxonomyPicker.

[2021-05-18 08:41] gurubn commented on #896
Hi @AJIXuMuK ,

Thanks a lot for checking. I am using Node v10, npm V6 and Gulp v3.
I tried in different VM with above setup and it working properly, So it seems its something with my local configuration in other machine. I will reinstall the above configuration and try once. Thanks a ton again.

As its not the issue with spfx-controls-react@3.1.0, I will close the this thread, I hope thats ok?.

[2021-05-18 08:42] gurubn commented on #896
Issue is in my local configuration , not with spfx-controls-react@3.1.0. Hence closing this thread.

[2021-05-18 08:42] #896 closed

[2021-05-18 14:49] russgove opened #905 "force refresh of lists in listpicker"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [  latest       ]

#### Expected / Desired Behavior / Question
Hey, I have a webpart that lets the user select an existing list using the list picker  or create a new one.  If the user creates the new list i want the newly created list to be  selected in the listpikcer.

T

[2021-05-18 16:11] russgove commented on #905
arghh!! just added for lines of code to my PR and it failed. Any idea whats wrong. The change is working great locally.

[2021-05-19 01:29] Ofer-Gal opened #907 "FilePicker Site document libraries - tab allows to select a file from Other Sites Libraries"
FilePicker control
The documentation says:Site document libraries - tab allows to select a file from the existing site document libraries
#### Category
[X] Enhancement

[ ] Bug

[F] Question

#### Version

Please specify what version of the library you are using: [  3.1.0  ]
#### Expected / Desired Behavior / Question
Ability to select libraries in any Site with permissions.

Is there a property I

[2021-05-19 21:29] russgove opened #908 "sitepicker does not reflect changes made to initialSites by other components"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-05-20 04:53] DennisKuhn commented on #848
Hi I am trying Nodejs v14.16, SPFx 1.12.1 and  @pnp/spfx-controls-react 3.1.0. I seem to have the same issue with the @microsoft/decorators . The problem occurs to me when I try to use ListView .

[2021-05-20 15:39] AJIXuMuK commented on #908
Hi @russgove,

Currently `SitePicker` works in "uncontrolled" mode only. You can provide the initial sites, but after that the selection is completely controlled by the control itself.

[2021-05-20 22:05] joelfmrodrigues commented on #363
@mgwojciech sounds like a way to get it to work, thanks for the suggestion. Would you be willing to submit a PR and also include an update to documentation? If so I will assign you to this issue so other people are aware that it's being addressed.

[2021-05-20 22:21] joelfmrodrigues commented on #907
Hi @Ofer-Gal , I don't think you can change the context for that and there is currently no property to allow the URL of a site to be specified.
I had a quick look a the FileBrowserService and seems that adding support for this would not be a complex task. Would you be interested in giving it a go and submitting a PR with the improvement?

[2021-05-20 23:39] Ofer-Gal commented on #907
I never learned how to submit a PR. I will give it a try :-)

[2021-05-21 05:18] abhilashsavita opened #911 "People picker not restricting to the configured group on-premises 2019"
based on his analysis groupName property on the control does not restrict the user on-premises

[2021-05-21 07:19] petkir opened #912 "Branche DEV npm install failed at @microsoft/mgt-react (mgt-components)"
#### Category
[X] Question

#### Version

Branche DEV

initial NPM Package restore(install) failed
Used versions:
[code]

#### Expected / Desired Behavior / Question
build dev Branche

#### Steps to Reproduce
[code]

[code]

[code]

[2021-05-21 08:14] mgwojciech commented on #363
@joelfmrodrigues  - sure thing! I'm not sure if quality of the docs will be satisfactory but I'll do my best :)

[2021-05-21 10:19] joelfmrodrigues commented on #912
@petkir thanks for reporting it. We were looking at this issue last night, can you confirm that you are testing with the latest code version from the dev branch? We did some changes that should have fixed it. Just tested again on my end and it worked.

[2021-05-21 10:38] petkir commented on #912
@joelfmrodrigues

you are absolutely right I made yesterday forward integration from the Fork around10pm(CEST) and wrote also the Issue, but I forgot to submit it.
So I submitted it in the morning and I haven't checked the commits.

I apologize for the inconvenience.
it works version 2.2 mgt is working

[2021-05-21 11:47] joelfmrodrigues commented on #912
@petkir absolutely no problem at all and thanks for raising it anyway. At least we tested it again :)
Will close this item

[2021-05-21 11:47] #912 closed

[2021-05-21 13:46] jayprajapati opened #913 "Rich text control does not display the correct theme colors for fonts."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-05-21 14:11] russgove commented on #908
So if i changed it to update based on changes made to initialSites. Can I make a PR for this?

[2021-05-21 18:02] mgwojciech commented on #363
Pushed with my other PR:
https://github.com/pnp/sp-dev-fx-controls-react/pull/906

Have a great weekend

[2021-05-21 23:00] #586 closed

[2021-05-22 00:15] DennisKuhn commented on #848
A better hack seems to fix the `package.json` of `node_modules/@microsoft/decorators` to reference the es6 lib instead of commonjs:

[code]
instead of
~~"main": "lib-commonjs/index.js",~~

to make it last across updates, I've added a post-install script:
[code]

Downgrading to `@microsoft/decorators^1.11.0` from  `@microsoft/decorators^1.12.1` should fix it for this module:
[unpkg.com/ @microsoft/

[2021-05-23 20:37] joelfmrodrigues commented on #907
@Ofer-Gal sorry for taking so long to reply. Submitting PRs is actually simpler than it may look like at first.
At a very high level (it can also be done in different ways):
-Fork the repository
-If already forked previously, ensure the dev branch in your fork is in sync and contains all the latest changes
-Create a new branch (from dev) for implementing the changes
-Once changes are complete, ens

[2021-05-23 20:41] joelfmrodrigues commented on #363
@mgwojciech Thanks, I'm sure it will be satisfactory :) All I was referring to was to add an example for the use case above so people understand how to use it when the item is yet to be created.
I will review as soon as possible

[2021-05-23 22:20] Ofer-Gal commented on #907
I did try :-)
I see I need to make an equivalent of public getListItems in line 27 of /service/FileBrowserService.ts
But I do not know were the replacement URL for this.context.pageContext.web.absoluteUrl will com from.
There should be a textbox for that somewhere. Maybe at the top of the render() in /controls/FileBrowser.tsx

I have no experience with classes. I started react with hooks.
I rather

[2021-05-24 01:03] russgove commented on #908
or submitted to add selected sites mproperty

[2021-05-24 01:05] russgove commented on #905
forgot about this one! i think it’s included in my pr

[2021-05-25 04:32] alminmanalo commented on #323
The search for external users worked for me. So what I did was:

1. Run the following Powershell scripts
[code]

2. Then in the SharePoint site where the SPFx webpart is, I added "Everyone" in the Visitors group
3. Then I also added the external users in the Visitors group

[2021-05-25 19:07] ravichandran-blog opened #915 "New Control: Location Picker"
Can we include location picker control? this is the same as the out-of-box SharePoint location picker control.

I was already started to build this control, around 70% of the development work is done.

![image](https://user-images.githubusercontent.com/21125180/119554160-fc094f00-bdb9-11eb-9518-ec9f5ed331cc.png)

#### Category
[X] New Control

Please let me know your suggestions.

Thanks!

[2021-05-25 22:13] AJIXuMuK commented on #848
@DennisKuhn, @PathToSharePoint
Hmmm... everything works for me.
Here is [my sample](https://github.com/AJIXuMuK/issues/tree/master/controls-node-14).
It uses node 14.17.0, SPFx 1.12.1 and controls 3.1.0.

Please check it out.

[2021-05-25 22:14] #900 closed

[2021-05-25 22:16] AJIXuMuK commented on #915
Hi @ravichandran-blog - sure, great addition.
Feel free to submit the PR. And we can then include this control in Dynamic Form as well

[2021-05-26 06:23] DennisKuhn commented on #848
@AJIXuMuK thanks a lot for the great reference. I've just pretty much the identical settings. I've added a ListView add the issue occurred.

[2021-05-26 10:04] ravichandran-blog commented on #915
Thanks @AJIXuMuK

[2021-05-26 15:46] AJIXuMuK commented on #848
@DennisKuhn - I've added `ListView` to the sample.
`gulp`, `gulp serve`, `gulp bundle` work fine.

Could you please compare your project with my sample (or just share you project with me) to see what's the difference could be?

[2021-05-26 19:46] DennisKuhn commented on #848
@AJIXuMuK Thanks for your swift reply. I am not sure what I do different. I've forked your example and added an empty ListView:
[code]
Then when loading the webpart in the local workbench (gulp serve), I get:
[code]

[2021-05-27 05:14] kanakanaidu commented on #675
thanks for the update. it saved one day efforts

[2021-05-28 11:34] siata13 opened #918 "SPFx PnP Controls depends on MGT"
#### Category
[x] Enhancement

[x] Bug

[ ] Question

#### Version

PnP controls in version 3.1

#### Observed Behavior
PnP Controls package has a dependency on @microsoft/mgt (Graph Toolkit) which causes problems in case 2 web parts using controls are loaded on the page:

![image](https://user-images.githubusercontent.com/6162213/119977527-d8f8be00-bfb8-11eb-93d7-06c0584f0e3d.png)

#### Expected

[2021-05-28 11:40] aaclage commented on #918
@joelfmrodrigues @AJIXuMuK

I think this issue was fixed with "@microsoft/mgt": "^2.2.0".
with incorporation of `npm install @microsoft/mgt-spfx`
[mgt-spfx](https://docs.microsoft.com/en-us/graph/toolkit/get-started/mgt-spfx)

[2021-05-28 15:19] AJIXuMuK commented on #918
I'll check that later. We've already have v2.2 in beta.

[2021-05-28 18:03] joelfmrodrigues commented on #918
@siata13 just to double-check if this is not a scenario similar to what I experienced this week at work, are you using the PnP controls package directly in your web part solution, or via a SPFx library component solution?

[2021-05-28 20:08] AJIXuMuK commented on #918
I was able to repro it on beta version as well. But only if you use mat-dependent control (`MyTeams`).
If you use any other control from the library - everything works fine.

I will check what's the best approach here. Maybe the best thing is to remove mgt dependency at all.

[2021-05-29 05:12] siata13 commented on #918
@joelfmrodrigues  I use it in web part solutions.
@AJIXuMuK I am not using MyTeams control. If needed I can try to get deep understanding why it happens on my end.

But I believe that moving control relying on MGT to separate library would make it much easier.

Thanks a lot for checking!

[2021-05-29 14:58] AJIXuMuK commented on #918
@siata13 please check why it's happening.
My only assumption is non direct import from library.
Like `import { WebPartTitle } from @pnp/spfx-react-controls` instead of `import { WebPartTitle } from @pnp/spfx-react-controls/lib/WebPartTitle`

[2021-05-30 03:00] #901 closed

[2021-05-30 03:00] #892 closed

[2021-05-31 13:20] njabsDI commented on #877
Hi I installed  "@pnp/pnpjs": "^2.5.0-beta2" where as previosly I had pnp version 2.5.0 but still copy and paste does not work.

[2021-05-31 13:25] njabsDI opened #919 "PNP Rich Text Editor : Text disappears after copy/paste text"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-06-01 20:44] russgove opened #920 "Add selectedItems property to ItemPicker"
#### Category
[c ] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest ]

#### Expected / Desired Behavior / Question
when using the itemPicker we should be able to specify which items are selected on the initial display.
#### Observed Behavior
when using the itemPicker we cannot  specify which items are selected on the initial displ

[2021-06-01 21:33] russgove commented on #920
nvrmind,
i see its called defaultSelectedItems

[2021-06-01 21:33] #920 closed

[2021-06-01 22:06] Ofer-Gal opened #921 "FilePicker order of tabs"
Can I control the order of the tabs or make one the default?
#### Category
[X] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [  3.1.0   ]

#### Observed Behavior
The order is always
OneDrive
Upload Files
From Link

My users will use "Upload Files" most of the time and I would like them to have less clicks to get there.

Thanks!

[2021-06-02 04:01] siata13 commented on #918
@AJIXuMuK I have found the problematic part of the code which wasn't related to pnp controls as I initially thought.
The import strategy you suggested would be sufficient to avoid the problem, but nevertheless I think mgt-spfx is the only way to go.

Thanks for your time and support!

[2021-06-02 17:38] cdragosf opened #923 "DateTimePicker: month name is wrong in Spanish"
#### Category

[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  3.1.0  ]

#### Expected / Desired Behavior / Question
Translated month for May should be "Mayo" in Spanish ( /loc/es-es.js ). The actual translation "Puede" it's the translation for the verb "may" in English.

#### Observed Behavior
The date picker control is translatin

[2021-06-02 17:57] eduardpaul commented on #923
Fixed with https://github.com/pnp/sp-dev-fx-controls-react/pull/924

[2021-06-02 19:57] DennisKuhn opened #925 "ComboBoxListItemPicker defaultSelectedItems ignores changes"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.1.0]

#### Expected / Desired Behavior / Question
When changing the `defaultSelectedItems` property, that the controls reflects the new selection.

#### Observed Behavior
Only the initial items selected in `defaultSelectedItems` are selected. An update to `defaultSelectedI

[2021-06-03 06:38] joelfmrodrigues commented on #923
Many thanks both, the PR has been merged and the fix will be available in the next drop version (automatically released in a few minutes)

[2021-06-03 06:38] #923 closed

[2021-06-03 09:29] isaschick opened #926 "Listview stickyHeader horizontal scroll"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-06-03 18:05] RahiniRadha opened #927 "Unable to copy paste text along with image in Pnp Richtextbox"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-06-03 19:31] #925 closed

[2021-06-03 19:32] DennisKuhn commented on #925
DefaultSelectedItems is for un-controlled ComboBoxes, I should have used SelectedItems for a controlled ComboBox, but currently SelectedItems doesn't exist in the props.

[2021-06-03 22:43] russgove commented on #925
i can take this if needed. I think it’s the same update i dev to the sitecollection picker

[2021-06-04 14:09] wobba opened #928 "[DateTimePicker] Expose allowTextInput from the underlying date picker to allow manual text input"
#### Category
[x] Enhancement

#### Version

Please specify what version of the library you are using: [ v3.1 ]

#### Expected / Desired Behavior / Question

The underlying ui fabric date picker support manual string input, but this has explicitly been set to false in https://github.com/pnp/sp-dev-fx-controls-react/blob/a8b5bdc53c42f3814252091ae27e9e041133be9c/src/controls/dateTimePicker/DateTimeP

[2021-06-06 19:07] PathToSharePoint commented on #848
@AJIXuMuK After looking again and again, I finally found something that was behaving differently.

This is transpiling without error:
`import { ListView, SelectionMode } from '@pnp/spfx-controls-react/lib/ListView';
`

This is ok with VS Code but transpiling is giving me the decorator error:
`import { ListView, SelectionMode } from '@pnp/spfx-controls-react';
`

I am seeing the same issue with you

[2021-06-06 19:11] AJIXuMuK commented on #848
@PathToSharePoint thank you for the info!
Probably I wouldn't fix it intentionally. In that case we will make deva use correct granular imports :)

[2021-06-06 19:22] PathToSharePoint commented on #848
I guess that's an author's choice, although it seems that the common practice for modules is to do the aggregation. It's unfortunate that VS Code doesn't catch the glitch.
Also I wonder why decorators would be involved in such import/export. Let me do some more testing to confirm my sample now works as advertised!

[2021-06-06 19:25] AJIXuMuK commented on #848
@PathToSharePoint it was mostly a joke from my side. But if you import just from `@pnp/spfx-controls-react` you will drastically increase the size of your web part, as you will include ALL the controls and all dependencies, like PnPJS.

[2021-06-07 05:24] kpfeuffer opened #929 "PropertyFieldCollectionData is not setting sortIdx on resulting collection when using 'Add and Save'"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 2.6.0 ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question

The PropertyPaneFieldCollectionData with enableSoting enabled always returns a collection with the

[2021-06-07 23:17] mbice opened #931 "Clicking internal links in RichText component while in edit mode navigates you away from the page"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.1.0]

#### Expected / Desired Behavior / Question
If I am leveraging the RichText component and there is a link in it, then clicking the link while editing a page should not navigate the user.

#### Observed Behavior
Links inside a RichText component, when editing a page

[2021-06-08 09:34] lexschulz commented on #799
Hi Alex,

I upgraded my version of spfx-controls-react to 2.7.0 but it's not possible to clear the date.
I am not sure what to do now. Greetings

[2021-06-08 19:16] AJIXuMuK commented on #799
@lexschulz  - how are you clearing the date?

[2021-06-08 19:37] lexschulz commented on #799
Hi Alex,
I can only select a date or click "Today" but there is no way to delete the value that's in the field so that it's an empty field again.
I thought that I can mark and delete the date ... or can select "Delete" like the "Go to today" link... but after upgrading from 2.3.0 to 2.7.0 it's still not possible.
The onchange event only triggers when I select a date, so I have no idea how to clear

[2021-06-09 13:39] brianpmccullough commented on #847
We are experiencing this with  SPFx 1.12.1  (NVM 1.1.7 > Node 14.17.0 > NPM 6.14.13 (PNPM 6.7.1) > SPFx 1.12.1 | Gulp 4.0.2 | yo 4.2.0).  Looks like this is also an issue #848

[2021-06-09 13:43] brianpmccullough commented on #848
We are experiencing similar, but with FilePicker component.  See #847.   SPFx 1.12.1  (NVM 1.1.7 > Node 14.17.0 > NPM 6.14.13 (PNPM 6.7.1) > SPFx 1.12.1 | Gulp 4.0.2 | yo 4.2.0).

Looks like by adding @microsoft/decorators 1.12.1 dependency to our package, we can resolve the issue and successfully build.

[2021-06-09 17:20] brianpmccullough commented on #848
Confirmed we are using granular imports with sample project outlined above in this issue discussion.

Sample Project: https://github.com/AJIXuMuK/issues/tree/master/controls-node-14

![image](https://user-images.githubusercontent.com/8305245/121400218-54e1f700-c925-11eb-965c-ea561503b344.png)

[2021-06-09 22:14] AJIXuMuK commented on #848
@brianpmccullough I have removed the dependency to `@microsoft/decorators` completely.
Now it should be fine with any type of import.

Could you please test the [beta version](https://www.npmjs.com/package/@pnp/spfx-controls-react/v/3.2.0-beta.bc369e7)?

[2021-06-09 22:38] AJIXuMuK commented on #894
Thanks @russgove for both the proposal and the PR.

It has been merged and will be included in the next release.

[2021-06-10 00:24] russgove commented on #466
ah, thanks for pointing that out, let me give it a try.

[2021-06-10 12:33] brianpmccullough commented on #848
My team is reporting that the beta version is working now without throwing the bundle errors that we reported.  Should we look for this in an upcoming release to the controls?

[2021-06-10 12:35] AJIXuMuK commented on #848
Yes, the change will be included in the next release.

[2021-06-10 17:56] brianpmccullough commented on #848
@AJIXuMuK any eta for public release of 3.2?  Thanks again for your help/support/time on this one!

[2021-06-10 17:58] AJIXuMuK commented on #848
@brianpmccullough - as soon as we fix #918 :)

[2021-06-10 22:54] joelfmrodrigues commented on #918
Just pushed some changes originally done by @joaojmendes on a PR that should fix this issue by using [mgt-spfx](https://docs.microsoft.com/en-us/graph/toolkit/get-started/mgt-spfx).
I have also updated the documentation of MyTeams (the control that uses mgt) to include the instruction for installing the mgt-spfx library. Tested on my tenant and the error was resolved after the changes were applied

[2021-06-13 07:29] ravichandran-blog commented on #915
Hi @AJIXuMuK ,

Sorry for the delay, submitted a pull request 🙂 https://github.com/pnp/sp-dev-fx-controls-react/pull/933

[2021-06-15 08:17] SamehIbrahim opened #934 "Clear the contents of the People Picker control"
#### Category
[ ] Enhancement
[ ] Bug
[X] Question

#### Version

Please specify what version of the library you are using: [ 3.1.0 ]

#### Expected / Desired Behavior / Question
How to clear the contents of the People Picker control using react setState method  because the "selectedItems" property that was used to do that in earlier versions no longer exists in the version  [ 3.1.0 ]

[2021-06-15 09:01] icom50 opened #935 "Populate a People Picker with a security group"
#### Category
[X] Question

Please specify what version of the library you are using: [ v2.0 ]

#### Expected / Desired Behavior / Question

How to insert a security group for Azure in the people picker ?

#### Observed Behavior
I'm able to retrieve a Security group with a people picker by typing its name. But when it comes to populate a people picker with a security group, i'm unable to do it whe

[2021-06-15 13:44] Katli95 opened #936 "<FilePicker/> Add properties for default library- & folderPath for <SiteFilePicker/>"
#### Category
- [x] Enhancement

#### Version
`3.1.0`

#### Desired Behavior
It would be great if the `<FilePicker/>` could accept a property/properties for setting a default selected library and folder which would apply to the `<SiteFilePicker/>` child.

#### Implementation
I'm up for submitting a Pull Request and I might even take a look into #725 while I'm at it as a multiple file select is app

[2021-06-16 09:13] Katli95 commented on #936
For anyone interested I've started working on this [here](https://github.com/Katli95/sp-dev-fx-controls-react/tree/filepicker-defaultFolderPath), I've added one commit for the initial logic of parsing the string property "defaultFolderAbsolutePath". Next up is to add everything to the breadcrumb to preserve current functionality. Feel free to comment.

[2021-06-16 22:30] AJIXuMuK commented on #878
@ravichandran-blog  please, do not close issues that are not released yet.

[2021-06-16 22:31] AJIXuMuK commented on #915
@ravichandran-blog - please do not closed unreleased issues.

[2021-06-16 22:32] ravichandran-blog commented on #878
Oops! Sorry @AJIXuMuK

[2021-06-16 22:42] joelfmrodrigues commented on #905
@russgove just to double-check, is this change included on the PR that you submitted and was merged recently?

[2021-06-16 22:48] joelfmrodrigues commented on #911
@abhilashsavita can I please ask you to double-check that there is no confidential information shared in the images above? Are names/email addresses fictitious, and if not, could you please obfuscate them?

[2021-06-16 23:03] joelfmrodrigues commented on #921
@Ofer-Gal thanks for the suggestion, makes a lot of sense. I just checked and currently there are no properties to control this, only one option to store the last active tab, but that doesn't seem to be working as expected (at least on my tests just now).
Would returning to the last tab be acceptable to you as a solution?
If not, all the tab options are added to an array inside the _getNavPanelOpt

[2021-06-16 23:10] joelfmrodrigues commented on #926
@isaschick I was unable to recreate this issue. Would you be able to share the definition of the view fields (the object of type IViewField[]) that you are using?

[2021-06-16 23:27] joelfmrodrigues commented on #936
@Katli95 Both are great suggestions!
Also, the FilePicker control was recently updated to return an array of results (instead of a single file) so this should make things easier to enable the selection of multiple files.
I have assigned this issue to you so others know it's already being addressed and we avoid duplication of effort.
Let me know if you need any help

[2021-06-16 23:47] joelfmrodrigues commented on #935
@icom50 I just tested this and was able to set a security group as the default selection

My group:
![image](https://user-images.githubusercontent.com/19577724/122308775-ef819d80-cf04-11eb-8e28-0c7fba80706e.png)

PeoplePicker with default selection
![image](https://user-images.githubusercontent.com/19577724/122308802-00caaa00-cf05-11eb-9dd8-a8b355de08da.png)

Code (reused one of the test controls

[2021-06-17 00:08] Katli95 commented on #936
@joelfmrodrigues awesome! Thank you, no need for help as is, just a question: do you have an idea of how long it may take to get this released once I submit? I'm working on a project atm that requires this feature 😇

[2021-06-17 08:03] icom50 commented on #935
Oh yes it was juste that, it's work now thanks a lot.

[2021-06-17 08:03] #935 closed

[2021-06-17 09:15] joelfmrodrigues commented on #936
It should not take long to review the PR, and after it's merged a new beta version is automatically created and published to npm so you can install it and then update later to a major release.
PRs from the last last 2-3 weeks have been delayed a bit as only Alex was able to review them but things should be better now as I was able to close 3 projects this week and can focus on this again😊

[2021-06-17 11:48] Ofer-Gal commented on #921
I like both options.
How can I give it a try?

[2021-06-17 22:06] joelfmrodrigues commented on #921
My understanding is that returning to the tab that was previously used should work and if not is probably a bug.

Regarding the order of tabs, the first thing that comes to my mind is having a new optional component property (maybe a string array with key values) where sorting can be configured. Then sort the array of links before returning it inside the `_getNavPanelOptions` function as they are

[2021-06-18 14:28] Katli95 commented on #936
Awesome, glad to hear it! How free should I feel to generally refactor the code? (Nothing major ofc, but somehting like changing variable names and removing obsolete code?

[2021-06-18 15:07] joelfmrodrigues commented on #936
@Katli95 Ideally, try to **only** modify the code that is relevant and necessary to what you are implementing. This is a common approach with many open source projects as otherwise code reviews would be more complex and someone else implementing features on related code could be impacted and have to deal with code conflicts, etc. If for example, you move a block of code, it's all marked as a chang

[2021-06-18 15:14] Katli95 commented on #936
Awesome, ok, good to know, hahah yeah, first thing I did was to disable prettier. And yeah, I looked through those before I began. I was mainly thinking of renaming state variables to make their intention clearer as I had some trouble understanding them at first and also removing some which don't seem to be used anymore. But I'll restrain myself and let it lie 😅

Should submit the pull request thi

[2021-06-18 15:22] joelfmrodrigues commented on #936
Well, this is a bit of a different story then 😊
I would be fine with removing unused variables and even rename variables if the name is not indicative of their purpose and confusing.
One thing that I would suggest, is that you do this as a separate PR (using a new branch from dev, not your previous branch) as it's not directly related to the feature you are implementing and can be submitted as a c

[2021-06-19 00:39] AJIXuMuK commented on #929
Thank you @kpfeuffer for reporting the issue!

The fix has been merged and will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-06-21 08:24] Ckolhari5353 commented on #332
Is there an update or an expected resolution date on this?

[2021-06-22 12:14] tounsiAli opened #938 "Define Language"
Hallo,
when i define a static language is not working  with <Parameter Type="Int32">${locale}</Parameter>
Any Idea please ?
       const data = `<Request xmlns="http://schemas.microsoft.com/sharepoint/clientquery/2009" SchemaVersion="15.0.0.0" LibraryVersion="16.0.0.0" ApplicationName="Javascript Library"><Actions><ObjectPath Id="1" ObjectPathId="0" /><ObjectIdentityQuery Id="2" ObjectPathId="0" /

[2021-06-22 14:25] isaschick commented on #926
viewFields : IViewField []= [
      {name: "Name",
    displayName: strings.fileNameTitle,
    linkPropertyName: "serverRelativeUrl",
    isResizable: true,
    sorting: true,
    minWidth: 200,
    maxWidth: 300
    ,    render: (item: any) => {
      const itemFilled = item.filled;
      var itemClassName= `${styles.buttonLink}`;
      if(itemFilled == true)
      {
            return <FieldName

[2021-06-22 16:56] mikezimm opened #939 "Request: datetimepicker - add option for minutes dropdown incriment"
#### Category
[ x ] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [     latest    ]
https://github.com/pnp/sp-dev-fx-controls-react/tree/master/src/controls/dateTimePicker

@AJIXuMuK

#### Expected / Desired Behavior / Question
In my current application, the 1 minute increments are overkill and require a lot of scrolling.
It would be he

[2021-06-23 09:20] eduardpaul commented on #847
Updating to 3.2 (beta at this time) solves the issue: https://www.npmjs.com/package/@pnp/spfx-controls-react/v/3.2.0-beta.9bb6246

[2021-06-24 09:43] joelfmrodrigues opened #942 "Configure display labels of ListItemAttachments control"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2.0 ]

#### Expected / Desired Behavior / Question
Be able to configure labels displayed for ListItemAttachments control

#### Observed Behavior
Currently there are no properties to configure labels

[2021-06-26 22:33] russgove commented on #908
This issues was fixed in my last pr

[2021-06-26 22:33] #908 closed

[2021-06-26 22:35] russgove commented on #905
yes, this issue was fixed in my last pr

[2021-06-26 22:35] #905 closed

[2021-06-26 22:39] russgove commented on #926
i'm hitting this issue too. Is anyone working on it?
Also just curious, any pros/cons of using this instead of the fabric DetailsList?

[2021-06-27 00:11] PathToSharePoint commented on #848
I think it's time to close this issue. We have moved to SPFx 1.12.1 and controls 3.2.0, so most of the comments here are not relevant anymore.

[2021-06-27 00:11] #848 closed

[2021-06-27 04:34] PathToSharePoint opened #945 "ListPicker stopped working in upgrade from 3.1.0 to 3.2.0"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2.0 ]

#### Expected / Desired Behavior / Question
I am expecting the controls to keep working in the upgrade from 3.1.0 to 3.2.0.

#### Observed Behavior
After upgrading from 3.1.0 to 3.2.0, the ListPicker stopped retrieving lists. In the local workbench, it retrieves

[2021-06-27 19:09] AJIXuMuK commented on #945
@PathToSharePoint can you share some repro sample? I can't reproduce it.
<img width="703" alt="Screen Shot 2021-06-27 at 12 09 03 PM" src="https://user-images.githubusercontent.com/17036219/123556517-7e31be00-d740-11eb-92d9-b120dce954e8.png">

[2021-06-27 19:16] PathToSharePoint commented on #945
@AJIXuMuK this is a follow up on issue #848 with the same code sample - just using 1.12.1 and 3.2.0 now.

I followed the documentation and I am wondering if I missed a step. Is anything else needed in addition to SPFx 1.12.1 and controls 3.2.0? A mgt module maybe?

[2021-06-28 01:41] AJIXuMuK commented on #945
@PathToSharePoint - found the issue.
The fix is in beta version.

[2021-06-28 01:43] #929 closed

[2021-06-28 01:43] #915 closed

[2021-06-28 01:43] #895 closed

[2021-06-28 01:43] #894 closed

[2021-06-28 01:43] #878 closed

[2021-06-30 21:26] #945 closed

[2021-06-30 22:34] AJIXuMuK commented on #939
Hi @mikezimm - thank you for the idea!
It's actually a great enhancement of usability.

I have implemented the change and it will be included in the next release.

[2021-06-30 22:46] AJIXuMuK commented on #938
Hello @tounsiAli. Could you please provide some additional details on what control from the library you're using?
I can't quite get the context of the issue.

[2021-06-30 22:55] AJIXuMuK commented on #934
Hi @SamehIbrahim,
I suppose you've updated from `v1` of the controls.
The `selectedItems` property has been renamed to `onChange`. Here is the link to the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/guides/migrate-from-v1.html) with the changes.

Please let me know if that answers your question.

[2021-06-30 23:10] AJIXuMuK opened #948 "`RichText`: Image button is checked when hyperlink is added to the text"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.2.1 ]

#### Expected / Desired Behavior / Question
When a hyperlink is added to the `RichText` the Image button should not be checked in the toolbar

#### Observed Behavior
When a hyperlink is added to the `RichText` the Image button is checked in the toolbar

#### Steps

[2021-06-30 23:19] AJIXuMuK opened #949 "`RichText`: impossible to display link with the text equal to the url"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.2.1]

#### Expected / Desired Behavior / Question
Rich text should allow to insert a hyperlink with url === text (for example, url: https://microsoft.com, text: https://microsoft.com)

#### Observed Behavior
Currently user can't use the same value for text and url

####

[2021-06-30 23:38] AJIXuMuK commented on #931
Hi @mbice,

Could you please try to use the latest version and see if the issue is still there?
If yes - could you provide some sample to reproduce it?

I've try to repro it but unsuccessfully. Here is my sample: [https://github.com/AJIXuMuK/issues/tree/master/react-controls-931](https://github.com/AJIXuMuK/issues/tree/master/react-controls-931)

[2021-06-30 23:40] AJIXuMuK commented on #926
@joaojmendes - will you take a look please?

[2021-07-01 08:16] tounsiAli commented on #938
hi @AJIXuMuK
in https://github.com/pnp/sp-dev-fx-controls-react/blob/master/src/services/SPTermStorePickerService.ts

[2021-07-01 09:06] Katli95 commented on #936
My pull request has been merged, so I'm closing the issue :)

[2021-07-01 14:01] AJIXuMuK commented on #936
Please don't close until the version is released.

[2021-07-01 19:29] Katli95 commented on #936
Oh, sorry, didn't know that's how this works ✌️

[2021-07-01 23:45] AJIXuMuK commented on #938
@tounsiAli - are you trying to modify the service? Or you're trying to copy-paste it to your solution and modify a bit?

[2021-07-02 14:08] mikezimm commented on #939
@AJIXuMuK , Thanks !
It's actually kind of ironic topic.  I remember in SharePoint 2016, I was always annoyed I had to use a picker that had 5 minute increments.  Now I actually use 1 minute increments for a year and see the benefit.

Thanks again!

[2021-07-05 19:40] petkir commented on #879
Hi @janijaak , Hi @joelfmrodrigues

in PR #950  it is with an additional property solved ```useUserLanguage?:boolean```, but I think @janijaak  enhancement should be the default behavior.

What do you think about changing to user UI language by default?

v1 and v2 are waiting for your response.

[2021-07-05 22:13] mbice commented on #931
Hi @AJIXuMuK,

Sorry, I was on vacation and didn't have a chance to look at your sample until today. I deployed it to a fresh test tenant and I can still reproduce the issue. Here are my steps (in attached video as well):

1. Edit page and add the web part with the rich text component in it
2. Add a link that points to a URL that is _**different**_ than the current page.
3. Click the newly added l

[2021-07-08 10:24] manojkgaai opened #952 "Ability to configure Panel size of FieldCollectionData Panel"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-07-08 13:32] lenain71 commented on #838
@hugoabernier can you confirm the bug ? can we evaluate a estimation date for the possible resolution ? Have you maybe a workaround?

[2021-07-09 18:25] umaknow-jeanluc opened #953 "TaxonomyPicker errorMessage label not being removed"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [latest]

#### Expected / Desired Behavior / Question
When using the errorMessage prop and reverting it to an empty string, it should remove the previous errorMessage

#### Observed Behavior
When clearing the errorMessage prop from the component, the previous errorMessage i

[2021-07-10 00:11] joelfmrodrigues opened #954 "[ComboBoxListItemPicker] defaultSelectedItems not working"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.3.0 ]

#### Expected / Desired Behavior / Question
defaultSelectedItems should select default dropdown options

#### Observed Behavior
Property not working

#### Steps to Reproduce
Pass a key to defaultSelectedItems property

[2021-07-10 00:57] joelfmrodrigues opened #955 "[ListItemPicker] add property to show all options by default"
#### Category
[x] Enhancement

#### Version

Please specify what version of the library you are using: [   3.3.0      ]

#### Expected / Desired Behavior / Question
Add a new property that allows all options to be loaded by default when clicking on the control to select an option.

#### Observed Behavior
Controls always requires the user to type something before options are displayed

[2021-07-13 09:58] a1exymoroz opened #958 "[ PeoplePicker ] Default selected items for groups"
#### Category

[x] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [ "@pnp/spfx-controls-react": "^3.2.1" ]

#### Question

Why doesn't PeoplePicker have selected items for different types?
PeoplePicker has only defaultSelectedUsers for users. But if we use different types ([PrincipalType.SecurityGroup, PrincipalType.User, PrincipalType.SharePointGroup]),

[2021-07-13 17:36] gabsnery opened #959 "[FilePicker] "Stock images" label not showing in portugues nor spanish"
[ ] Enhancement

[x] Bug

[ ] Question

#### Version
 [3.1.0]

#### Expected / Desired Behavior / Question
The label should show "Imagens de stock" in pt-pt and "Imágenes de stock" in es-es

#### Observed Behavior
Shows nothing
pt-pt:
![image](https://user-images.githubusercontent.com/12504922/125499086-57078cb4-08a5-4645-bbbd-65d1bc9222ec.png)
es-es
![image](https://user-images.githubusercontent.

[2021-07-13 20:12] jduysen opened #960 "Open ListView link in new tab/window"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [  1.19.0      ]

#### Expected / Desired Behavior / Question
Is there a way to open a link from the ListView component in a new tab/window by default?  I am able to create the link successfully for the list item by using the linkPropertyName in IViewField but it opens in

[2021-07-13 20:20] jaxnz opened #961 "ListView - Clear Selection"
#### Category
[ ] Enhancement

[ ] Bug

[ X] Question

#### Version

Please specify what version of the library you are using: [v3.2.1]

#### Expected / Desired Behavior / Question
Is it possible to either clear the selection, or update selection programmatically of a ListView?

#### Observed Behavior
Currently I have a button which shows after selection which then opens a dialog when clicked. If

[2021-07-14 07:46] tounsiAli commented on #938
@AJIXuMuK  i am trying to modify the service

[2021-07-15 00:00] #934 closed

[2021-07-19 12:41] Katli95 commented on #954
Hey @joelfmrodrigues, real glad too see that you've spotted and fixed this, just ran into it. Do you know when this might be deployed?
And while I'm at it, might I ask the same question about #936?

P.s. Sorry for bugging you like this, but I've got a project waiting for both 😇

[2021-07-19 18:52] mbice commented on #931
Hi @AJIXuMuK - any thoughts on this one? Are you now able to reproduce it on your side?

Thanks!

[2021-07-20 05:24] M365Bass opened #963 "Taxonomy Picker - initialValues should only require key and/or name"
#### Category
[x]  Enhancement
[ ] Bug
[ ] Question

#### Version
[3.2.1]

#### Expected / Desired Behaviour / Question
When setting the default value (via `initialValues`) for the Taxonomy Picker, I should only need to provide the key and/or the name of the metadata properties to select.

#### Observed Behaviour
Taxonomy Picker `initialValues` requires an object of IPickerTerms which requires key

[2021-07-20 05:27] M365Bass opened #964 "Issue form needs quick update"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
NA

#### Expected / Desired Behavior / Question
Issue form should use `- [ ]` for checkboxes instead of `[ ] ` to render properly in preview

#### Observed Behavior
Issue form template does not render the checkboxes in issue types properly

#### Steps to Reproduce
Create a new issue, add x inside the [ ] next to any of the cate

[2021-07-20 05:30] M365Bass opened #965 "Taxonomy Picker - collapsible sections"
#### Category
- [x] Enhancement
- [ ] Bug
- [ ] Question

#### Version
Please specify what version of the library you are using: [3.2.1]

#### Question
Is it possible to update the control for the Taxonomy picker to allow collapse/expand rather than displaying all available terms ?

#### Observed Behavior
Taxonomy picker shows all values expanded for the selected term set

#### Steps to Reproduce

[2021-07-20 23:41] #964 closed

[2021-07-21 03:44] jaxnz commented on #465
Any update on this? I am using a render method with two objects, but would really like to filter either those objects or the text displayed

[2021-07-22 07:28] DennisKuhn opened #966 "Taxonomy Picker add Keyword when pressing enter like in SharePoint Online"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question
In a Keyword field in SharePoint Online I can enter a new term, that doesn't match any auto complete. When I press the Enter/Return key, then the text will be added as keyword.

An event handler on Return would be help fu

[2021-07-22 12:25] joelfmrodrigues opened #968 "New control: ListItemComments"
#### Category
[x] Enhancement

#### Expected / Desired Behavior / Question
New control for list item Comments to offer the same (or similar) features as the OOB list item comments

![image](https://user-images.githubusercontent.com/19577724/126638529-2daf3fe2-934a-4420-8302-c1ad7bf17a2a.png)

[2021-07-22 12:27] joelfmrodrigues commented on #968
Discussed this with @joaojmendes and he will try to implement this 😍

[2021-07-23 13:15] SushmitaMishra opened #970 "Issue with PnP People Picker Control In SharePoint Framework. For few user we have to type full user name then it searches and showing the user. For few user if we type only few letters then it searches and showing the user and for some we have to type first name then space after that it searches and fetching the user."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-07-27 09:49] JoelM365 opened #972 "FilePicker tabs missing french translation"
[X] Enhancement

[ ] Bug

[ ] Question

#### Version
[ 3.2.1 ]

Missing translation of "Stock Image" tab in french (maybe others ?)

![FilePicker missing french translation](https://user-images.githubusercontent.com/86789385/127133360-bfc691f3-f8a1-4900-95b6-8c5d47195666.png)

[2021-07-28 07:18] jumpei-yamauchi opened #973 "Dynamic Form - query items in a folder (managed metadata field)"
[X] Enhancement

Version
[ 3.2.1 ]

Expected / Desired Behavior / Question

Component: Dynamic Form

When an item is in a folder, the CAML query does not return the result for the item if it has managed meta field (single)

In getSingleManagedMtadataLabel function, it looks like we might need the "RecursiveAll" in the ViewXml in the body of the api call to RenderListDataAsStream

[2021-07-28 07:22] jumpei-yamauchi opened #974 "Dynamic Form - ability to disable / hide fields in the form"
[x] Enhancement

Expected / Desired Behavior / Question

**Component**: Dynamic Form

Add the ability to disable / hide fields in the form

[2021-07-28 09:11] joelfmrodrigues commented on #972
Hi @JoelM365 , there was a recent pull request (#957) which I think fixed this.
Can you please install the latest beta build and check if the issue is fixed?

[2021-07-28 17:50] gobigfoot commented on #974
You should hide the field on native list form.

Navigate to the list and click "+ New"

Using the dropdown on the form select "Edit Columns"
![image](https://user-images.githubusercontent.com/1820704/127371239-37a92285-9966-47ea-8906-ecd473184383.png)

Uncheck the fields you wish to hide

You can also adjust the order the fields appear on the form using drag and drop

Click "Save"

[2021-07-28 17:55] gobigfoot opened #975 "Dynamic Form: Show field descriptions"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-07-28 19:10] AJIXuMuK commented on #973
Thank you @jumpei-yamauchi for reporting this one and proposing the solution!

The fix has been merged and will be included in the next release.

In a meanwhile you can test the functionality in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/).

[2021-07-29 06:24] JEEVANJGA commented on #262
**Category**
[ ] Enhancement
[ X ] Bug
[ ] Question

**Version**
Please specify what version of the library you are using: [ 1.12.1 ]
    "@material-ui/core": "^4.11.1",
    "@material-ui/icons": "^4.11.2",
    "@material-ui/lab": "^4.0.0-alpha.56",
    "@microsoft/sp-core-library": "1.12.1",
    "@microsoft/sp-lodash-subset": "1.12.1",
    "@microsoft/sp-office-ui-fabric-core": "1.12.1",
    "@mi

[2021-07-30 11:19] SushmitaMishra opened #977 "Issue with PnP People Picker"
#### Category
[ ] Bug

#### Version

spfx-controls-react 2.8.0

#### Expected / Desired Behavior / Question
It should work same as OOB people picker control and should return users just by entering the first 4 letter(or few letters) of firstname.

#### Observed Behavior
While performing search, we need to type more characters for search to display the user. E.g we need to enter full firstname then

[2021-07-31 22:43] joelfmrodrigues commented on #928
@wobba just completed a PR related to this and will be available in the next release.
If you would like to test it before, you can try the latest beta version (should be published in a few minutes from now)

[2021-08-05 09:57] tounsiAli opened #980 "Taxonomy in SharePoint 2019"
Hi @all
i am using @pnp/spfx-controls-react 1.19.0 in SP 2019.
All controls are good, only one problem with Taxonomy,  i dont see the proposition if i use give a text.

Thanks
![image](https://user-images.githubusercontent.com/44868971/128331421-b287dc41-d8ab-44c8-93aa-2a6b77c37b42.png)

[2021-08-05 15:39] jduysen opened #981 "DateTimePicker - Can set value for date but not time."
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [    1.19.0     ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question

#### Observed Behavior
I am setting the value of the datetimepicker with a piece of state t

[2021-08-06 03:01] wallaceturner opened #982 "what version of the library should be used for 2019 on prem"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

what version of the library should be used for 2019 on prem? Your [docs](https://pnp.github.io/sp-dev-fx-controls-react/index.html) imply [v1.1.0](https://www.npmjs.com/package/@pnp/spfx-controls-react/v/1.1.0) should be used:

Version 1.1.0 contains very few controls and i do note version 1.21.1 is the latest so I assume that the latest 1.x s

[2021-08-06 19:47] AJIXuMuK commented on #975
This will be included in the next release.
Thank you @gobigfoot for mentioning and providing the PR!

[2021-08-06 19:49] AJIXuMuK commented on #958
Thanks @a1exymoroz for submitting both issue and fix!

[2021-08-06 19:58] AJIXuMuK commented on #982
Hi @wallaceturner,
Thanks for the question.

`v1` is the correct version for on-prem implementations. It is based on SPFx v1.3. SharePoint 2016 uses SPFx v1.1. That's why some controls may not work there.
Hope it helps.

[2021-08-06 20:03] AJIXuMuK commented on #981
Hi @jduysen,
Thank you for reporting the issue.
Are you using the library in SharePoint on-prem or SharePoint Online?
If Online - could you please update to `v2` or `v3` of the controls?
`v1` is not actively maintained.

[2021-08-06 20:14] AJIXuMuK commented on #980
Hi @tounsiAli,

`v1` is not actively maintained from our side.
But we will be happy if you create a PR with the fix! :)

[2021-08-06 23:30] wallaceturner commented on #982
Hi @AJIXuMuK thanks for your reply
Was a tad confusing because of this comment

Perhaps prefixing 'SPFx 1.1.0' would help

thanks again

[2021-08-06 23:30] #982 closed

[2021-08-07 11:53] jduysen commented on #981
Alex,
Thanks for the reply. Unfortunately our environment is Sharepoint 2019, so v1 is the only compatible version. I would like to use this library instead of getting approval for another 3rd party reach library if possible. The feature in question is really just a bonus that would save the user a few clicks, but would definitely be nice to have.

[2021-08-09 08:19] #958 closed

[2021-08-09 13:07] joelfmrodrigues commented on #959
Hi @gabsnery , thanks for raising this issue.
There were updates to localised string files recently. Could you please install the latest beta version and try again?
npm i @pnp/spfx-controls-react@3.3.0-beta.4da868a

[2021-08-10 17:23] russgove opened #985 "ComboboxListItemPicker should have option to sort the items in the picker"
#### Category
[ x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.1.0  ]

#### Expected / Desired Behavior / Question
expect to see items in picker sorted alphabetcially
#### Observed Behavior
_If you are reporting an issue please describe the behavior you expected to occur when performing the action. If you are making items are show

[2021-08-10 17:27] AJIXuMuK opened #986 "Carousel is missing import of ICarouselImageProps"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [v3.2.0]

#### Expected / Desired Behavior / Question
`@pnp/spfx-controls-react/lib/Carousel` contains import of `ICarouselImageProps`. It's hard to use the `Carousel` component without this import.

#### Observed Behavior
The interface is not imported.

#### Steps to Repro

[2021-08-10 17:29] AJIXuMuK commented on #986
The fix has been implemented and will be available in the next release

[2021-08-10 17:44] #959 closed

[2021-08-10 17:49] gabsnery commented on #959
@joelfmrodrigues It worked =)
Is there any date for v3.3.0 release?

[2021-08-10 17:58] russgove commented on #466
PeoplePicker worked great. CLosing this issue

[2021-08-10 17:58] #466 closed

[2021-08-10 18:01] russgove commented on #985
looks like I can just add an optional orderBy paramneter to the existing src\common\dal\ListItemRepository  getListItemsByFilterClause method

[2021-08-10 23:00] joelfmrodrigues commented on #959
@gabsnery we are trying to get it out this week if all goes to plan :) stay tunned :)

[2021-08-10 23:20] russgove commented on #985
i’ll have a pr in a day or two

Sent from my iPad

[2021-08-11 10:00] #972 closed

[2021-08-12 02:49] modern-dev-dude commented on #961
@jaxnz Could you put this in a code pen or give me minimum steps to reproduce?

[2021-08-12 23:52] russgove commented on #926
Hi @modern-dev-dude ,
not sure i follow you. What is it that allows the developer to cut out a lot of mundane work while keeping the code a little cleaner and easier to maintain?

Do you have a sample of this working with 30 or more columns?

Russell

[2021-08-13 00:59] AJIXuMuK commented on #926
I thought we fixed it. If I remember correctly, we're currently using the sticky header feature provided by Office UI Fabric, without any modifications.
But I will need to double-check.

[2021-08-13 01:08] modern-dev-dude commented on #926
@AJIXuMuK

I was planning on looking at this tonight. I faxed a similar issue with a details list on fluent 7 too. I don't remember the actual cause, but it had something to do fixed column prop.

@russgove i will post one as I see what's going on. As far as my comments, I mean the sorting being built in alone is a decent amount of code you're not writing yourself. And, it appears they added a con

[2021-08-13 12:19] russgove commented on #926
fyi, It only fails if you have many columns. in my case there were about 50 columns

Sent from my iPad

[2021-08-16 15:02] ravichandran-blog commented on #968
Hi @joelfmrodrigues

Sorry! It seems this control already implement, could you please take look at this.
https://github.com/pnp/sp-dev-fx-controls-react/issues/794

[2021-08-16 15:08] ravichandran-blog opened #991 "Location picker control availability"
#### Category

[X] Question

Hi @AJIXuMuK ,

Sorry!, Can I know the reason why location picker control is not listed,
![image](https://user-images.githubusercontent.com/21125180/129585555-9ac8d113-1039-4c9b-9269-1ddfa494a165.png)

[2021-08-16 15:11] aaclage commented on #991
@ravichandran-blog did you update the documentation links?

[2021-08-16 15:17] joelfmrodrigues commented on #968
Hey @ravichandran-blog many thanks for the heads up! I will check this out

[2021-08-16 15:21] ravichandran-blog commented on #991
Thanks @aaclage

I have prepared this file https://github.com/pnp/sp-dev-fx-controls-react/blob/v2-dev/docs/documentation/docs/controls/LocationPicker.md

but I don't which is the documentation link file, could you please let me know the file URL if possible

[2021-08-16 15:21] joelfmrodrigues commented on #794
Hey @kunj-sangani, I completely missed this issue and the fact that it was assigned to you...
I have recently reviewed a PR for this control. Could you please check it out?
If you were already working on the control (and I am really sorry if that was the case), perhaps we could add any additional features that your version has as upgrades to the existing one?

[2021-08-16 15:27] aaclage commented on #991
@ravichandran-blog

https://github.com/pnp/sp-dev-fx-controls-react/blob/master/docs/documentation/mkdocs.yml
https://github.com/pnp/sp-dev-fx-controls-react/blob/master/docs/documentation/docs/index.md

[2021-08-16 15:30] AJIXuMuK commented on #991
@ravichandran-blog the fix for the documentation is in `dev` branch. It will be fixed when we release a new version.

[2021-08-16 15:30] #991 closed

[2021-08-16 15:32] aaclage commented on #991
@ravichandran-blog @AJIXuMuK
yes 'dev' branch was just looking for the links

[2021-08-16 15:34] ravichandran-blog commented on #991
@AJIXuMuK and @aaclage

Thanks for the information

[2021-08-16 17:32] kmrshubham0 opened #992 "To enhance the list view component or new component of table with the option of editing the row in the table itself"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-08-17 00:30] russgove commented on #992
So you’re suggesting a webpart that does shat quickedit does? Just in a webpart? I played with that way back ..

[2021-08-17 04:30] kmrshubham0 commented on #992
Not a webpart. A component like how we have listview. So will have one component where we can accept the properties like datasource. Yes like quick edit...We have seen in many project this requirement is required where in the form itself they want some table with edit in the grid itself. Can I contribute on this

[2021-08-19 07:15] Whiteshark57 opened #995 "Taxonomy picker - Collapsible sections"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [1.21.1]

#### Expected
Could you please update the taxonomy picker control to allow collapse/expand at all terms level?

#### Observed Behavior
Currently the taxonomy picker control displays all related terms expanded by default which can be very annoying when the list is

[2021-08-19 09:35] Marlen-Jacob commented on #838
I am facing the same issue - any news on this or a workaround how to use the grid layout on mobile devices? I figured out that all tiles are loading in compact mode when you turn the screen in landscape so that the non-compact mode is triggered once. But - this is not really a work around for customers 😅

[2021-08-20 06:20] modern-dev-dude commented on #926
@russgove

Do you have a repo I can see? I suspect there is another CSS package interfering. I set up a repo with minimum items and can't seem to recreate. Maybe I am missing something? I am going to added the custom render from the view fields items tomorrow and see if that messes with the sticky header.

I tried one col each, ~200 cols and ~40-60 cols all performed as expected minus the react Ke

[2021-08-20 22:07] russgove commented on #926
Thanks Mr. Dev Dude!,
My repo is at russgove/AuditLogCaptureManager (github.com)
<https://github.com/russgove/AuditLogCaptureManager>. The issue is on
src/webparts/AuditLogCaptureManager/components/AvailableContent.tsx.
     <ListView
        stickyHeader={true}
        items={callbackItems.data}
        viewFields={viewFieldsCallbackItems}

I can make a more simplified example of the issus if nee

[2021-08-20 22:15] russgove commented on #926
Its a dev tenant, so i can grant you access to the site if that would help.

On Fri, Aug 20, 2021 at 6:06 PM russell gove ***@***.***> wrote:

[2021-08-20 23:28] russgove commented on #926
Hey, upgraded @pnp/spfx-controls-react from 3.2.0 to 3.2.1 and its working!

[2021-08-21 03:06] modern-dev-dude commented on #926
Please do, I am not able to recreate with mock data. Also, what browser are you using?

[2021-08-21 03:10] russgove commented on #926
Hey, upgraded @pnp/spfx-controls-react from 3.2.0 to 3.2.1 and its working!

I appreciate your help👍

Sent from my iPad

[2021-08-21 04:53] modern-dev-dude commented on #926
@russgove Thats great news! I didn't do much, but happy to help haha .

[2021-08-21 18:47] russgove commented on #926
Oops, not its still not working.
I suspect it may be because my Listview is embedded in a <panel>.

Let my put together a siplified repo for easier debugging.'

What email should I add to my dev site to let you see?

[2021-08-21 23:24] russgove commented on #926
I created a simple example that runs in the local workbench.
https://github.com/russgove/test-sticky-headers

what am i doing wrong?

[2021-08-21 23:56] modern-dev-dude commented on #926
I will look tonight in my dev. I looked over the code,

is there a reason you're not using Fluent UI instead of the office-fabric-react package?

Also. What browser ???

[2021-08-22 00:17] russgove commented on #926
using edge and chrome.
i’ll try switching to  fluent ui.

Sent from my iPad

[2021-08-22 00:36] russgove commented on #926
just googled  office-fabric-react vs fluentui.
what a mess!
can you tell me which packages to swap out and in to make the switch 😬

Sent from my iPad

[2021-08-23 13:48] Ofer-Gal opened #996 "TaxonomyPicker Style"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [  3.2.1  ]

#### Expected / Desired Behavior / Question

Since you are using "office-ui-fabric-react": "7.156.0" I expected to be able to style it the same as controls from that.

#### Observed Behavior

there is no property for styling (the label and such)

#### Steps to

[2021-08-24 04:46] modern-dev-dude commented on #926
@russgove  I removed the all the Office UI  instances and installed fluent ui. I'll push a pr for you. However, I still have not been able to recreate with either. Screenshot?

[2021-08-25 07:33] Whiteshark57 opened #998 "Taxonomy picker - useSessionStorage property integration"
Category
[x] Enhancement

[ ] Bug

[ ] Question

Version

Please specify what version of the library you are using: [1.21.1]

Expected / Desired Behavior / Question

Could you please update the taxonomy picker control to integrate the useSessionStorage property as it is in the 3.2.1 version?

Observed Behavior

In version 1.21.1, the taxonomy picker control doesn't have the useSessionStorage prope

[2021-08-25 13:45] mhintner opened #999 "FolderPicker not working for subweb"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  3.2.1       ]

#### Expected / Desired Behavior / Question
FolderPicker shows Libraries/Folders of subweb as specified in 'ServerRelativeUrl'

#### Observed Behavior
FolderPicker shows 'This folder doesn't have any subfolders.'

#### Steps to Reproduce
FolderPicker only

[2021-09-02 01:38] AJIXuMuK commented on #953
Thank you @umaknow-jeanluc for reporting and fixing the issue.
The fix will be included in the next release.

[2021-09-04 12:43] rssilvaba commented on #538
I have the exact same issue.

@kunj-sangani
The problem with leaving the panel closed is that if you are trying to set a prop from the webpartprop pane it will just not set the property. I tried to debug it but I have no idea what can be causing this.

[2021-09-04 14:07] rssilvaba commented on #538
@Mayure5h

I just switched to draftjs, and it does not cause this issue. implementation is trickier though.

[2021-09-05 14:11] mkoutroupis opened #1007 "ListView styles"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [ 3.0.0 ]

#### Expected / Desired Behavior / Question
I would like to control the height of the ListView control by passing a className or styles object.
In the code, the **wrapper** has a set height of **50vh**. While this is great in some occasions, when using a collapsi

[2021-09-07 09:44] ranjitpokalemundrisoft opened #1008 "How to trim the search text while performing either "filter" or "substringSearch" in PNP ListItemPicker?"

[2021-09-09 22:15] joelfmrodrigues commented on #960
@modern-dev-dude many thanks for the input.
@jduysen were you able to resolve this?

[2021-09-09 22:21] joelfmrodrigues commented on #961
@jaxnz if I understand your question correctly, have you tried to use defaultSelection property and pass it an empty array when you want to clear the selection? (Make sure the controls renders again with the new property value)

[2021-09-09 22:37] joelfmrodrigues commented on #963
@M365Bass Thanks for the feedback, it's something that I have also experienced myself so completely understand the scenario.
It's handy to have the same interface as the change event as you may need to, for example, select items that were previously selected; but clearly has unnecessary properties when defining manually.
I will update the documentation to include a note stating that path and terms

[2021-09-09 22:49] joelfmrodrigues commented on #965
@M365Bass something like what the [TreeView](https://pnp.github.io/sp-dev-fx-controls-react/controls/TreeView/) control gives us in terms or collapse/expand?

[2021-09-09 22:53] joelfmrodrigues commented on #970
@SushmitaMishra thanks for reporting this issue.
Would you be able to provide more details that could help us recreate this scenario more efficiently? Were you able to identify any patterns between the users that relate to each of the cases described?

[2021-09-09 22:57] joelfmrodrigues commented on #974
@jumpei-yamauchi did the comment from @gobigfoot answered your question?

[2021-09-09 23:00] joelfmrodrigues commented on #970
Duplicate of #977 , will close as the other issue is better structured

[2021-09-09 23:00] #970 closed

[2021-09-09 23:05] joelfmrodrigues commented on #992
@kmrshubham0 would definitely be useful in some scenarios :)
Would you be willing to implement and submit a PR?

[2021-09-09 23:08] joelfmrodrigues commented on #995
Hi @Whiteshark57 , many thanks for the suggestion
I will close this item as it's a duplicate of #965 . Feel free to join the discussion on the other item 😊

[2021-09-09 23:08] #995 closed

[2021-09-09 23:14] joelfmrodrigues commented on #1007
Hi @mkoutroupis thanks for the information provided, will definitely be a good improvement.
Would you be willing to work on it and submit a PR?

[2021-09-09 23:47] russgove commented on #992
Just daydreaming but…
it could be really useful if we could use this component to edit data  from different sources. for example if we could have it pull data from multiple lists (such as a site that has multiple lists of items, one per region) and update the item in the source list, or even move  an item between the lists.

Even better: what if we could pass it the results of. a search query and

[2021-09-10 08:54] M365Bass commented on #965
Yes, that’s pretty much it!

[2021-09-10 13:20] AJIXuMuK commented on #965
@patrikhellgren it's like a dream comes true :)

If you control has parity in features with the existing `TaxonomyPicker` we can just replace one with another.
If not - I will be more than happy to add your component as a `ModernTaxonomyPicker` or something.

[2021-09-10 13:50] jduysen commented on #960
@joelfmrodrigues thanks for following up.  It looks like @modern-dev-dude recommendation will be the solution to this question.

Thanks,

James

[2021-09-10 13:50] #960 closed

[2021-09-10 14:19] modern-dev-dude commented on #960
@jduysen Glad to help, good luck in your implementation!

[2021-09-10 15:56] patrikhellgren commented on #965
@AJIXuMuK Sounds great and it is already named ```ModernTaxonomyPicker``` so even better. I will just do some tidying up and provide some documentation so you will see a PR coming in a few days.

[2021-09-11 07:05] Ashwini-Blore opened #1010 "PeoplePicker Does not throw error when invalid user is bound"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-09-11 10:42] kmrshubham0 commented on #992
yes... i will implement and raise a PR

[2021-09-11 10:46] kmrshubham0 commented on #992
Yes it's a nice idea. I will go through the screenshots

[2021-09-11 22:58] joelfmrodrigues commented on #965
This is great and really promising 👏

[2021-09-15 14:06] Arknev opened #1011 "FilePicker, Site Tab, List View, Column Header, Sorting Not Working as Expected"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0 ]

#### Expected / Desired Behavior / Question
FilePicker control, list view column headers to properly sort on single click.

#### Observed Behavior
When the FilePicker is open, in the site tab, viewing a library with files, the sorting of items by clicking on colum

[2021-09-18 19:50] AJIXuMuK commented on #1011
Thank you @Arknev for reporting the issue.
It has been fixed and will be included in the next release.
You can test the functionality in the latest [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/)

[2021-09-18 20:42] AJIXuMuK opened #1012 "File Picker - Site Tab - Lots of file types don't have appropriate icons"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question
Such documents as .js files have correct icons in File Picker - Site tab

#### Observed Behavior
The documents have broken file type icons

#### Steps to Reproduce
Open file picker in the doc library with .js files

[2021-09-18 20:43] AJIXuMuK opened #1013 "FileTypeIcon - Add support of 20px icons"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question
Currently `FileTypeIcon` control support 16px, 48px and 96px icons.
The default icon size in document library is 20px.
We need to support it as well.

[2021-09-20 14:12] Arknev commented on #1011
@AJIXuMuK This is fantastic, thank you!

[2021-09-20 14:12] #1011 closed

[2021-09-21 11:25] SitaP-Wip opened #1015 "ListItemAttachments control not behaving as expected when itemId is loaded asynchronously from the state variable."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-09-21 16:23] Xiyitifu opened #1016 "<ListPicker> baseTemplate option should allow string or multiple numbers"
#### Category
[x] Enhancement

#### Version

Please specify what version of the library you are using: [ Latest : 3.3.0]

#### Expected / Desired Behavior / Question
ListPicker Component should allow input of a string or multiple numbers because filter request is allowing it.
(Example : ?$filter=(BaseTemplate eq 100 or BaseTemplate eq 106))

#### Observed Behavior
ListPicker actually do not allow

[2021-09-22 12:51] Martin-Leonhartsberger-Habau commented on #996
I have the same question regarding PeoplePicker.
It was a pain to find out, how to change the width of the suggestion callout (it is fixed to 180px in in office-ui-fabric-react).
This post / answer helped me out: https://stackoverflow.com/questions/64510173/how-to-change-the-width-of-normalpeoplepicker-dropdown

![image](https://user-images.githubusercontent.com/66724076/134346051-0dc5c810-1109-40

[2021-09-23 13:59] lirik30 opened #1018 "The whole lodash library is importing in Pagination control"
#### Category
[x] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.2.1 ]

#### Expected / Desired Behavior / Question
In [`Pagination.tsx`](https://github.com/pnp/sp-dev-fx-controls-react/blob/master/src/controls/pagination/Pagination.tsx) only `isEqual` is importing from `lodash`.

#### Observed Behavior
The whole `lodash` library are

[2021-09-23 23:47] joelfmrodrigues commented on #1018
@lirik30 thanks for reporting the issue.
I have marked it as "Good First Issue" and will fix it if no one else sends a PR (you are welcome to send a PR if interested)

[2021-09-24 00:00] #974 closed

[2021-09-24 00:00] #961 closed

[2021-09-25 05:46] petkir commented on #980
@tounsiAli

can you send your control properties.
I think this version had suggestion hard codes to lcid 1033 en-us. As i see on your screenshot you use lcid 1031german.

I think it is related to issue #879.

[2021-09-26 14:17] Ofer-Gal opened #1022 "fileNameWithoutExtension in FilePicker, not calculated right"
#### Category
[ ] Enhancement
[X] Bug
[ ] Question
Please specify what version of the library you are using: [  3.3.0  ]

#### Expected / Desired Behavior / Question
fileNameWithoutExtension for file name '01.06%20Malpractice%20Coverage_454342.docx'
should be '01.06%20Malpractice%20Coverage_454342' but the result shows '01'
It seems to substring until the first '.' which is wrong if there are more

[2021-09-26 16:02] Ofer-Gal opened #1023 "FilePicker defaultFolderAbsolutePath does not work Out of context"
#### Category
[ ] Enhancement
[X] Bug
[ ] Question
#### Version [ 3.3.0   ]
#### Expected / Desired Behavior / Question
Assigning defaultFolderAbsolutePath to a folder not in the current context, should work regardless of where the webpart is running at.

#### Observed Behavior
Assigning defaultFolderAbsolutePath to a folder not in the current context, causes errors and shows no files.

#### Steps

[2021-09-27 08:29] SmarterJB opened #1024 "DynamicForm RichText Field losing focus on typing"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.3.0 ]

#### Expected / Desired Behavior / Question
Using the DynamicForm component with a RichText field should not lose focus when typing in the rich text field.

#### Observed Behavior
If you try to type in a RichText field in the DynamicForm you lose focus after each

[2021-09-29 08:37] AdiuTankT72 commented on #515
Workaround for those without jQuery:
iframeOnLoad={(iframe: any) => { const head = iframe.contentDocument.head; const css = '<style>.ms-dialog body {overflow: inherit !important;}</style>'; head.insertAdjacentHTML("beforeend", css); }}

[2021-09-29 11:49] Ajay8790 commented on #977
@joelfmrodrigues  any updates on this? I am also facing the same issue in production environment.
Can you please guide me How to fix this ?

[2021-09-29 12:43] VladNS90 opened #1025 "FieldUserRenderer - error on loading Person card (SPHelper -> Cannot read properties of undefined (reading 'getUserById'))"
#### Category

[x] Bug

#### Version

Please specify what version of the library you are using: [  2.9.0 ]

If FieldUserRenderer used for example on a Display form of SharePoint list then Person card fail to load.

Error in console

**Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'getUserById')**

I suppose some import is missing in SPHelper file
If I add

**import

[2021-09-29 13:53] spverma03 opened #1026 "SitePicker control do not show all sites?"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

We are observing that not all sites are fetched by PnP Site Picker Control. It seems 500 items are getting fetched on load of control. There are more sites in the tenant. When user types, the intended result is not shown as it was not fetched initially. New call for data do not trigged as we type the search-keyword.

This is certainly a bug.

R

[2021-10-02 15:47] joelfmrodrigues commented on #1018
@lirik30 thanks for the PR, this will be available shortly as part of the automated beta release and included in the next main release

[2021-10-02 15:53] AJIXuMuK commented on #1022
Thank you @Ofer-Gal for reporting it!
@gautamdsheth made the fix - it will be included in the next release.

[2021-10-02 16:01] joelfmrodrigues commented on #1016
@Xiyitifu thanks for this suggestion, definitely a good enhancement.

[2021-10-02 16:29] AJIXuMuK commented on #965
`ModernTermPicker` has been merged (thanks @patrikhellgren)!
It will be available in the next release.

[2021-10-02 16:37] AJIXuMuK commented on #1026
Hi @spverma03 - thank you for reporting this one.
I don't think I have any environment to test with more than 500 sites, so I will need your help here.

Could you please check how many `_api/search/query` requests you see in the Network when opening the site picker?
Could you also send me screenshots or results for PrimaryResults.RelevantResults.TotalRows from these request(s)?

Thanks!

[2021-10-02 16:41] AJIXuMuK commented on #1025
Hello @VladNS90 - thank you for reporting this issue.
Could you please provide a sample or more detailed instructions on how to repro it?
How did you add a People Picker to the Display form?

Thanks!

[2021-10-02 16:53] AJIXuMuK commented on #1015
@SitaP-Wip - thank you for reporting this one.
Could you please explain you scenario a bit more?
You add an attachment control on the page. And then, at some point of time, you're providing the id as a prop?

[2021-10-02 16:53] AJIXuMuK commented on #1024
Thank you @SmarterJB for reporting this one.

I can repro it and will take a look.

[2021-10-02 17:35] VladNS90 commented on #1025
Hi @AJIXuMuK. Sorry, my mistake. I used FieldUserRenderer in my Solution. Display form was just an example. Any way it's easy to reproduced with using of FieldUserRenderer. Person card will not load because of missing import in SPHelper class. Suppose this came with migratiob to pnpjs v2. I think it could be easy fix and could help to fix other possible issue with methods in SPHelper. Hope now it'

[2021-10-03 07:26] spverma03 commented on #1026
Hi @AJIXuMuK - Thank you for your prompt reply. I cannot share exact data due to data protection policies of my client. Following are details that maybe useful for you to triage:

API: *Tenant URL*/sites/*mysite*/_api/search/query?querytext=%27contentclass:STS_Site%20Path:<Tenant URL>*%27&selectproperties=%27SiteId,SiteID,WebId,DepartmentId,Title,Path%27&rowlimit=500&startrow=0

**Query String Par

[2021-10-03 07:37] spverma03 commented on #1026
@AJIXuMuK ,

I tried modifying the definition to increase the row limit by changing code inside node-modules but it didn't worked. The SitePicker kept on loading. I could see continuous search query being made in the network tab of browser.

As I'm looking for a quick solution currently, may you think of some work-arounds for time being until the resolution is pushed to repo:

1. Can we add more f

[2021-10-03 15:31] AJIXuMuK commented on #1026
Hi @spverma03,

1. You can try to make the change in `node_modules`. And it would be a good enhancement in future.
2. the maximum row limit for search query is 500. That's why there is a loop in the code to do multiple requests if needed.

I'll try to repro it.

[2021-10-03 15:45] AJIXuMuK commented on #1026
@spverma03 I decreased `rowLimit` locally to 5 to repro the issue. But it behaves correctly.

When you're saying you see continuous search requests in network tab - what is the `startrow` in these requests? Is it changing?

In my case I see like that:
<img width="670" alt="Screen Shot 2021-10-03 at 11 45 00 AM" src="https://user-images.githubusercontent.com/17036219/135761477-f6323701-dd1b-493d-bd

[2021-10-05 15:56] pineaulo opened #1033 "Accordion doesn't have any props to change default chevron icon"
#### Category
[x] Enhancement
[ ] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question

It would be very handy to have a prop that allow to define custom icon for the chevron.

[2021-10-05 18:36] BrunoAlmeidaKotesky opened #1034 "pt-br.js loc file not included on v3.3.0"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-10-05 20:03] IvanovRoman opened #1035 "How create files *scss.d.ts.map?"
How create files `*scss.d.ts.map` in folder `lib` after run `yarn build`?

[2021-10-05 23:36] svermaak opened #1036 "TaxonomyPicker label as optional"
#### Category
[x ] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [        latest ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
I would like to have label that is displayed above the TaxonomyPicker to be optional

####

[2021-10-06 00:22] AJIXuMuK commented on #1026
@spverma03 - I have changed the query to be POST and added support for `trimDuplicates` and `additionalQuery`.
You can try these new features in [beta version](https://pnp.github.io/sp-dev-fx-controls-react/beta/) and check if it works.

[2021-10-06 22:59] Ofer-Gal opened #1037 ""Drag and Drop" option to the "Upload Files" tab in FilePicker stopped accepting dropped files"
#### Category
[ ] Enhancement
[X] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [  3.3.0 ]

#### Expected / Desired Behavior / Question
"Drag and Drop" option to the "Upload Files" tab in FilePicker should use dropped files from explorer.
#### Observed Behavior
dropped files do nothing to the control
![image](https://user-images.githubusercontent.com/505

[2021-10-07 06:06] spverma03 commented on #1026
@AJIXuMuK - Thank you for your prompt assistance. I tried the beta version and it is working for me. Eagerly waiting for the stable release (3.4.0). We are not allowed to use beta versions in client/production. Do you have any expected timeline for version 3.4.0 roll-out?

Again, thank you promptly addressing this issue. It will help the community.

[2021-10-07 13:30] Ofer-Gal commented on #1037
If it helps, here is the error from the dev tools
`TypeError: Cannot read properties of null (reading 'isDirectory')
    at DragDropFiles.<anonymous> (https://localhost:4321/dist/ace-dpc-request-web-part.js:14586:47)
    at step (https://localhost:4321/dist/ace-dpc-request-web-part.js:14471:23)
    at Object.next (https://localhost:4321/dist/ace-dpc-request-web-part.js:14452:53)
    at https://loc

[2021-10-11 11:44] Whiteshark57 commented on #965
I had a similar request for version 1 dedicate to on-premises SharePoint which was closed for duplicate reason.
Hope v1 will be updated too with this functionality.

[2021-10-12 11:22] VladNS90 opened #1039 "TaxonomyPicker + Select Term Panel does not support RTL mode"
#### Category
[ X ] Bug

#### Version

2.9.0

#### Expected
When using Arabic Site and TaxonomyPicker RTL mode for Suggestions and Select Term panel should work.

#### Steps to Reproduce
Just use Taxonomy picker on Arabic site
Screenshot of Select term in Arabic site (broken tree - wrong paddings and margins + Save cancel buttons should have margin between):
![TermPickerRTL](https://user-images.gi

[2021-10-13 14:37] AJIXuMuK commented on #559
This is a closed issue.
@cclarke3 - if you experience problems please open a new one and provide details in there.

[2021-10-13 15:16] cclarke3 opened #1040 "Treeview expandtoselected not working and event handler not running when defaultSelectedKeys are updated."
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [6.14.11]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
When I update state of the defaultSelectedKeys to select another node, I expect the control to run t

[2021-10-13 20:17] patrikhellgren commented on #1039
@VladNS90 You should probably look into upgrading to v3 of the controls since v2 soon will be deprecated. In v3 you will soon find the ```ModernTaxonomyPicker``` (should be available in the beta version already) and I just made a PR with some small changes that should make it work with RTL mode (#1041). The ```ModernTaxonomyPicker``` is not yet a full feature replacement for ```TaxonomyPicker``` b

[2021-10-15 02:13] #1036 closed

[2021-10-20 07:29] MonalisaBaltatescu commented on #977
Hi, I want to contribute to this issue. Could you please assign me so I can start working on it?

[2021-10-20 08:09] evlo commented on #725
I will open new one if I come across that need in the future and find out it would still be nice enhancement.

[2021-10-20 08:19] joelfmrodrigues commented on #977
Hi @MonalisaBaltatescu many thanks for volunteering, I have assigned the issue to you

[2021-10-20 08:31] joelfmrodrigues commented on #725
@cneSPFX0815 fair point, I think you are correct and I misinterpreted it. Thanks for your input!
@MonalisaBaltatescu still available to help? Can I assign this to you?

[2021-10-21 06:58] MonalisaBaltatescu commented on #725
@joelfmrodrigues  Yes, I still want to contribute :)

[2021-10-21 07:33] spverma03 commented on #1026
@AJIXuMuK - Thank you for the update.

Meanwhile I observed similar issue in **@pnp/spfx-property-controls** where the OOB shows 5 search results by default and has option of *Show More*. In case of **PropertyFieldSitePicker control** there are only 3 search results *(Can we make this configurable at least or have a show more CTA)*. Unlike OOB control, we cannot search by URL *(Good to have search

[2021-10-21 16:06] pineaulo opened #1043 "<IconPicker> should have a onCancel property"
#### Category
[*] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question
When the icon picker is dismiss, an optionnal onCancel callback should be called.

#### Observed Behavior
Currently, it is not possible to show a dynamic preview of the icon change since the changes cannot be revert due t

[2021-10-23 15:50] #1026 closed, assigned to nobody

[2021-10-25 12:07] MonalisaBaltatescu opened #1048 "FilePicker Recents tab selection is not visible"
In the Recents tab I can select the files but the selection circle is shown only on hover

#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

SPFx 1.12.1
sp controls 1.12.1

#### Expected / Desired Behavior / Question
For the sake of consistency, I expect the files in the recent tabs to be displayed as a list (same as OneDrive or Site Files). The selected file should be visible.

[2021-10-25 13:25] #1037 closed, assigned to nobody

[2021-10-29 13:10] gabsnery opened #1053 "Can't gulp bundle when updating version to 3.3.0"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

 @pnp/spfx-controls-react [ 3.3.0  ]

When I update the package to 3.3.0 and run gulp bundle --ship I get error:

[code]
My package.json

[code]

[2021-10-29 19:49] jonesron opened #1054 "PeoplePicker in ListView Command Set Extension"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [ 2.10.0 ]

Hello

I'm trying to use the People in a ListView command set extension, but I keep receiving the following error:

Type 'ExtensionContext' is not assignable to type 'WebPartContext | ExtensionContext'

Please let me know if you need more info.  Thanks in advan

[2021-10-29 20:05] jonesron commented on #1054
I just tried to add the people picker to a webpart and I received the following error:

Type 'WebPartContext' is not assignable to type 'WebPartContext | ExtensionContext'.
  Type 'import("_%ProjectDirectory%_/node_modules/@microsoft/sp-webpart-base/dist/index-internal").WebPartContext' is not assignable to type 'import("_%ProjectDirectory%_/node_modules/@pnp/spfx-controls-react/node_modules/@micr

[2021-10-29 20:33] jonesron commented on #1054
I don't know if this matters, but on the repository, context is set to BaseComponentContext

![image](https://user-images.githubusercontent.com/7633261/139498255-706e074a-431e-4cda-b47f-83293a0847a2.png)

But when I install the package, context is WebPartContext | ExtensionContext

![image](https://user-images.githubusercontent.com/7633261/139498147-9ff2d126-b623-47d7-93d5-25f3436e3d96.png)

[2021-10-29 20:49] AJIXuMuK commented on #1054
@jonesron - what version of SPFx and Controls are you using?
v2 is for SPFx <= 1.11
v3 is for SPFx 1.12.1
v3 beta is for SPFx 1.13

[2021-10-29 20:51] jonesron commented on #1054
1.12.1 for the extension.  1.13 for the webpart.

[2021-10-29 20:55] jonesron commented on #1054
the package.json says is '2.10.0' for both solutions.

I ran the npm that was on the home page:
![image](https://user-images.githubusercontent.com/7633261/139500548-6f6aba4b-b974-4878-b4ec-73ab3ff160ea.png)

[2021-10-29 21:28] RubenHerrera86 opened #1055 "ModernTaxonomyPicker - how to Add initial terms manually without query the term store"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-10-29 21:32] RubenHerrera86 commented on #1055
The initialterms have changed  in ModernTaxonomyPicker to ITermInfo[],
is it possible  to add the manually the ITermInfo[] without query the term?

[2021-10-29 21:34] AJIXuMuK commented on #1054
@jonesron sorry - there was a glitch with the pipeline and incorrect version has been released as the latest one.

Could you please reinstall the package again and see if it works.

Also, if your SPFx solution is 1.13 (for example, @microsoft/sp-component-base package has version 1.13.0 in `package.json`) you'll need to install the beta version with `npm i --save --save-exact @pnp/spfx-controls-re

[2021-10-30 14:21] jonesron commented on #1054
@AJIXuMuK the peoplepicker is now working in both of my solutions after the package update.

As always, thank you for your help.

[2021-10-30 14:21] #1054 closed

[2021-10-30 14:34] patrikhellgren commented on #1055
@RubenHerrera86 You can pass an array of objects like the example below but you need to know the Id of the term and preferrably the correct label (even though it will work with any label value):
[code]
All that is needed as an initial value is label name ("Sub process A1" in the example) for the language of the user ("en-US" in the example) and the term Id but the rest is needed just to be a corre

[2021-10-31 23:28] joelfmrodrigues commented on #1048
Merged PR to fix the checkbox display issue and will be in the next release

[2021-10-31 23:39] joelfmrodrigues commented on #1016
Merged and will be included on the next release

[2021-11-03 01:00] #1015 closed

[2021-11-03 11:20] gabsnery commented on #1053
But we have many other solutions with pnp/spfx-controls-react@3.3.0 and SPFx v1.11
I just want to understand why this one is breaking.

[2021-11-04 09:57] STGHMAAV opened #1056 "File Picker - "Your organisation" tab, breadcrumb not working."
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.3.0]

#### Expected / Desired Behavior / Question
If you access the "Your organisation" tab and access a folder, be able to go back to the parent folder using the breadcrumb to see all folders.

#### Observed Behavior
If you access the "Your organisation" tab it showsthe

[2021-11-04 18:39] HiltonGiesenow commented on #851
I'm getting this now with PeoplePicker, with SPFx 1.13.0 and "@pnp/spfx-controls-react": "^3.4.1"

[2021-11-04 18:43] AJIXuMuK commented on #851
@HiltonGiesenow please, read my comments above.
You need to use beta version for now.

[2021-11-04 18:46] HiltonGiesenow commented on #851
ah ok, I thought that was for the 3.4.0 release. Thanks, will do that. I presume you'll notify on this thread if there's an update?

[2021-11-04 19:00] HiltonGiesenow commented on #851
I forgot to say : Thanks for the super-quick response @AJIXuMuK

[2021-11-04 19:21] AJIXuMuK commented on #851
This thread is closed, so not sure...
But we will have a new release pretty soon.
We'll definitely announce the release on Twitter: https://twitter.com/M365PnPControls

[2021-11-04 19:25] HiltonGiesenow commented on #851
Ok thanks. I'm trying the latest beta now (3.5.0-beta.1412592), but I'm still getting the same error. Should I open a new issue?

[2021-11-04 19:30] AJIXuMuK commented on #851
Please, use my sample above and compare it with your solution.
Maybe modules were not updated or something.
Try to remove `package-lock.json` and `node_modules`, and run `npm i`.

[2021-11-05 08:59] HiltonGiesenow commented on #851
I checked your sample, and I've matched 100% the versions of SPFX, @pnp/spfx-controls-react, and even office-ui-fabric-react just to be safe. I've removed `node_modules`, and `package-lock.json`, run `npm i`, reloaded VS.Code, but still no luck - same error. I got your sample working fine, albeit with the same error initially in Controls113WebPart.ts - I had to change line 57 to `context: this.con

[2021-11-09 16:15] joelfmrodrigues commented on #985
PR merged and changes will be available on the next release

[2021-11-10 01:23] mhomol commented on #851
I also tried using your sample and got the same issue after running `gulp serve`

`Error - [tsc] src/webparts/controls113/Controls113WebPart.ts(57,19): error TS2322: Type 'WebPartContext' is not assignable to type 'BaseComponentContext'.`

[2021-11-10 02:20] Theosaurus-Rex opened #1057 "PropertyFieldFilePicker not working in Viva ACE Property Panes"
#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [     3.2.0    ]

#### Expected Behaviour
Expected the control to work when implemented with a Viva Adaptive Card

#### Observed Behaviour
When implementing the control, I initially sort of got it working inside the separate Property Control Pane file that comes scaffolded

[2021-11-11 07:59] sancezz2k opened #1059 "Save button has the wrong german translation"
Category
[ ] Enhancement

[ x] Bug

[ ] Question

Version
3.4.1

Expected / Desired Behavior / Question
I expect the correct German translation for the text of the save button.

Observed Behavior
The German translation for the text of the Save button is wrong. The text should be: 'Speichern' - currently the text is 'Retten'.
Here are the German translations: https://github.com/pnp/sp-dev-fx-contro

[2021-11-11 12:16] bhaidar commented on #851
Hi @AJIXuMuK
I made sure to match the versions of the same package as in the sample you shared. I am still getting this error:

[code]

[2021-11-12 19:02] amirmsai opened #1062 "Changes in TreeView"
**To define the expanded nodes and dont lose it after a refresh: only to add a block of code in TreeviewItem in componentWillReceiveProps,**
It will be like this:
 public componentWillReceiveProps(nextProps: IMyTreeItemProps): void {
    // If selection is turned on, set the item as selected
    if (this.props.selectionMode != MyTreeViewSelectionMode.None) {
      let active = nextProps.activeItem

[2021-11-18 00:32] joelfmrodrigues commented on #1033
@pineaulo this change has been merged and will be available in the next release. It is also available in the latest beta release.

[2021-11-18 02:53] clechner77 opened #1063 "Listview filter with AND/OR"
#### Category
[ ] Enhancement

[ ] Bug

[X] Question

#### Version

Please specify what version of the library you are using: [ v3 ]

#### Expected / Desired Behavior / Question
Can listview filter on multiple fields/colums with AND/OR ?  I could not figure out a syntax that would accommodate that scenario.  Also note, documentation has a spelling mistake  -->ColumndName

[2021-11-20 06:18] ryanwishnow commented on #851
Did anyone ever find a fix?

[2021-11-20 16:36] AJIXuMuK commented on #851
Once again: if you use SPFx 1.13 **use beta versions on controls for now**.
It does work.

Attached another example.

If you're updating existing solution, please, make sure to remove `package-lock.json` and `node_modules`. Also double-check the versions of SPFx modules and controls modules.
[context.zip](https://github.com/pnp/sp-dev-fx-controls-react/files/7574837/context.zip)

[2021-11-20 16:50] ryanwishnow commented on #851
Hey Alex,

Appreciate your help. I followed your directions and matched the versions in your sample in my web part. I also deleted the `node_modules` folder. `package-lock.json` file, and ran an `npm install`

  `"dependencies": {
    "@microsoft/sp-core-library": "1.13.0",
    "@microsoft/sp-lodash-subset": "1.13.0",
    "@microsoft/sp-office-ui-fabric-core": "1.13.0",
    "@microsoft/sp-property

[2021-11-22 09:49] roberto-ajolfi opened #1064 "Using ListView in a SharePointFullPage component"
#### Category
[ ] Enhancement

[ ] Bug

[ X] Question

#### Version

Please specify what version of the library you are using: [  3.4.1  ]

#### Expected / Desired Behavior / Question
I've added a ListView in a SPFX component. I want to use this component as a full page component (I have added the _SharePointFullPage_ in the _supportedHosts_ setting to the part manifest).

#### Observed Behavior
T

[2021-11-22 10:04] roberto-ajolfi opened #1065 "ListView header scrolling issue"
#### Category
[ ] Enhancement

[ X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.4.1 ]

#### Expected / Desired Behavior / Question
A ListView added in a full page component is limited to a part of the screen and the horizontal / vertical scrolling bars are not working properly.

#### Observed Behavior
A ListView added in a full page component is l

[2021-11-24 20:31] joelfmrodrigues commented on #1034
@BrunoAlmeidaKotesky Thanks for spotting this!

[2021-11-24 22:06] joelfmrodrigues commented on #1034
@BrunoAlmeidaKotesky this has now been fixed and will be in the next release.
If you have the chance, you can test it by installing the latest beta version. Happy to get PRs if you spot anything that is not right :)

[2021-11-25 09:08] jonsjonsson commented on #851
I was getting this on the PropertyFieldColumnPicker and this worked for me to get past this error.
`context: this.context as any,`

[2021-11-25 17:12] #918 closed

[2021-11-25 17:14] AJIXuMuK commented on #415
fixed with move to v3

[2021-11-25 17:14] #415 closed

[2021-11-25 17:16] AJIXuMuK commented on #390
Implemented a while ago.

[2021-11-25 17:16] #390 closed

[2021-11-25 17:17] AJIXuMuK commented on #794
Implemented a while ago.

[2021-11-25 17:17] #794 closed

[2021-11-25 17:18] AJIXuMuK commented on #876
Fixed and no response.

[2021-11-25 17:18] #876 closed

[2021-11-25 17:18] AJIXuMuK commented on #885
Implemented a while ago.

[2021-11-25 17:18] #885 closed

[2021-11-25 17:19] AJIXuMuK commented on #928
Implemented in v3.3.0

[2021-11-25 17:19] #928 closed

[2021-11-25 17:20] AJIXuMuK commented on #942
implemented a while ago.

[2021-11-25 17:20] #942 closed

[2021-11-25 17:21] AJIXuMuK commented on #954
@joelfmrodrigues - could you please specify the version when it was fixed?

[2021-11-25 17:23] AJIXuMuK commented on #955
implemented.

[2021-11-25 17:23] #955 closed

[2021-11-25 17:24] baywet commented on #415
thanks for providing an update after all this time!

[2021-11-26 15:01] roberto-ajolfi commented on #1065
Additional info: it happens when I choose to use the sticky header (`stickyHeader={true}`):
[code]

[2021-11-26 22:47] joelfmrodrigues commented on #954
@Katli95 this should be available since 3.4.0.
I'm sure it's working now as I worked on a project this week where it's being used

[2021-11-26 22:50] #954 closed

[2021-11-26 23:11] joelfmrodrigues commented on #999
@petkir really sorry as I missed that you have tagged me here.
That's a good question, although updating everything to support subwebs may be a big task. I think updating one control at a time may be easier to manage and test. @AJIXuMuK any thoughts on updating all controls to support subwebs?

Regarding the FolderPicker control, as it seems that you have already looked into it, would you be inter

[2021-11-26 23:13] joelfmrodrigues commented on #1035
@IvanovRoman I'm not really sure what is your question. Could you please provide more information?

[2021-11-26 23:20] joelfmrodrigues commented on #1055
@RubenHerrera86 closing this issue as like @patrikhellgren mentioned, you need to pass an array of objects and you need to know the term Id

[2021-11-26 23:20] #1055 closed

[2021-11-26 23:26] joelfmrodrigues commented on #1053
@gabsnery what Alex mentioned regarding versions is likely the reason, but just to double-check that this is not caused by some commonly known nodejs issues, could you please try this out?
https://stackoverflow.com/questions/53230823/fatal-error-ineffective-mark-compacts-near-heap-limit-allocation-failed-javas

[2021-11-27 00:46] joelfmrodrigues commented on #1056
@STGHMAAV many thanks for reporting this issue.
A fix has been implemented and will be part of the next release.

[2021-11-27 00:53] joelfmrodrigues commented on #1059
@sancezz2k many thanks for raising the issue and providing a solution.
The label is now updated and will be included as part of the next release.

[2021-11-27 07:08] petkir commented on #999
Hi @joelfmrodrigues

the next couple of weeks I will not manage it, but I will give it a try.

I would add a Property to the control.
If it is set, the control will show Libs and Folders from that Site/Web.
Subweb Selection has to be outside this control.

And yes to change all controls is a big task, but I will look to the other too, to support this.

[2021-11-27 19:33] AJIXuMuK commented on #999
Hey @petkir @joelfmrodrigues - I would do one step at a time.
Totally agree with the idea of additional property. To be "aligned" with other controls, we can do similarly to `ListPicker` and add:
[code]

If the property is set - use it, otherwise use the url from the context.

[2021-11-30 17:25] gmorken opened #1068 "Dashboard component, widget content is not scrollable"
#### Category
[ ] Enhancement

[ ] Bug

[x ] Question

#### Version

Please specify what version of the library you are using: [   3.4.1      ]

#### Expected / Desired Behavior / Question
In widget, if content is to long, there should be a scrollbar?

#### Observed Behavior
Content is not scrollable

#### Steps to Reproduce
New webpart, added dashboard component

[2021-12-01 11:30] ChiranjeeviJammula opened #1069 "Cannot find module "@pnp/spfx-controls-react/lib/LivePersona""
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2021-12-03 08:27] #1023 closed

[2021-12-03 13:52] CV-Ankit opened #1082 "PeoplePicker control same user not accept while email is different."
We have one license internal user and one external user. both have same name but different email id.

In one people picker both user cant be selected as both share same name.

**Version using**
@pnp/spfx-controls-react ^2.10.0
Control: https://pnp.github.io/sp-dev-fx-controls-react/controls/PeoplePicker/

Thank you in advance.

[2021-12-04 17:01] AJIXuMuK commented on #1069
Thank you @ChiranjeeviJammula for reporting this one!
We'll be working on the fix.
In a meanwhile you can use the next syntax:
[code]

[2021-12-04 17:07] #1007 closed

[2021-12-04 17:08] #985 closed

[2021-12-04 17:08] #1016 closed

[2021-12-04 17:08] #1033 closed

[2021-12-04 17:08] #1034 closed

[2021-12-04 17:08] #1043 closed

[2021-12-04 17:08] #1048 closed

[2021-12-04 17:08] #1056 closed

[2021-12-04 17:08] #1059 closed

[2021-12-04 17:09] AJIXuMuK commented on #1064
dupe of #1065

[2021-12-04 17:09] #1064 closed

[2021-12-04 17:17] AJIXuMuK commented on #1065
Thank you @roberto-ajolfi for reporting this one.
For the sticky header you need to provide the specific height of the component to make it work.
You can use `className` and `listClassName` properties of the component to specify the height you need. For example, you could do something like `90vh` or `calc(100vh - some_value)`.

Please, get back to us if that doesn't work.

[2021-12-04 17:29] AJIXuMuK commented on #1063
Hi @clechner77,

For now ListView supports filtering based on all columns or one specific column, with the contains check of the value.
There is no way to do AND/OR filtering on multiple columns.
I'd say "filter" is more "search" in that case.

We'd be happy if you enhance the control with additional functionality.
If you are interested - feel free to create a PR.

[2021-12-04 17:29] #1063 closed

[2021-12-04 17:30] AJIXuMuK commented on #1062
Hi @tounsiAli,

Thank you for the suggestion.
As you've already dig into it - would you be interested in submitting the PR?

Thanks!

[2021-12-04 17:43] AJIXuMuK commented on #1040
Hi @cclarke3,

Sorry, I don't quite get what version of the library you're using. The latest is 3.5.0, there is no 6.14.11.

I've just tested `defaultSelectedKeys` on the latest version, and it's working fine. I was using button click to update the keys:
[code]

Could you double-check the library version?

[2021-12-06 09:07] roberto-ajolfi commented on #1065
Thanks @AJIXuMuK for you reply. Unfortunately the `ListView `doens't seem to have both `className `and `listClassName `property. And it doesn't have a `style `prop too. So I don't know how to apply your suggestion.

[2021-12-06 13:44] AJIXuMuK commented on #1065
@roberto-ajolfi - it does have both properties: https://github.com/pnp/sp-dev-fx-controls-react/blob/master/src/controls/listView/IListView.ts

Please, check the version of the library if you don't see these props in the List View.

[2021-12-07 06:25] tounsiAli commented on #1062
Hi Alex,
how can i do it ?

Le sam. 4 déc. 2021 à 18:30, Alex Terentiev ***@***.***> a
écrit :

[2021-12-07 10:17] stevebeauge opened #1071 "Dependencies aren't properly set"
#### Category
[x] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   3.5.0      ]

#### Expected / Desired Behavior / Question

I believe the dependencies aren't correctly set up. For example, `@pnp/sp` is set to exact `2.5.0` version.
This will force any consumer of this library to stick on this version. If not, compile errors appears w

[2021-12-07 10:45] stevebeauge commented on #1071
Pushed the repro :
* https://github.com/stevebeauge/spfx-react-controls-repro-1071/tree/main-pnpm
* https://github.com/stevebeauge/spfx-react-controls-repro-1071/tree/main-npm

[2021-12-07 17:02] Jwaegebaert commented on #1068
@gmorken, to make your content scrollable on overflow you can add your own custom styling.

Easy example:

`
                content: (
                  <div style={{overflowY: "auto"}}>
                    ... your content
                  </div>
                )
`

Result:

![afbeelding](https://user-images.githubusercontent.com/38426621/145072876-715aa997-0121-4c75-a533-0879d9ccd307.png)

Ho

[2021-12-07 18:15] dunlapm commented on #669
Is there any kind of timeline for this? This bug makes the control nearly unusable on sites with dark backgrounds, and also affects the side panel text.

[2021-12-07 18:36] nbelyh commented on #669
@dunlapm I have fixed that for my project (look at the above scss fragment for example), but this whole thing (proper theme support for spfx controls library, especially this control) will IMHO require much more effort.

[2021-12-08 02:39] t0mgerman commented on #1024
@AJIXuMuK - I'm fairly sure this is a similar issue to the one you fixed in #666 - if I modify https://github.com/pnp/sp-dev-fx-controls-react/blob/master/src/controls/richText/RichText.tsx#L630 and swap `value` for `defaultValue` - this issue goes away for me - so perhaps something similar is going on.

[2021-12-08 23:54] t0mgerman opened #1073 "Boolean fields in DynamicForm do not honour the default value in list settings"
#### Category
[ ] Enhancement

[*] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected Behavior

When using the DynamicForm component, Boolean (Yes/No) fields should render the `default value` set in list settings.

#### Observed Behavior

If a default value of "No" (false) is set in the list, the control still renders a default state o

[2021-12-09 01:16] t0mgerman opened #1075 "DateTime fields in DynamicForm do not honour regional settings"
#### Category
[ ] Enhancement

[*] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected Behavior

When using the DynamicForm control, Date/Time fields should display date strings in the correct date format for the selected region in SharePoint Regional Settings

#### Observed Behavior

Sites created in English and set to `en-GB` in regio

[2021-12-09 09:56] joelfmrodrigues commented on #1068
@gmorken were you able to resolve the issue using @Jwaegebaert 's suggestion?

[2021-12-09 10:24] t0mgerman opened #1077 "DynamicForm does not load or save correctly when field name starts with special character"
#### Category
[ ] Enhancement

[*] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected Behavior

DynamicForm should display and save all field values, regardless of internal field name in SharePoint

#### Observed Behavior

When a field is created in SharePoint with a special character at the start of the field name, SharePoint replaces

[2021-12-09 10:45] t0mgerman commented on #1075
For anyone this is affecting, who can't wait for an update - we were able to get dates displaying correctly by modifying the private `languageName` property of `context.pageContext.web` - before we passed the context object to the DynamicForm control. ie:

[code]

very hacky, and I'm not sure if the page context is passed by reference and/or if this would affect other things on the page - but it a

[2021-12-11 00:00] #1053 closed

[2021-12-11 00:00] #1035 closed

[2021-12-13 09:28] roberto-ajolfi commented on #1065
@AJIXuMuK I found the props: they're available in v3.5.0. I was using v3.4.1 (as specified in the original request).
After the upgrade, unfortunately I still experience the same issue.

[2021-12-13 14:28] AJIXuMuK commented on #1065
Hello @roberto-ajolfi - have you tried to use these properties to play with the styles?

[2021-12-14 06:59] AjFromAz007 opened #1079 "Dynamic form doesn't refresh dynamically when list ID is updated."
#### Category
[ ] Enhancement

[ *] Bug

[ ] Question

#### Version [latest]

Dynamic form is not refreshed when list ID is updated on the fly. Expecting the behavior like list form in earlier version of pnpjs.

Also location picker and people picker controls are not recognized in content types and form doesn't display appropriate controls.

Thanks !

[2021-12-14 22:23] Katli95 opened #1080 "FilePicker - feature - preventing hash change on Tab navigation"
#### Category
- [x] Enhancement
- [x] _Bug_

#### Version
- [current]

#### Desired Behavior/Expected
Expected to be able to use the control within a SPFx Library Extension without issue. I'm opening it with an extension in a Document Library while the user is in the context of a Document Set. I should be able to navigate the Tabs of the `<FilePicker/>` without it affecting the surrounding context

[2021-12-15 12:16] gmorken commented on #1068
great @Jwaegebaert ! its working now

[2021-12-15 14:17] #1068 closed

[2021-12-16 17:18] AjFromAz007 commented on #1079
This is a high-priority issue for us, can someone please share any inputs on this. Thanks !

[2021-12-17 22:39] kadu-jr commented on #907
Hey guys,

So, I stumbled on this issue a couple days ago because I needed this feature for my project. As @joelfmrodrigues said, it was not a complex task, but I had to add a new method to fetch the site Title to display it in the breadcumb.
I have submitted a PR #1081 to add this feature. If you find any problem with the implementation, feel free to contact me.

[2021-12-18 17:24] AJIXuMuK commented on #1082
Transferred to the appropriate repo.

[2021-12-18 19:00] #1040 closed

[2021-12-21 00:11] t0mgerman commented on #1079
Are you changing the list ID from one list to another and expecting the dynamically rendered form to re-render?

The `DynamicForm` control gathers field and list information during the `componentDidMount` phase of the [component life-cycle](https://www.google.com/search?q=react+component+lifecycle&rlz=1C1CHBF_en-GBGB852GB852&sxsrf=AOaemvK2Mvgp7NOf0PotZSJTmDoSgeuQfA:1640045214694&source=lnms&tbm=is

[2021-12-21 13:14] AJIXuMuK commented on #1079
@t0mgerman provided a great solution for you @AjFromAz007.
And to be honest - you request is not an issue. It is more an enhancement to consider.

[2021-12-21 13:58] AJIXuMuK commented on #1039
@VladNS90 - unfortunately v2 is deprecated. We do not maintain it anymore.
I totally understand the issue you're experiencing, but the only way to fix it from library standpoint is to upgrade to v3 and use Modern Taxonomy Picker.

[2021-12-21 13:58] #1039 closed

[2021-12-21 13:59] AJIXuMuK commented on #1025
Fixed as part of v 3.4.0

[2021-12-21 13:59] #1025 closed

[2021-12-21 13:59] AJIXuMuK commented on #1018
This has been fixed as part of 3.4.0

[2021-12-21 13:59] #1018 closed

[2021-12-21 14:04] AJIXuMuK commented on #981
@jduysen - would you be able to submit a PR for v1 to fix this issue?
I'll be happy to review it and include as part of v1 release.

[2021-12-21 14:05] AJIXuMuK commented on #963
@joelfmrodrigues - is this one fixed/implemented?

[2021-12-21 14:10] AJIXuMuK commented on #938
@tounsiAli - I believe `GetTermSet` method doesn't have a `locale` parameter. The only parameter is `termSetId`.

What exactly do you want to achieve?

[2021-12-21 14:17] AJIXuMuK commented on #931
@mbice - weird but I still can't repro it. (And sorry for the delay).

What browser are you using? Maybe it's browser-specific thing.

[2021-12-21 14:20] AJIXuMuK commented on #926
@russgove - do you still experience the issue with the latest version of the controls and SPFx?
Just wanted to check if I need to dig into it.

[2021-12-21 18:24] jduysen commented on #981
Alex, I cloned the v1 branch to my machine but am getting an SSL error (ERR_SSL_PROTOCOL_ERROR) and a bunch of typescript errors when I run gulp serve after running npm install.  I installed typescript 3.6.4 and that seemed to resolve the typescript errors, but even after running gulp trust-dev-cert I can't access the local workbench.  Unfortunately I cannot add system environment variables on thi

[2021-12-21 19:06] AJIXuMuK commented on #981
@jduysen  few things:
- v1 is based on node version 6 (maybe v8 will work as well). I would recommend to use nvm or nvs to host multiple versions of node on your machine
- For the certificate error try few thigs:
  - use hosted workbench, not local one
  - https://github.com/sharepoint/sp-dev-docs/issues/1002
  - open Network tab, select the failing request to manifests.js and open it in a separat

[2021-12-21 22:22] jduysen commented on #981
Ok, I spun up a vm that I can install nvm on.  I cloned v1, installed everything using node v6 and am getting the below errors upon running gulp serve.  I would really like to contribute, but it seems like I might be in a small minority still using the older version of the library, so if it isn't worth your time to troubleshoot, please don't worry about it.  I can make the adjustments as mentioned

[2021-12-21 22:43] russgove commented on #926
Hi, Imhave not tested with the latest version.
Will post back when i get a chance.
Happy Holidays 😀

Sent from my iPad

[2021-12-27 16:00] #1065 closed

[2021-12-28 15:11] tounsiAli commented on #1062
Hello,

the changes are defined. I created a PR #default expanded treeItem by
tounsiAli · Pull Request #1084 · pnp/sp-dev-fx-controls-react (github.com)
<https://github.com/pnp/sp-dev-fx-controls-react/pull/1084>

Amir MSAI

Le mar. 7 déc. 2021 à 15:08, Alex Terentiev ***@***.***> a
écrit :

[2021-12-28 15:12] tounsiAli commented on #1062
Hello,

can you please add my name "Amir MSAI" like a contributor :)
thanks
Amir MSAI

Le mar. 28 déc. 2021 à 16:11, msai amir ***@***.***> a écrit :

[2021-12-30 12:12] BorisLand opened #1085 "@pnp/spfx-property-controls PropertyFieldFilePicker => Upload does not work and Site Assets does not show files for other languages"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version
"@pnp/spfx-property-controls": "3.3.0"

### Component
PropertyFieldFilePicker

#### Expected
1. Upload File work fine
2. Library "Site Assets" display all file for other language (example: german)

#### Observed Behavior
1. Upload file does not work. No file Uploaded.
2. Switch the browser language to german, select "Website" (ger

[2021-12-31 14:57] omarelanis opened #1086 "ModernTaxonomyPicker InitialValues does not work"
#### Category
[ ] Enhancement

[ X ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   3.5   ]

#### Expected / Desired Behavior / Question

I am using the Modern Taxonomy Picker (https://pnp.github.io/sp-dev-fx-controls-react/controls/ModernTaxonomyPicker/) and it's working great and look awesome however I cannot get it to accept a default values using

[2022-01-02 14:33] patrikhellgren commented on #1086
Hi @omarelanis,
the initialValues property is what it says, i.e. the values to have selected during the initial render so you cannot change or set it after the control has already been rendered which would be the case in your example.
In your example you also pass the initial term as a single value, not as an array, but that might just be an error in the example code.

One way to solve your proble

[2022-01-02 15:46] omarelanis commented on #1086
Hi @patrikhellgren ,

Many thanks for the response, greatly appreciated.

I should have mentioned I'm setting the state on component during componentDidMount() so it's set before the controls are rendered, I can see it is in the state item when the control gets rendered. However you hit the nail on the head about it not being returned as an array - D'OH!! It's a single select Taxonomy field so I w

[2022-01-02 15:46] #1086 closed

[2022-01-04 14:15] rzkalva11 opened #1087 "How to add class in group header row of ListView control?"
#### Category

Question

#### Version

3.5.0

#### Question
I am trying to group the data with multiple fields. But the list view shows the groups in same level even though it is a sub group.

This is what I get:

![Issue](https://user-images.githubusercontent.com/60599518/148071017-5020a1d3-7c79-41eb-8382-323673fc792a.png)

This is what I want (Tabbed View):
![Wanted](https://user-images.githubus

[2022-01-04 16:00] #1008 closed

[2022-01-04 16:00] #931 closed

[2022-01-04 23:01] #926 closed

[2022-01-05 22:16] rpuvvala-chwy commented on #795
In html file, i have added this tag<ejs-richtexteditor #toolsRTE id='alltoolRTE' [(value)]='contentValue' [toolbarSettings]='tools'>

            </ejs-richtexteditor>.
content value has email template info

I am trying to use bullet list and number list  . I place the cursor on 7th line, and click o bullet list, but i see the bullet is showing on first line, same with the number

[2022-01-06 23:14] Theosaurus-Rex opened #1089 "PropertyFieldFilePicker - Preview for picked file updates across all instances"
#### Category
[ ] Enhancement

[ x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ latest ]

#### Expected / Desired Behavior / Question
I expect that when I have multiple File Picker web parts in my property pane, both with unique identifying keys, that the preview image that appears in the property pane after an image has been selected will update fo

[2022-01-07 03:59] Theosaurus-Rex commented on #1085
Regarding the upload issue, I wrote a function to get around this:
[code]

[2022-01-07 11:53] BorisLand commented on #1085
Thank you very much, the upload is now working. In my example, the code now looks like this.

[code]

The problem with multilingualism is still open. it affects every translated library e.g. "Documents" (german: "Dokumente") and "Site Assets" (german: "Websiteobjekte")

[2022-01-08 17:38] AJIXuMuK commented on #907
Thanks to @kadu-jr this has been implemented and will be included in the next release.

[2022-01-10 19:49] Ofer-Gal commented on #907
I upgraded to "@pnp/spfx-controls-react": "^3.6.0-beta.1671868" but I don't see a way to tell the tab (site tab?) to show libraries from other sites then the current.
Also, Is there a way to change the order of the tabs. (Upload files first, OneDrive second etc..)

Thank you

[2022-01-11 10:20] joelfmrodrigues commented on #963
@AJIXuMuK not yet, will update soon

[2022-01-12 21:47] joelfmrodrigues commented on #963
@M365Bass documentation was updated previously and I have improved it slightly. As mentioned before, it is useful to maintain the same interface for objects, so the recommendation is to pass empty values for the properties that are not used if you don't have their values at a given point.
Many thanks for raising it, I will now close this issue

[2022-01-12 21:47] #963 closed

[2022-01-12 21:54] joelfmrodrigues commented on #996
@Martin-Leonhartsberger-Habau there is a new `styles` property that was added to the PeoplePicker control recently (around 2 months ago) that possibly does what you need. Could you please check and open a separate issue if still required (to avoid switching the context of this item)?

[2022-01-12 21:58] joelfmrodrigues commented on #996
@Ofer-Gal is this still required? Have you tried out the [modern-looking taxonomy picker](https://pnp.github.io/sp-dev-fx-controls-react/controls/ModernTaxonomyPicker/) in case it suits your requirements?
If still required, would something like the `styles` property of the PeoplePicker work for you?

[2022-01-12 23:03] Ofer-Gal commented on #996
I got this working long time ago.  Sorry I did not close then.

[2022-01-12 23:03] #996 closed

[2022-01-13 13:43] fareedmohammad opened #1090 "FilePicker controls appends the string to the url that affects my react router page"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-01-14 11:16] kallejar opened #1093 "TaxonomyPicker control allows select deprecated/untaggable terms when typing"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-01-17 13:38] RicoNL opened #1094 "DateTimePicker switch allowTextInput"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  v3.5.0       ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
Make allowTextinput a setting to switch on/off

This was previously requested in https://git

[2022-01-17 13:53] RicoNL opened #1095 "DateTimePicker switches month/day on manual input"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.5.0     ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question
Manual input on DateTimePicker respects locale settings for day/month

#### Observed Behavior
Wh

[2022-01-17 17:10] fabiofranzini opened #1096 "NEW CONTROL - Adaptive Card Host"
Hello,
I've been working with Adaptive Cards, I really like the new ACE model and in general I like the fact that I can describe the UI of a Web Part in a declarative way and be able to change it at runtime, like a configuration.

After some tests on this, **I created a React control that allows you to render an Adaptive Card as a component**, also using the templating part and the ability to invo

[2022-01-18 09:56] joelfmrodrigues commented on #1096
Hi @fabiofranzini , that would be a great addition in my opinion. I was actually discussing this with @joaojmendes a few days ago as he was considering a similar control. Perhaps we could use this thread as a starting point to avoid duplication of effort and duplicated PRs?

Are you both able to describe your approach so we could all brainstorm the best way to move this forward and hopefully benef

[2022-01-18 16:07] fabiofranzini commented on #1096
Hi @joelfmrodrigues,
in recent days I chatted with @joaojmendes about this thing, we can join forces and bring the best of our solutions.

The idea is to have a control that can host Adaptive Cards in both Web Parts and Application Customizer, so that they can be used as a UI.

Also, as I have already implemented in some examples, we could extend the Adaptive Cards 'standard' set of controls with

[2022-01-18 16:23] fabiofranzini commented on #1096
Hi @AJIXuMuK, yes and thanks for the suggestion! The purpose is to create a reusable control and extend the common set of controls that come from Adaptive Cards.

[2022-01-19 11:56] joaojmendes commented on #1096
Hi, all,

I think that we can accept the control of @fabiofranzini and the new improvements will be implemented on that .

Thanks
João

From: Fabio Franzini ***@***.***>
Date: Tuesday, 18 January 2022 at 16:24
To: pnp/sp-dev-fx-controls-react ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: Re: [pnp/sp-dev-fx-controls-react] NEW CONTROL - Adaptive Card Host (Issue #1096)

H

[2022-01-19 12:30] fabiofranzini commented on #1096
Tomorrow I and @joaojmendes will synchronize and let's see how to collaborate on this component 👍

[2022-01-25 23:31] joelfmrodrigues commented on #1089
@Theosaurus-Rex thanks for reporting the issue. Just to double-check, is this happening with the File Picker control for the web part property pane?

[2022-01-25 23:36] joelfmrodrigues commented on #1085
@BorisLand thanks for reporting the issue. As this is related to the property pane controls, I will transfer it to the correct repository.

[2022-01-27 13:04] ghost opened #1101 "FilePicker: Option "From a Link". Cannot enter a link manually"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
When disabling property "hideLinkUploadTab" a Tab "From a link is shown". If i try to enter a link manually, it will not work, copy & paste link works. It seems taht the textbox is disbaled for editing. Maybe there is a r

[2022-01-27 15:04] cneSPFX0815 opened #1102 "FilePicker: Option "From a Link". Link Validation"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
When disabling property "hideLinkUploadTab" a Tab "From a link" is shown. If i try to paste one drive link it sometimes shows "...invalid". Maybe there is a reason for this? Maybe its because the link is from "My OneDrive

[2022-01-27 17:49] nbelyh opened #1103 "Rich text crashes when clicked multiple times in a row"
#### Category
[ ] Enhancement
[x] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question

Nothing happens.

#### Observed Behavior

The application crashes (react crashes), with message:
[code]

Crashes here, at the row 867, `this.setState`:
https://github.com/pnp/sp-dev-fx-controls-react/blob/2f2839739fbd6337f

[2022-01-28 14:16] nbelyh commented on #1103
After investigating this a bit, there is an infinite loop (seems to be caused by fixing #666)
Setting the control value resets it's selection that is causing selection change event, then selection change event again resets the value with setState(), this causes the whole thing to loop.

[2022-01-28 18:09] miguelisidoro opened #1104 "Wrong documentation - LivePersona"
#### Category
[ ] Enhancement

[ ] Bug

[X ] Question

#### Version

Hello,

The page at https://pnp.github.io/sp-dev-fx-controls-react/controls/LivePersona/ is showing an incorrect information on how to use LivePersona control.

import { LivePersona } from "@pnp/spfx-controls-react/lib/LivePersona";

should be replaced with

import { LivePersona } from "@pnp/spfx-controls-react/lib/controls/LiveP

[2022-01-28 18:55] miguelisidoro opened #1105 "LivePersona - hover not working"
#### Category
[ ] Enhancement

[X ] Bug

[ ] Question

#### Version

3.5.0

#### Expected / Desired Behavior / Question

Hover should be showing the information of the user as in SharePoint Online and Teams.

#### Observed Behavior

Hover is not working when I mouse over the persona card.

#### Implementation details

import { LivePersona } from "@pnp/spfx-controls-react/lib/controls/LivePersona";

[2022-01-28 19:03] miguelisidoro commented on #1105
I was able to solve it by passing a null serviceScope. Is this expected?

[2022-01-29 17:41] AJIXuMuK commented on #1104
Dupe of #1069

[2022-01-29 17:41] #1104 closed

[2022-01-29 17:45] AJIXuMuK commented on #1105
@joaojmendes - could you please answer this question?
I don't see `serviceScope` in the docs, so don't know why it's needed if it is populated from the `context`.

[2022-01-29 18:28] joaojmendes commented on #1105
Hi Alex,

I’m already talked with Miguel and is working.   I will refactor some code… the ServiceScope is not need ,  and you are right we can get the serviceScope from context.

Thanks!
João

From: Alex Terentiev ***@***.***>
Date: Saturday, 29 January 2022 at 17:45
To: pnp/sp-dev-fx-controls-react ***@***.***>
Cc: João Mendes ***@***.***>, Mention ***@***.***>
Subject: Re: [pnp/sp-dev-fx-control

[2022-01-29 20:11] AJIXuMuK commented on #1102
Thank you @cneSPFX0815 for reporting this issue!
I have changed the logic and also added new property `checkIfFileExists`. You can use it to disable check of the file's existance.

[2022-01-29 21:52] joaojmendes commented on #1105
For compatibility with other controls that use "LivePersona". I remove the context, the control has only  has the serviceScope  property.

This change only be effect on the next release os controls.

here a sample  how to use.

<LivePersona upn="joao.j.mendes@spteck.com"
  template={
    <>
      <Persona text="João Mendes" secondaryText="joao.j.mendes@sapteck.com" coinSize={48} />
    </>
  }
 se

[2022-01-29 23:08] joelfmrodrigues commented on #1103
@nbelyh many thanks for investigating it and providing more details. Would you be available to fix it and send a PR?

[2022-01-29 23:15] nbelyh commented on #1103
@joelfmrodrigues unfortunately I am not sure how to fix this properly... 😢  The issue looks a bit complicated for me. There were already several attempts to fix the core thing as far as I understand (linked issue), i.e. the `<RichText value={....}>` thing. There are even comments in the code related to it 😄  For myself, I just created a workaround of replacing the `value={}` with `defaultValue={}`

[2022-01-29 23:37] joelfmrodrigues commented on #1105
Hey @miguelisidoro, is this issue now resolved?
The PR from Joao Mendes to remove the property for SPFx context is also now merged

[2022-01-31 14:31] bansalanshuman opened #1109 "Pnp Js Dynamic form - add value to list field from query string"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-02-01 19:05] ferrarirosso opened #1110 "FilePicker Control : Display custom fields and views from document libraries"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [V3.5.0]

#### Question
The file picker controls supports 3 types of views : List, Tiles and Compact.
I would like to display custom added fields (fields added in a document library) and possibly to display the different views present for the document library.

Is this poss

[2022-02-02 00:00] #1105 closed

[2022-02-02 08:19] itzikj opened #1111 "SPFX Contorl ListView control"
#### Category
[ ] Enhancement

[ ] Bug

[ ] Question

#### Version

"@types/webpack-env": "1.13.1",
"@pnp/spfx-controls-react": "3.4.0-beta.f3b11dc",

 #### Question
Hi,

I am using ListView control from @pnp/spfx-controls-react
The component has several properties when one of them is "groupByFields"  and his implementation required 2 Property:
 **name
 order**
when i use groupByFields  the defaul

[2022-02-02 16:07] jduysen opened #1112 "Listview Control - Rerendering a row or maintaining row focus"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [^1.21.1 ]

_If you are not using the latest release, please update and see if the issue is resolved before submitting an issue._

#### Expected / Desired Behavior / Question

I am using the list view control to render a list of assignments for document requests that happen

[2022-02-02 20:41] jduysen commented on #1111
Here is a way that is a bit hacky, but might work if your list isn't going to be gigantic.

If you just want it to collapse them upon load you could set up a piece of state that tracks when your data/list is loaded, then in your componentDidUpdate or useEffect (depending on what version of react you're using) watch for changes to that state, then you can set up a MutationObserver that watches for

[2022-02-02 21:34] itzikj commented on #1111
Hi,

Thanks for your reply

I kept working on it  and after digging at the component ListView i found one of the component use has JS file called "ListView.js" - this file contains function called "_getGroups" one of his parameters is "groupByFields"

![image](https://user-images.githubusercontent.com/36602028/152238754-1bf668d8-c24c-4b71-a96b-5285b1bea4ad.png)

One of the component props is "grou

[2022-02-02 21:43] jduysen commented on #1111
You can do that, but that is definitely not a best practice as running npm install on your project will get the original files and overwrite changes you made to any modules.

[2022-02-02 21:50] itzikj commented on #1111
Ok,

Is it possible to lock these files only for a specific project?
npm shrinkwrap??

[2022-02-03 14:31] jduysen commented on #1111
Check the top answer on here: [Stack Overflow](https://stackoverflow.com/questions/13300137/how-to-edit-a-node-module-installed-via-npm#:~:text=You%20can%20use%20patch-package%20to%20make%20and%20persist,just%20made%20changes%20to.%20npx%20patch-package%20%3Cpackage%20name%3E)

I am not sure on shrink wrap, I think that just forces certain version numbers.  I guess if you are the only developer wo

[2022-02-04 14:51] Ofer-Gal opened #1113 "FilePicker "From Link" produces unusable file"
#### Category
[X ] Bug (Maybe)

#### Version 3.5
#### Expected / Desired Behavior / Question
When user chooses the "From Link" and enters the URL provided by SharePoint like:
`https://ecgmcdev.sharepoint.com/:w:/r/teams/1462.401/DPCDocuments/Test1.docx?d=w8f7d831d619c4aa4a31ac848fb003c51&csf=1&web=1&e=F4OEkl`
Using the blob produced by download to upload to SharePoint, should be a valid file.

###

[2022-02-06 11:03] #1111 closed

[2022-02-06 11:03] itzikj commented on #1111
Thanks

[2022-02-07 13:51] fonbrauzen opened #1114 "listItemComments ability to filter mentionings"
#### Observed Behavior
https://github.com/pnp/sp-dev-fx-controls-react/blob/master/src/controls/listItemComments/components/AddComment/AddComment.tsx

here  in new comment control on @ => opened list of users for using in the comment as mentions, this is nice, but when you have lots of users on the site will be nice to have filtering (either):
1. @ + letters afterwards, like if want to find user "

[2022-02-07 15:06] jared-leddy opened #1115 "Unable to Retain DragDropFiles Files for Submit"
#### Category
[ ] Enhancement
[ ] Bug
[X ] Question

#### Version
Please specify what version of the library you are using: [v3.5.0]

#### Expected / Desired Behavior / Question

When the files are dropped onto the component, the onDrop method is called. I'm trying to figure out how to capture the files uploaded in the "FileList" or the ".files" and retain them in a variable of some kind.
With eac

[2022-02-07 23:20] jduysen opened #1116 "Listview not rendering large list upon scroll (1.21.1)"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [   1.21.1]

#### Observed Behavior
Listview is not rendering past 100+ items when spfx webpart is on a sharepoint page, but has no issue when rendering the same items in the spfx workbench.

I have a dropdown that has a list of different statuses that the user can select.

[2022-02-08 06:08] ShashaShet opened #1117 "sortItems Property in ListView Control not working as expected."
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-02-08 08:02] RicoNL commented on #1094
Thanks!

[2022-02-08 14:59] jduysen commented on #1116
This issue was actually with the fabric ui DetailList not to do with this library.  Closing.

[2022-02-08 14:59] #1116 closed

[2022-02-08 15:51] jduysen commented on #981
Going to use workaround above.

[2022-02-08 15:51] #981 closed

[2022-02-08 15:51] jduysen commented on #1112
Resolved by not initiating a blocking loading animation.

[2022-02-08 15:51] #1112 closed, assigned to nobody

[2022-02-10 08:48] wonderplayer opened #1118 "DynamicForm to handle events list"
#### Category
[X] Enhancement

[ ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
I really like [DynamicForm](https://github.com/pnp/sp-dev-fx-controls-react/tree/master/src/controls/dynamicForm) control. I've thought of implementing it myself, but saw it here and had mixed feelings (felt like somebody

[2022-02-10 09:45] joelfmrodrigues commented on #1114
@fonbrauzen the control should allow you to filter in the way you describe in option 1 (@myname...) As you type, it will keep filtering, the same it does out of the box in a list item comments box.
Can you double-check that you have granted all the required graph permissions for the control to work?
Documentation mentions `People.Read` and `User.ReadBasic.All` but if you still don't get this exper

[2022-02-10 09:47] joelfmrodrigues commented on #1089
Transfering to property pane controls repo

[2022-02-10 10:29] fonbrauzen commented on #1114
sorry, User.ReadBasic.All was missing, now working

[2022-02-10 10:29] #1114 closed

[2022-02-10 15:53] fabiofranzini opened #1120 "NEW CONTROL - Variant Theme Provider"
Hi, I'm using in production in several Web Parts a control that I had shown (in its first implementation) in this Web Part: https://github.com/pnp/sp-dev-fx-webparts/blob/main/samples/react-fluentui-theme-variant

In practice it is a React control that allows you to apply the theme variation directly to the Web Part instead of to the entire section of the page.
It therefore allows you to take a Fl

[2022-02-10 16:17] ManjulaMasthanvali09 opened #1121 "PNP Treeview control is not working as excepted on binding the dynamic data from SP list"
after adding treearr.push(tree); in Else part the child nodes are binded and Expand and collapse are not working
using Node-version v12.18.0 version

Please suggest on this below is the code

whole code is as below

[code]

[2022-02-10 16:18] ManjulaMasthanvali09 commented on #1121
after adding treearr.push(tree); in Else part the child nodes are binded and Expand and collapse are not working
using Node-version v12.18.0 version

Please suggest on this below is the code

whole code is as below

import * as React from 'react';
import styles from './SpfxPnpTreeview.module.scss';
import { ISpfxPnpTreeviewProps } from './ISpfxPnpTreeviewProps';
import { ISpfxPnpTreeviewState } fr

[2022-02-10 16:20] ManjulaMasthanvali09 commented on #643
after adding treearr.push(tree); in Else part the child nodes are binding. Expand and collapse are not working
using Node-version v12.18.0 version

Please suggest on this below is the code

whole code is as below

import * as React from 'react';
import styles from './SpfxPnpTreeview.module.scss';
import { ISpfxPnpTreeviewProps } from './ISpfxPnpTreeviewProps';
import { ISpfxPnpTreeviewState } from

[2022-02-10 16:20] ManjulaMasthanvali09 commented on #643
please suggest

[2022-02-10 18:12] ManjulaMasthanvali09 commented on #870
after adding treearr.push(tree);  in Else part the child nodes are binding and Expand and collapse are not working
using Node-version v12.18.0 version

Please suggest on this below is the code

private async _getLinks() {
const allItems: any[] = await sp.web.lists.getByTitle(“TreeLinks”).items.getAll();
var treearr: ITreeItem[] = [];
allItems.forEach(function (v, i) {

if (v[“ParentId”] == null) {

[2022-02-10 18:13] ManjulaMasthanvali09 commented on #870
and the tree view control is as below

 public render(): React.ReactElement<ISpfxPnpTreeviewProps> {
    return (
      <div className={styles.spfxPnpTreeview}>
        <TreeView
          items={this.state.TreeLinks}
          defaultExpanded={false}
          selectionMode={TreeViewSelectionMode.None}
          selectChildrenIfParentSelected={true}
          showCheckboxes={true}
          treeI

[2022-02-11 01:08] AJIXuMuK commented on #1110
Hi @ferrarirosso - there is no such an option right now.
But it could be a good enhancement to consider.

[2022-02-11 03:55] PathToSharePoint opened #1122 "Type mismatch in PeoplePicker context"
#### Category
[ ] Enhancement

[x] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
I am adding a PeoplePicker to a SPFx Web Part version 1.14.0 beta and expecting the following code to work:

[code]

#### Observed Behavior
I am getting a type mismatch for the context prop:
![image](https://user-images.g

[2022-02-11 05:30] PathToSharePoint commented on #1122
I used this workaround but it doesn't feel right:
`                  context={this.context as any}
`

[2022-02-11 14:14] AJIXuMuK commented on #1117
Hi @ShashaShet - I tested this behavior with my data and don't see any issues.
Could you please check if the `items` array in your state is modified between render and sorting?
Just check in debug if the values for fields you're mentioning are there.

[2022-02-11 14:15] AJIXuMuK commented on #1118
@wonderplayer - sure, feel free to submit a PR when it ready!

[2022-02-11 14:25] AJIXuMuK commented on #1121
@ManjulaMasthanvali09 - I don't know what exactly you mean under "not working" or "stopped working", but you're adding the same tree item twice in the tree.
So, you will have duplicating keys. As a result, tree can't differ these nodes.
[code]
Ideally, I would "massage" your data first, before constructing the tree.
It seems to me that your implementation may fail if child trees are processed befo

[2022-02-11 14:25] #1121 closed

[2022-02-11 18:03] ManjulaMasthanvali09 commented on #1121
its working the problem was it was not able to read the data from Hyperlink column value

[2022-02-11 18:04] ManjulaMasthanvali09 commented on #1121
on changing the column type it started working .If you can fix for hyper link column that would be great

[2022-02-11 18:33] AJIXuMuK commented on #1121
@ManjulaMasthanvali09 - it's developer's responsibility to provide data based on contract.

[2022-02-11 19:52] jared-leddy commented on #1115
@AJIXuMuK attempt failed. When a file is dropped, the upload isn't supposed to happen immediately. The file is supposed to be saved so the rest of the form can be completed. Which is where the issue is at. The files aren't being retained through the entire form completion. Hard to determine why.

[2022-02-12 06:40] PathToSharePoint opened #1125 "LocationPicker width"
#### Category
[ ] Enhancement

[ ] Bug

[x] Question

#### Version

Please specify what version of the library you are using: [3.5.0]

#### Expected / Desired Behavior / Question
How can I force the width of the LocationPicker? Or have it fit in its container?
I thought the components were built on Office UI Fabric, but I don't see a style prop.

#### Observed Behavior

Here is what it looks like

[2022-02-12 17:14] #907 closed

[2022-02-12 17:14] #1094 closed

[2022-02-12 17:14] #1096 closed

[2022-02-12 17:14] #1069 closed

[2022-02-12 17:14] #1073 closed

[2022-02-12 17:14] #1075 closed

[2022-02-12 17:14] #1077 closed

[2022-02-12 17:36] AJIXuMuK commented on #725
included in v3.6.0

[2022-02-12 17:36] #725 closed

[2022-02-12 17:46] AJIXuMuK commented on #1103
I will look at it for sure.
Little business: find appropriate block of time :)

[2022-02-12 19:10] Ofer-Gal commented on #907
@AJIXuMuK can you please tell me how to tell the tab (site tab?) to show libraries from other sites then the current.?

[2022-02-13 14:48] Ofer-Gal commented on #907
When I use ```webAbsoluteUrl={`${window.location.origin}/teams/${dpcRequest.projectNumber}`}``` it works fine but I want to show the "General" folder under Shared%20Documents (we renamed it "Working Papers")
So I added ```defaultFolderAbsolutePath={`${window.location.origin}/teams/${dpcRequest.projectNumber}/Shared%20Documents/General`} ```
But it errors with :``` status='404''
dist/node_modules/@

[2022-02-14 06:21] ShashaShet commented on #1117
HI @AJIXuMuK  - Yes, the item array does get modified in render  via  IViewField. Thanks for Pointing out. I will need to work on that. Thanks or your help.

[2022-02-14 06:21] #1117 closed

[2022-02-14 17:31] Ofer-Gal opened #1129 "Site tab in FilePicker URL and Library"
#### Category
[ ?] Bug

#### Version 3.6.0
When I use webAbsoluteUrl={`${window.location.origin}/teams/${dpcRequest.projectNumber}`} it works fine but I want to show the "General" folder under Shared%20Documents (we renamed it "Working Papers")
So I added defaultFolderAbsolutePath={`${window.location.origin}/teams/${dpcRequest.projectNumber}/Shared%20Documents/General`}
But it errors with : status

[2022-02-15 14:34] DJoshi23 opened #1130 "Placeholder Control not working in Teams theme"
Hi,

I have created SPFx webpart with Placeholder Control and added webpart in Teams application as  a Teams Tab.

Issue Description : If I change the Teams Theme to High contrast then Placeholder Control not looking properly. Please find the below image for your reference

![image](https://user-images.githubusercontent.com/86624727/154082654-4261661c-aff1-4b8c-9521-12a9f8d47d1a.png)

and same typ

[2022-02-15 21:36] ManjulaMasthanvali09 commented on #1121
Can we change the Treeview Icon from
![image](https://user-images.githubusercontent.com/70963603/154153099-36a930de-270a-4216-a0bd-f573022a6d3d.png)

to

plus minus please let us know as shown in below

![image](https://user-images.githubusercontent.com/70963603/154153324-fa45a9c4-4aa2-4ceb-a725-ccf5f42557f7.png)

[2022-02-16 03:15] PathToSharePoint commented on #1122
Well it turns out that it was the answer, I had missed the warning from the docs:
![image](https://user-images.githubusercontent.com/40323257/154189273-20c845ae-7bbf-43ad-971a-948c4cbec997.png)

[2022-02-16 03:15] #1122 closed

[2022-02-16 12:36] wonderplayer commented on #1024
Hello @AJIXuMuK,
Am observing this behaviour in 3.5.0 and 3.6.0 as well.
If I use just <RichText /> control, everything is fine.
I think this might be related to components being re-rendered on every value update with field's default value, which is always one and the same.

I've tried to reproduce the issue with RichText component by simulating DynamicForm behaviour and I succeeded 😊
You can chec

[2022-02-17 11:11] DJoshi23 opened #1132 "File Picker Control not working on Dark Theme in SharePoint and Teams"
Hi,

I am using File Picker control in my SPFx solution. But File Picker not working in dark theme mode in SharePoint and In Teams Application as a Tab .

Please find the below screenshot for reference.

![image](https://user-images.githubusercontent.com/86624727/154469582-26ad66ff-e6ce-4db9-b04d-269e8eff0e74.png)

Versions:
 "@pnp/spfx-controls-react": "3.2.1",
SPFx : 1.12.1

Thank you and advanc

[2022-02-17 13:50] stevebeauge commented on #1071
I think it's not that simple.
The project is itself a SPFX project, which includes test field customizer and test webpart.
It's not a "pure" component library. I think it would be preferable to separate the library from its testing side.

However, I know there's no simple way to do that. I'm struggling on my side for internal projects for this very specific point and there's actually no simple way

[2022-02-21 10:42] tobysroof opened #1135 "Richtext control, can not undo ordered lists"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [  3.6.0       ]

#### Expected / Desired Behavior / Question
When using the RichText Component, when selecting a ordered (numbered) list, and then clicking the ordered list control, we expect the numbered list to be unmade. (this works for unordered lists)

#### Observed B

[2022-02-22 10:15] smukked commented on #450
Posted a hacky fix here: https://stackoverflow.com/a/71219400/18277006

[2022-02-23 10:47] Whiteshark57 opened #1136 "Package version 1.21.2 not available"
#### Category
[ ] Enhancement

[x ] Bug

[ ] Question

#### Version

Current version 1.21.1 trying to update to version 1.21.2

#### Expected / Desired Behavior / Question
Trying to execute command npm install @pnp/spfx-controls-react@1.21.2 --save I'm supposed to be able to update the 1.21.1 version currently used.
Unfortunately, I received an error saying that "No matching version found for @pnp

[2022-02-23 11:59] joelfmrodrigues commented on #1136
Hi @Whiteshark57 , I can confirm that 1.21.2 is not available.

@AJIXuMuK could this be related to the issues we had with GitHub Actions recently?
Found this failed action on the v1 branch from 12 days ago
https://github.com/pnp/sp-dev-fx-controls-react/actions?query=branch%3Av1

[2022-02-23 13:59] AJIXuMuK commented on #1136
There are 2 things in there:
- GH actions
- some of the used indirect dependencies can't be installed anymore

I will take a look there again to see if we can actually do a release.

[2022-02-24 13:13] Whiteshark57 commented on #1136
Hi @AJIXuMuK,
Thanks for your reply. Hope you'll succeed resolving those issue.
Indeed, if everything is fine, I plan to implement the Modern Taxonomy Picker in this version.

[2022-02-24 14:46] WonSong opened #1137 "Carousel's Prev and Next Buttons are not labeled, and read as "Unlabeled button" by screen readers"
Thank you for reporting an issue, suggesting an enhancement, or asking a question. We appreciate your feedback - to help the team understand your
needs please complete the below template to ensure we have the details to help. Thanks!

**Please check out the [documentation](https://pnp.github.io/sp-dev-fx-controls-react/) to see if your question is already addressed there. This will help us ensure

[2022-02-24 19:04] notariorob commented on #1090
You can set the storeLastActiveTab to false to prevent the component from appending anything to the url, which will fix the problem :-) I just faced the same problem and that's what solved it.
https://pnp.github.io/sp-dev-fx-controls-react/controls/FilePicker/#:~:text=should%20be%20hidden.-,storeLastActiveTab,-boolean

[2022-02-24 19:04] notariorob commented on #1090
You can set the storeLastActiveTab to false to prevent the component from appending anything to the url, which will fix the problem :-) I just faced the same problem and that's what solved it.
https://pnp.github.io/sp-dev-fx-controls-react/controls/FilePicker/#:~:text=should%20be%20hidden.-,storeLastActiveTab,-boolean

[2022-02-25 07:34] yungfu opened #1140 "SPHelper -> Cannot read properties of undefined (reading 'getByTitle'))"
#### Category
[ ] Enhancement

[x] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.6.0 ]

#### Expected / Desired Behavior / Question
When FieldRendererHelper.getFieldRenderer try to get a note(multiline) type field render, SPHelper.ts will throw **Cannot read properties of undefined(reading 'getByTitle')** error.
There is a similar bug [#1025](https:

[2022-02-27 19:20] miguelisidoro opened #1141 "Support for SPFx 1.14.0"
[X ] Enhancement

[ ] Bug

[ ] Question

When will SPFx 1.14 be supported? I am using version 3.6.0 and some controls are not working properly with SPFx 1.14. One of the controls is LivePersona.

Thanks
Miguel

[2022-02-28 15:43] jduysen commented on #1116
If anyone ever has an issue with this, you can add the following prop to the DetailsList (the fabric component this component is built on) to prevent virtualization.  It is a workaround but for this version of the details list there is a bug that prevents large lists from rendering after a hundred items or so, if the details list isn't the main component (or that is my understanding).

The filteri

[2022-03-02 20:32] joelfmrodrigues commented on #1141
Hey @miguelisidoro
This is something we have in mind and have discussed already, but it's not yet in beta version.

[2022-03-02 21:52] miguelisidoro commented on #1141
Thanks @joelfmrodrigues. Do you have an estimation on when a new release will be available with support for SPFx 1.14?
It would also be great to remove the dependency on Office UI Fabric and upgrade to Fluent UI.

[2022-03-02 22:12] AJIXuMuK commented on #1141
@miguelisidoro - Fluent UI is not something that is provisioned by SPFx.
PnP Controls is based on the same set of dependencies as SPFx.

[2022-03-03 09:00] miguelisidoro commented on #1141
@AJIXuMuK  thanks. If you take a look at https://github.com/pnp/sp-dev-fx-controls-react/blob/master/package.json, you see that there is a dependency on Office UI Fabric

 "office-ui-fabric-react": "7.174.1",

What I am suggesting is to remove this dependency and make all controls use fluent ui instead and if possible the latest version of fluent ui.

Do you think this is possible?

Thanks
Miguel

[2022-03-03 11:21] mdissel opened #1143 "iFrameDialog with /Lists/../NewForm.aspx?env=WebView is not closing when hit Save/Cancel"
#### Category
[X ] Bug
[X ] Question

#### Expected / Desired Behavior / Question
When loading the url /Lists/../NewForm.aspx?IsDlg=1 (showing the classic form definition), hitting save/cancel will close the dialog due to these additional functions. https://github.com/pnp/sp-dev-fx-controls-react/blob/66d8dbed9b61cb51e294b52c90e690c5620665d7/src/controls/iFrameDialog/IFrameDialogContent.tsx#L41

W

[2022-03-06 09:00] #1141 closed

[2022-03-06 09:41] miguelisidoro commented on #1141
Hello,

Sorry to be questioning again:

- Do you have an estimation on when a new release will be available with support for SPFx 1.14?
- About migration to fluent UI: If you take a look at https://github.com/pnp/sp-dev-fx-controls-react/blob/master/package.json, you see that there is a dependency on Office UI Fabric

"office-ui-fabric-react": "7.174.1",

What I am suggesting is to remove this dep

[2022-03-06 10:03] joelfmrodrigues commented on #1141
@miguelisidoro try the latest beta version 🙂
@AJIXuMuK upgraded the dev branch yesterday

[2022-03-06 19:00] miguelisidoro commented on #1141
Hello @joelfmrodrigues, I tried the latest beta version and the LivePersona control is still not working with SPFx 1.14.
Can you confirm if this control was already tested with SPFx 1.14?

Thanks

[2022-03-07 09:30] kodofix commented on #1136
Hello,

Any updates on that? Is still missing on NPM

[2022-03-09 22:49] AJIXuMuK commented on #1129
@Ofer-Gal - this has been fixed and will be included in the next release

[2022-03-10 00:53] Ofer-Gal commented on #1129
Thank you much! My users love you :-)
Will I need both `defaultFolderAbsolutePath={${window.location.origin}/teams/${dpcRequest.projectNumber}/Shared%20Documents/General}`
and
`webAbsoluteUrl={${window.location.origin}/teams/${dpcRequest.projectNumber}}` or just the first?

[2022-03-10 19:24] AJIXuMuK commented on #1129
Yes - you will need both. otherwise the api requests can be screwed up

[2022-03-11 08:03] fabiofranzini opened #1145 "Add SPFx theme & context property to the AdaptiveCardHost control"
#### Category
[X] Enhancement
[-] Bug
[-] Question

#### Version
Please specify what version of the library you are using: [3.6.0]

#### Expected
Speaking with @joaojmendes about the possible evolutions of the control, and specifically in the creation of a library of additional elements (using MGT for example), it is necessary to pass the "Theme" object and values that come from the "Context" of S

[2022-03-11 09:15] joelfmrodrigues commented on #1145
@fabiofranzini are you aiming to create a PR for this? If so, I can assign this item to you

[2022-03-11 09:46] fabiofranzini commented on #1145
@joelfmrodrigues yes! I'll create the PR in 30 mins 😀

[2022-03-11 10:25] fabiofranzini commented on #1145
@joelfmrodrigues and @joaojmendes done 😀

[2022-03-11 12:34] kpfeuffer opened #1161 "FilePicker: Single- or Mutltiselection Flag"

[2022-03-13 22:34] joelfmrodrigues commented on #1135
Hi @tobysroof  many thanks for reporting the issue. Would you be interested in trying to fix it and submit a pull request?

[2022-03-13 23:27] joelfmrodrigues opened #1149 "Location picker not resolving locations"
#### Category

[x] Bug

#### Version

Please specify what version of the library you are using: [  3.6.0 ]

#### Expected / Desired Behavior / Question
Location picker to show suggestions when typing

#### Observed Behavior
Location picker unable to resolve locations when calling API due to AadHttpClient

#### Steps to Reproduce
Type on location box

[2022-03-13 23:58] joelfmrodrigues commented on #1149
Fixed - next release

[2022-03-14 00:01] joelfmrodrigues commented on #1125
Hi @PathToSharePoint , I just tested this and there is no option to style.
Would you be interested in submitting a PR? It should be a simple change and similar to the properties available in the People picker control

[2022-03-14 00:05] joelfmrodrigues commented on #1130
Hi @DJoshi23, many thanks for reporting this issue. Would you be interested in submitting a PR?
If so, please keep in mind that the solution has been upgraded to SPFx 1.14.0, which introduces some changes to themes
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/release-1.14#web-part-lifecycle-method-for-theme-changes

[2022-03-14 00:05] joelfmrodrigues commented on #1132
Hi @DJoshi23, many thanks for reporting this issue. Would you be interested in submitting a PR?
If so, please keep in mind that the solution has been upgraded to SPFx 1.14.0, which introduces some changes to themes
https://docs.microsoft.com/en-us/sharepoint/dev/spfx/release-1.14#web-part-lifecycle-method-for-theme-changes

[2022-03-14 13:35] mhammadsiddiqui opened #1151 "Text formatting Font size property does not update"
#### Category
[ ] Enhancement

[ x ] Bug

[ ] Question

#### Version

Please specify what version of the library you are using: [ 3.5.0 ]

#### Expected / Desired Behavior / Question

If I update the font size of text through extended menu then Font size property pane value should also be changed.

#### Observed Behavior
Font size of text is changed, but property pane value remains unchanged.

###

[2022-03-14 13:43] mhammadsiddiqui opened #1152 "Adding color or highlights should add classNames instead of inline styles"
#### Category
[ x ] Enhancement

[ ] Bug

[ x ] Question

#### Version

Please specify what version of the library you are using: [     3.5.0    ]

#### Expected / Desired Behavior / Question
_If you are reporting an issue please describe the expected behavior. If you are suggesting an enhancement please
describe thoroughly the enhancement, how it can be achieved, and expected benefit. If you are

[2022-03-14 22:24] Ofer-Gal opened #1153 "Different background color to even and odd rows in ListView"
#### Category
[? ] Enhancement
[? ] Question

#### Version

Please specify what version of the library you are using: [    3.6.0     ]

#### Expected / Desired Behavior / Question
Is there a way to Style even and odd rows in ListView with different color?

[2022-03-15 09:07] fabiofranzini opened #1154 "Remove the "isUniqueControlInPage" from AdaptiveCardHost control by rebuild the way to apply AC CSS class names"
#### Category
[x] Enhancement
[-] Bug
[-] Question

#### Version
Please specify what version of the library you are using: [3.6.0]

#### Expected
Last week I took part in the Adaptive Cards community call and showed the control to the attendees.
After this call I contacted the team behind Adaptive Cards, and they suggested some tips. One of these concerns the implementation of the style for the ho

[2022-03-15 09:48] joelfmrodrigues commented on #1125
@PathToSharePoint that's great ☺️
I have assigned this issue to you (no pressure), but let me know if you change your mind and I can remove it. It's only to try to prevent more than one person working on it

[2022-03-16 06:40] wonderplayer commented on #1024
A solution would be to replace 'Note' case in `getFieldComponent` function with the following:

[code]

New value contains updated value, so rich text field will not set back to old value, which causes re-render to happen multiple times and lose focus.

[2022-03-17 09:19] JLRishe opened #1156 "Custom onClick on FieldTitleRenderer fails with error if id is unspecified"
#### Category
[ ] Enhancement

[X] Bug

[ ] Question

#### Version

3.6.0

#### Expected / Desired Behavior / Question

The [documentation] for FieldTitleRenderer states that the `listId` and `id` props are only required if onClick is not defined.

This means that it should be possible to use a custom `onClick` handler even if `listId` and `id` are unspecified.

#### Observed Behavior

The onClick

[2022-03-17 12:48] milanholemans commented on #1156
I can look at this if it's ok.

[2022-03-18 09:23] JLRishe commented on #1156
@milanholemans Thank you for offering to help. It's clear why the issue is happening, but think it would be best if someone from the MS team could weigh in on what the correct fix would be.

It could be one of the following:

- Simply change `this.props.id.toString()` to `this.props.id?.toString()` so that the property access doesn't fail.
- Change the documentation to indicate `id` and `listId` a

[2022-03-18 20:03] #1024 closed

[2022-03-18 20:03] #1120 closed

[2022-03-18 20:03] #1129 closed

[2022-03-18 20:03] #1137 closed

[2022-03-18 20:03] #1149 closed

[2022-03-19 13:34] miguelisidoro commented on #1141
Hello @joelfmrodrigues, I tried the version 3.7.0 and the LivePersona control is still not working with SPFx 1.14.
I deleted node_modules and executed npm install again.
Can you confirm if this control was already tested with SPFx 1.14?

About upgrading dependencies from Office UI Fabric to Fluent UI when do you think this will be possible?

Thanks

[2022-03-20 01:08] mikezimm opened #1158 "react ListView component: Can you show multi-select columns in a view?"
#### Category
[x] Enhancement

[ ] Bug

[x] Question

#### Version
Please specify what version of the library you are using: [    Latest     ]

#### Expected / Desired Behavior / Question
I would like to be able to show a multi-select column in a view.

#### Observed Behavior
I can't find anything in docs indicating how to do this outside of first convert all the values into a single string.

####

[2022-03-20 03:24] PathToSharePoint commented on #1125
I took a closer look, and here is the issue I am trying to address (no pun intended): if the address is too long, it pushes the delete control (cross) outside of the viewport, and it becomes impossible to edit the field.

I think the easiest way to fix the issue is to crop the address and append an ellipsis, like it's done in the list picker. Another way would be to display the address on multiple

[2022-03-20 03:46] PathToSharePoint commented on #1125
Looking at the code, I found in `LocationPicker.module.scss` a class name `persona`. That should allow me to inject some additional styling, without major refactoring.

[2022-03-20 04:28] PathToSharePoint commented on #1125
@ravichandran-blog  and @AJIXuMuK, I see that you are the authors of this control.

I plan to remove `width: fit-content;` in `LocationPicker.module.scss` as it seems to be what's causing the issue. Do you see any objection?
[code]
Once I remove it, the text gets truncated and the control fits in the width. For context, all my screenshots are from the SPFx Property Pane, which has a width of aroun

[2022-03-20 13:25] ravichandran-blog commented on #1125
@PathToSharePoint Awesome! go ahead

[2022-03-20 16:40] PathToSharePoint commented on #1125
@ravichandran-blog PR submitted!

Unrelated to this issue, the only event handler I see is onChange, I didn't see an event handler for clear. If you clear the control, the app will still retain the previous value until you pick a new location. Am I missing something?

[2022-03-20 23:47] PathToSharePoint commented on #1125
And I just ran into another issue, the location finder gives me a 401 when I run it from the root site tenant.sharepoint.com/_layouts/15/workbench.aspx. I'll need to do more testing before opening an issue but wanted to pass the info.

[2022-03-21 05:46] PathToSharePoint commented on #1125
I have posted my sample to Github, here is the link in case you want to test:
https://github.com/PathToSharePoint/React-PPP-PnP-Controls

[2022-03-21 10:17] joelfmrodrigues commented on #1125
@PathToSharePoint awesome updates :)
PS: I was able to recreate the issue on the root site as well.

[2022-03-21 10:31] fabiofranzini opened #1159 "Missing description pages for new controls in version 3.7.0"
#### Category
[ ] Enhancement
[X] Bug
[ ] Question

#### Version

Please specify what version of the library you are using: [3.7.0]

#### Observed Behavior
Hi, I noticed that on the site "https://pnp.github.io/sp-dev-fx-controls-react/" the description pages of the controls added to version 3.7.0 are missing and also the reference to the authors in the "about" section.

Thanks!

[2022-03-21 13:53] joelfmrodrigues commented on #259
@hugoabernier we now have a persona control in the library. Can we close this issue?

[2022-03-21 13:57] joelfmrodrigues commented on #1141
Hey @miguelisidoro
Sorry for the lack of communication, really struggling to keep on top of everything that is going on

I am not sure if Live persona was explicitly tested with 1.14, so if it's not working for you it may be an issue - could you please open a new one and provide details?

Regarding Fluent UI, as Alex mentioned, the idea is to keep the same dependency that is used by default by SPF

[2022-03-21 14:04] hugoabernier commented on #259
Absolutely! Thank you!!!

[2022-03-21 14:04] #259 closed

[2022-03-21 15:34] mikezimm commented on #1158
Just a small update... I did manage to engineer a temporary solution in my web part by:

1. Checking all columns to see if they value is 'an array' and if it is,
2. Then if they are an array....
3. 'Join' all the values in the array with a semi-colon
4. Create a new property on the item called 'OldColumNameMultiValue'.
5. Add the joined string to that new property.
6. Then update the IView column